<template name="sideSection">
  <style>{{> styleRendaPage}}</style>
    <div class="post-preview">
        <div class="panel panel-default">
            <div class="panel-heading"><h4><a href="/{{subjectType}}/{{_id}}">{{#if shared}}{{{justText title}}}{{else}}{{title}}{{/if}}</a></h4></div>
            <div class="panel-body post-image"><img src="{{imglink}}">{{#if shared}} {{{justText subtitle}}} {{else}} {{subtitle}} {{/if}}<br><i>Posted by <b><a href="/j/{{articleUsername}}" target="_blank">{{author owner}}</a></b></i></div>
        </div>
    </div>
    <hr>
</template>
