<template name="draft">
<!-- Draft -->
	<div id="draft" style="display:none">
	    <!-- Page Header -->
	    <!-- Set your background image for this header on the line below. -->
	    <header class="intro-header" style="background-image: url('img/portals/images/13.jpeg')">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	                    <div class="post-heading">
	                        <h1 id="title"></h1>
	                        <h2 class="subheading" id="subtitle"></h2>
	                        <span class="meta">Posted by <a href="#" id="author"></a>  <a href="twitter.com/{{twitter}}" id="twitter"></a></span>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </header>

	    <!-- Post Content -->
	    <article>
	        <div class="container">
	            <div class="row">
		            <div class="row">
                        <div class="form-group col-xs-12">
                        	<center>
                        		<div style="display:inline" class="publish"><button type="submit" class="btn btn-success">Publish</button></div>
                    			<div style="display:inline" class="discard"><button class="btn btn-danger" type="submit">Discard</button></div>
                            </center>
                        </div>
	                </div>
	                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	                    <b id="city"></b> <b>-</b> <span id="article"></span>
	                </div>
	            </div>
	        </div>
	    </article>

	    <hr>

		<div class="row">
            <div class="form-group col-xs-12">
            	<center>
                    <div style="display:inline" class="publish"><button type="submit" class="btn btn-success">Publish</button></div>
                    <div style="display:inline" class="discard"><button class="btn btn-danger" type="submit">Discard</button></div>
                </center>
            </div>
        </div>
	</div>
</template>