<!--Summernote Editor -->
<template name="editor">
 <div id="summernote">
     <!--Placeholder Text -->
     <center>
       <h1>What's on your mind?</h1>
       <p>Erase this to begin! To publish click preview draft and then click publish. You can write articles, upload images and add videos!</p>
     </center>
   </div>
   <script>
     //initialize the editor
     $('#summernote').summernote({
       height: 500,
       minHeight: 200,
       maxHeight: null,
       focus: true,
       disableDragAndDrop: false,
       toolbar: [
         ['style',['style']],
         ['font', ['bold', 'italic', 'underline' /*,'clear'*/]],
         //['fontname', ['fontname']],
         ['font', ['strikethrough', 'superscript', 'subscript']],
         //['fontsize', ['fontsize']],
         /*['color', ['color']],*/
         ['para',['ul','ol','paragraph']],
         ['table',['table']],
         ['insert',['link','picture', 'video']],
         ['view',['fullscreen']],
         ['help',['help']]
       ]
     });
     $(document).ready(function(){$('#summernote').summernote();}); //runs the editor
   </script>
</template>
