<!-- Footer -->
<template name="footer1">
  <br><br>
 <footer>
       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
           <p class="text-center list-inline" id="date">{{> date}}</p>
                   <ul class="list-inline text-center">
                       <li>
                           <a href="/contact" title="Email Us">
                               <span class="fa-stack fa-lg">
                                   <i class="fa fa-circle fa-stack-2x"></i>
                                   <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                               </span>
                           </a>
                       </li>
                   </ul>
                   <p class="text-center list-inline">
                       <a href="/contact">Contact</a>
                       <a href="/about">About</a>
                       <a href="/post">Sample Post</a>
                       <a href="/postform">Upload</a>
                   </p>
                   <p class="copyright text-muted">Copyright &copy; //TheDigitalTimes 2016</p>
               </div>
           </div>
       </div>
   </footer>
</template>
