<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>

<template name="addList">
	<form>Create a list...
		<input type="text" placeholder="List name here..." name="listName">
	</form>
</template>

<template name="lists">
	<h2><a href="{{pathFor route='lists'}}">Lists</a></h2>
	{{> addList}}
	<ul>
		{{#each list}}
			<li><a href="/lists/{{_id}}">{{name}}</a></li>
		{{/each}}
	</ul>
</template>

<template name="listPage">
	<h2>Tasks: {{name}}</h2>
</template>
