<template name="register">
    <div style="text-align:center"><h4><span style="color:darkgray">To post, debate, comment or like you need to login</span></h4></div>
    <form>
        <input type="email" name="signupEmail" placeholder="email">
        <input type="password" name="signupPassword" placeholder="password">
        <input type="submit" value="Sign Up">
    </form>
</template>
<!--
<template name="check">
	{{#if currentUser}}
        {{> dashboard}}
    {{else}}
        {{> signup}}
        {{> login}}
    {{/if}}
</template>

<template name="dashboard">
	<p>You're logged in.</p>
    <p><a href="#" class="logout">Logout</a></p>
</template>
-->
<template name="signup">
<head>
	<title>The Digital Times - Sign up</title>
	<style>
		body {
	        padding-top: 25px;
	    }
	</style>
</head>
<body>
	{{> constNavFix}}
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Be sure to fill out your name correctly because that's how we'll attribute you!</p>
                <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                <form name="signup" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            <input type="email" class="form-control" placeholder="Email Address" required data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password"  required data-validation-required-message="Please enter your password.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-warning">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
 </body>
 </template>