<template name="worldSections">
<!--left-->
  <div class="col-sm-3">
        <h2>Side</h2>
      <div class="panel panel-default">
          <div class="panel-heading">Title</div>
          <div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.</div>
        </div>
        <hr>
        <div class="panel panel-default">
          <div class="panel-heading">Title</div>
          <div class="panel-body">Content here..</div>
        </div>
        <hr>
        <div class="panel panel-default">
          <div class="panel-heading">Title</div>
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.</div>
        </div>
        <hr>
        <div class="panel panel-default">
          <div class="panel-heading">Title</div>
          <div class="panel-body">Content here..</div>
        </div>
        <hr>
  </div><!--/left-->

  <!--center-->
  <div class="col-sm-6">
    {{#each articles}}
      {{> articleHead}}
    {{/each}}
  </div><!--/center-->

  <!--right-->
  <div class="col-sm-3">
        <h2>Side</h2>
      <div class="panel panel-default">
          <div class="panel-heading">Title</div>
          <div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.</div>
        </div>
        <hr>
        <div class="panel panel-default">
          <div class="panel-heading">Title</div>
          <div class="panel-body">Content here..</div>
        </div>
        <hr>
        <div class="panel panel-default">
          <div class="panel-heading">Title</div>
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.</div>
        </div>
        <hr>
        <div class="panel panel-default">
          <div class="panel-heading">Title</div>
          <div class="panel-body">Content here..</div>
        </div>
        <hr>
  </div><!--/right-->
  <hr>
</template>
