<head>
	<link rel="icon" href="/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="fragment" content="!">
	<link href="https://plus.google.com/108760071287912150576" rel="publisher" />
</head>
