<template name="admin">
  {{#if currentUser.admin}}
<head>
  {{> gchart}}
  <script>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

      var data = google.visualization.arrayToDataTable([
        ['Users', 'Number'],
        ['facebook', Meteor.users.find({"services.facebook": {$exists: true}}).count()],
        ['twitter', Meteor.users.find({"services.twitter": {$exists: true}}).count()],
        ['normal',  Meteor.users.find({username: {$exists: true}}).count()]
      ]);

      var options = {
        title: 'Users'
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart'));

      chart.draw(data, options);
    }
    </script>
  <style>
    {{> navInverse}}
    {{> button}}
    {{> flatBody}}
  </style>
</head>
{{> constNavFix}}
<br><br><br>
  <body>
    <div class="container-fluid">
      <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="card" style="border:1px solid black; background-color: #e74c3c;">
      <center>
      <div class="card-block" style="color: white;">
        <h2 class="card-title"><i class="fa fa-users"></i> {{numUsers}} Number of Users</h2>
        <p class="card-text">Total number of users on website</p>
      </div>
    </center>
      </div>
    </div>

  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div class="card" style="border:1px solid black; background-color: #e67e22;">
    <center>
    <div class="card-block" style="color: white;">
      <h2 class="card-title"><i class="fa fa-twitter"></i> {{numUsersTwitter}} Number of Twitter Users</h2>
      <p class="card-text">Total number of Twitter users on website</p>
    </div>
  </center>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div class="card" style="border:1px solid black; background-color: #2ecc71;">
    <center>
    <div class="card-block" style="color: white;">
      <h2 class="card-title"><i class="fa fa-facebook"></i> {{numUsersFB}} Number of Facebook Users</h2>
      <p class="card-text">Total number of Facebook users on website</p>
    </div>
  </center>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div class="card" style="border:1px solid black; background-color: #9b59b6;">
    <center>
    <div class="card-block" style="color: white;">
      <h2 class="card-title"><i class="fa fa-newspaper-o"></i> {{numArticles}} Number of Articles</h2>
      <p class="card-text">Total number of Articles on website</p>
    </div>
  </center>
    </div>
  </div>
</div>
</div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div id="piechart" style="width: 900px; height: 500px;"></div>
  </div>
</body>
{{else}}
{{> search}}
{{/if}}
</template>

<template name="gchart">
<script>
(function (){ var b="",aa="\x00",ba="\n",ca="\n//# sourceURL=",da="\n;return exports});\n//# sourceURL=",k=" ",ea=" &#160;",fa=" onreadystatechange='goog.onScriptLoad_(this, ",ga=" should not be enumerable in Object.prototype.",l='"',ha='");',ia='">\x3c/script>',ja="#",ka="$1",la="%s",q="&",ma="&#0;",na="&#101;",oa="&#39;",pa="&amp;",qa="&gt;",ra="&lt;",sa="&quot;",ta="'",ua="(^",va=")' ",wa=")([a-z])",xa=");",ya=", ",za="-",Aa="-$1",t=".",Ba="..",Ca="...",Da="/",u="0",Ea="0,(function(){",v=": ",Fa="<",Ga="\x3c/script>",
Ha="<br />",Ia="<br>",Ja='<script type="text/javascript" src="',Ka='<script type="text/javascript">',La=">",Na=">\x3c/script>",Oa="?",Pa="Already loaded ",Qa="American Samoa",Ra="Antigua and Barbuda",Sa="Assertion failed",Ta="BY_WHOLE",w="Bolivia",x="Bosna i Hercegovina",Ua="Botswana",Va="British Virgin Islands",Wa="Cayman Islands",Xa="Christmas Island",Ya="Expected Element but got %s: %s.",Za="Expected array but got %s: %s.",$a="Expected boolean but got %s: %s.",ab="Expected function but got %s: %s.",
bb="Expected instanceof %s but got %s.",cb="Expected number but got %s: %s.",db="Expected object but got %s: %s.",eb="Expected string but got %s: %s.",fb="Failure",gb="Falkland Islands",y="Ghana",hb="Guin\u00e9e \u00e9quatoriale",ib="Guyane fran\u00e7aise",jb="HEAD",kb="Honduras",lb="Indonesia",mb="Itoophiyaa",nb="JavaScript",ob="Kalaallit Nunaat",pb="Kiribati",qb="Load packages + dependencies - previous: ",rb="Loading css files: ",sb="LocaleNameConstants",tb="Luxembourg",ub="Madagascar",vb="Marshall Islands",
z="Micronesia",wb="Moldova, Republica",xb="Nederlandse Antillen",yb="New Zealand",A="Nigeria",zb="Norfolk Island",Ab="Northern Mariana Islands",Bb="Nouvelle-Cal\u00e9donie",C="Papua New Guinea",Cb="Paraguay",Db="Philippines",Eb="Polyn\u00e9sie fran\u00e7aise",Fb="Puerto Rico",Gb="Rep\u00fablica Dominicana",D="Rwanda",Hb="Rywvaneth Unys",Ib="R\u00e9publique centrafricaine",Jb="R\u00e9publique d\u00e9mocratique du Congo",Kb="SCRIPT",Lb="Saint Kitts and Nevis",Mb="Saint Vincent and the Grenadines",Nb=
"Saint-Pierre-et-Miquelon",Qb="Serbia and Montenegro",Rb="Seychelles",Sb="Slovensk\u00e1 republika",Tb="Solomon Islands",E="South Africa",Ub="Svalbard og Jan Mayen",Vb="Swaziland",Wb="S\u00e3o Tom\u00e9 e Pr\u00edncipe",F="S\u00e9n\u00e9gal",Xb="Tanzania",Yb="Timor Leste",G="Tokelau",Zb="Turks and Caicos Islands",H="Tuvalu",I="T\u00fcrkiye",$b="U.S. Virgin Islands",ac="United Kingdom",bc="United States",cc="United States Minor Outlying Islands",dc="Unknown or Invalid Region",J="Vanuatu",ec="Wallis-et-Futuna",
fc="[object Array]",gc="[object Function]",hc="[object Window]",ic="\\$1",jc="\\s",kc="\\u",lc="\\x",mc="\\x08",nc="]+",K="_",oc="amp",pc="annotatedtimeline",L="array",qc="base.js",rc="boolean",M="browserchart",sc="call",tc="callback after loading ",N="complete",O="corechart",uc="div",vc="document",P="dygraph",wc="e",Q="en",xc="end loadScript: ",yc="error",R="function",zc="g",Ac="get",Bc="goog.loadModule(",Cc='goog.loadModule(function(exports) {"use strict";',Dc='goog.retrieveAndExecModule_("',Ec=
"goog_",Fc="google.charts.load",Gc="google.charts.load version ",Hc="gt",Ic="head",Jc="href",Kc="id",Lc="iframe",S="imagechart",Mc="javascript",Nc="link",Oc="load",Pc="load-css-",Qc="loadCSSFile: ",Rc="loadScript: ",Sc="loading css failed: ",Tc="lt",Uc="native code",Vc="none",Wc="null",Xc="number",Yc="o",T="object",Zc="onload",$c="quot",ad="rel",bd="removeAttribute",cd="script",dd="splice",ed="string",fd="stylesheet",gd="text/css",hd="text/javascript",id="type",U="ui",V="ui_base",jd="unknown",kd=
"unknown type name",ld="var ",md="var _evalTest_ = 1;",nd="visualization",od="webfontloader",pd="write",qd="{cssFile}",rd="{language}",sd="{package}",td="{prefix}",ud="{prefix}/{version}/css/{cssFile}",vd="{prefix}/{version}/third_party/{package}",wd="{version}",xd="|[",yd="})",zd="~",Ad="\u0080",Bd="\u010cesk\u00e1 republika",Cd="\u0411\u0435\u043b\u0430\u0440\u0443\u0441\u044c",Dd="\u041a\u044b\u0440\u0433\u044b\u0437\u0441\u0442\u0430\u043d",Ed="\u043c\u043e\u043d\u0433\u043e\u043b\u044c\u0441\u043a\u0438\u0439",
Fd="\u0540\u0561\u0575\u0561\u057d\u057f\u0561\u0576\u056b \u0540\u0561\u0576\u0580\u0561\u057a\u0565\u057f\u0578\u0582\u0569\u056b\u0582\u0576",Gd="\u0627\u0641\u063a\u0627\u0646\u0633\u062a\u0627\u0646",Hd="\u0627\u0644\u0627\u0645\u0627\u0631\u0627\u062a \u0627\u0644\u0639\u0631\u0628\u064a\u0629 \u0627\u0644\u0645\u062a\u062d\u062f\u0629",Id="\u0627\u0644\u0635\u062d\u0631\u0627\u0621 \u0627\u0644\u063a\u0631\u0628\u064a\u0629",Jd="\u0627\u0644\u0645\u0645\u0644\u0643\u0629 \u0627\u0644\u0639\u0631\u0628\u064a\u0629 \u0627\u0644\u0633\u0639\u0648\u062f\u064a\u0629",
Kd="\u0627\u0644\u0648\u0644\u0627\u064a\u0627\u062a \u0627\u0644\u0645\u062a\u062d\u062f\u0629 \u0627\u0644\u0623\u0645\u0631\u064a\u0643\u064a\u0629",Ld="\u062c\u0632\u0631 \u0627\u0644\u0642\u0645\u0631",Md="\u067e\u0627\u06a9\u0633\u062a\u0627\u0646",W="\u092d\u093e\u0930\u0924",X="\u12a2\u1275\u12ee\u1335\u12eb",Nd="\uc870\uc120 \ubbfc\uc8fc\uc8fc\uc758 \uc778\ubbfc \uacf5\ud654\uad6d",Od="\ufffd";function Y(){return function(){}}var Z=Z||{};Z.global=this;Z.O=function(a){return void 0!==a};
Z.ya=function(a,c,d){a=a.split(t);d=d||Z.global;a[0]in d||!d.execScript||d.execScript(ld+a[0]);for(var e;a.length&&(e=a.shift());)!a.length&&Z.O(c)?d[e]=c:d=d[e]?d[e]:d[e]={}};Z.we=function(a,c){Z.ya(a,c)};Z.I=!0;Z.Cd=Q;Z.ra=!0;Z.ec=!1;Z.Nb=!Z.I;Z.Wa=!1;Z.Ff=function(a){Z.cb(a)};Z.cb=function(a,c){Z.ya(a,c)};Z.mc=/^[a-zA-Z_$][a-zA-Z0-9._$]*$/;
Z.Ma=function(a){if(!Z.i(a)||!a||-1==a.search(Z.mc))throw Error("Invalid module identifier");if(!Z.Kc())throw Error("Module "+a+" has been loaded incorrectly.");if(Z.l.Na)throw Error("goog.module may only be called once per module.");Z.l.Na=a};Z.Ma.get=Y();Z.Ma.He=Y();Z.l=null;Z.Kc=function(){return null!=Z.l};Z.Ma.fb=function(){Z.l.fb=!0};Z.Yf=function(a){if(Z.Nb)throw a=a||b,Error("Importing test-only code into non-debug environment"+(a?v+a:t));};Z.Ce=Y();
Z.Oe=function(a){a=a.split(t);for(var c=Z.global,d;d=a.shift();)if(Z.Hc(c[d]))c=c[d];else return null;return c};Z.Te=function(a,c){var d=c||Z.global,e;for(e in a)d[e]=a[e]};Z.Jd=function(a,c,d,e){if(Z.Ua){var f;a=a.replace(/\\/g,Da);for(var g=Z.j,h=0;f=c[h];h++)g.S[f]=a,g.Pa[a]=!!e;for(e=0;c=d[e];e++)a in g.H||(g.H[a]={}),g.H[a][c]=!0}};Z.xg=!1;Z.zd=!0;Z.tf=function(a){Z.global.console&&Z.global.console.error(a)};Z.Sf=Y();Z.G=b;Z.Af=Y();
Z.Id=function(){throw Error("unimplemented abstract method");};Z.Kd=function(a){a.Ge=function(){if(a.ub)return a.ub;Z.I&&(Z.vb[Z.vb.length]=a);return a.ub=new a}};Z.vb=[];Z.Vb=!0;Z.cc=Z.I;Z.Uc={};Z.Ua=!1;
Z.Ua&&(Z.j={Pa:{},S:{},H:{},Gb:{},qa:{},X:{}},Z.sb=function(){var a=Z.global.document;return"undefined"!=typeof a&&pd in a},Z.Ac=function(){if(Z.O(Z.global.Kb))Z.G=Z.global.Kb;else if(Z.sb())for(var a=Z.global.document.getElementsByTagName(Kb),c=a.length-1;0<=c;--c){var d=a[c].src,e=d.lastIndexOf(Oa),e=-1==e?d.length:e;if(d.substr(e-7,7)==qc){Z.G=d.substr(0,e-7);break}}},Z.Ga=function(a,c){(Z.global.rd||Z.od)(a,c)&&(Z.j.qa[a]=!0)},Z.Ub=!(Z.global.atob||!Z.global.document||!Z.global.document.all),
Z.Fc=function(a){Z.Ga(b,Dc+a+ha)&&(Z.j.qa[a]=!0)},Z.Qa=[],Z.zg=function(a,c){return Z.Vb&&Z.O(Z.global.JSON)?Bc+Z.global.JSON.stringify(c+ca+a+ba)+xa:Cc+c+da+a+ba},Z.Sc=function(){var a=Z.Qa.length;if(0<a){var c=Z.Qa;Z.Qa=[];for(var d=0;d<a;d++)Z.zb(c[d])}},Z.uf=function(a){Z.wb(a)&&Z.nc(a)&&Z.zb(Z.G+Z.Fa(a))},Z.wb=function(a){return(a=Z.Fa(a))&&Z.j.Pa[a]?Z.G+a in Z.j.X:!1},Z.nc=function(a){if((a=Z.Fa(a))&&a in Z.j.H)for(var c in Z.j.H[a])if(!Z.Mc(c)&&!Z.wb(c))return!1;return!0},Z.zb=function(a){if(a in
Z.j.X){var c=Z.j.X[a];delete Z.j.X[a];Z.Ec(c)}},Z.sf=function(a){var c=Z.l;try{Z.l={Na:void 0};var d;if(Z.xb(a))d=a.call(Z.global,{});else if(Z.i(a))d=Z.Qc.call(Z.global,a);else throw Error("Invalid module definition");var e=Z.l.Na;if(!Z.i(e)||!e)throw Error('Invalid module name "'+e+l);Z.l.fb?Z.cb(e,d):Z.cc&&Object.seal&&Object.seal(d);Z.Uc[e]=d}finally{Z.l=c}},Z.Qc=function(a){eval(a);return{}},Z.md=function(a){Z.global.document.write(Ja+a+ia)},Z.pc=function(a){var c=Z.global.document,d=c.createElement(cd);
d.type=hd;d.src=a;d.defer=!1;d.async=!1;c.head.appendChild(d)},Z.od=function(a,c){if(Z.sb()){var d=Z.global.document;if(!Z.Wa&&d.readyState==N){if(/\bdeps.js$/.test(a))return!1;throw Error('Cannot write "'+a+'" after document load');}var e=Z.Ub;void 0===c?e?(e=fa+ ++Z.yb+va,d.write(Ja+a+l+e+Na)):Z.Wa?Z.pc(a):Z.md(a):d.write(Ka+c+Ga);return!0}return!1},Z.yb=0,Z.Cf=function(a,c){a.readyState==N&&Z.yb==c&&Z.Sc();return!0},Z.Ag=function(a){function c(a){if(!(a in f.qa||a in f.Gb)){f.Gb[a]=!0;if(a in f.H)for(var g in f.H[a])if(!Z.Mc(g))if(g in
f.S)c(f.S[g]);else throw Error("Undefined nameToPath for "+g);a in e||(e[a]=!0,d.push(a))}}var d=[],e={},f=Z.j;c(a);for(a=0;a<d.length;a++){var g=d[a];Z.j.qa[g]=!0}var h=Z.l;Z.l=null;for(a=0;a<d.length;a++)if(g=d[a])f.Pa[g]?Z.Fc(Z.G+g):Z.Ga(Z.G+g);else throw Z.l=h,Error("Undefined script input");Z.l=h},Z.Fa=function(a){return a in Z.j.S?Z.j.S[a]:null},Z.Ac(),Z.global.td||Z.Ga(Z.G+"deps.js"));
Z.xf=function(a){a=a.split(Da);for(var c=0;c<a.length;)a[c]==t?a.splice(c,1):c&&a[c]==Ba&&a[c-1]&&a[c-1]!=Ba?a.splice(--c,2):c++;return a.join(Da)};Z.rf=function(a){if(Z.global.Lb)return Z.global.Lb(a);var c=new Z.global.XMLHttpRequest;c.open(Ac,a,!1);c.send();return c.responseText};Z.Tf=Y();
Z.s=function(a){var c=typeof a;if(c==T)if(a){if(a instanceof Array)return L;if(a instanceof Object)return c;var d=Object.prototype.toString.call(a);if(d==hc)return T;if(d==fc||typeof a.length==Xc&&"undefined"!=typeof a.splice&&"undefined"!=typeof a.propertyIsEnumerable&&!a.propertyIsEnumerable(dd))return L;if(d==gc||"undefined"!=typeof a.call&&"undefined"!=typeof a.propertyIsEnumerable&&!a.propertyIsEnumerable(sc))return R}else return Wc;else if(c==R&&"undefined"==typeof a.call)return T;return c};
Z.hf=function(a){return null===a};Z.Hc=function(a){return null!=a};Z.isArray=function(a){return Z.s(a)==L};Z.Ia=function(a){var c=Z.s(a);return c==L||c==T&&typeof a.length==Xc};Z.cf=function(a){return Z.$(a)&&typeof a.getFullYear==R};Z.i=function(a){return typeof a==ed};Z.Gc=function(a){return typeof a==rc};Z.Lc=function(a){return typeof a==Xc};Z.xb=function(a){return Z.s(a)==R};Z.$=function(a){var c=typeof a;return c==T&&null!=a||c==R};Z.pb=function(a){return a[Z.F]||(a[Z.F]=++Z.jd)};Z.Ue=function(a){return!!a[Z.F]};
Z.ad=function(a){bd in a&&a.removeAttribute(Z.F);try{delete a[Z.F]}catch(c){}};Z.F="closure_uid_"+(1E9*Math.random()>>>0);Z.jd=0;Z.Ee=Z.pb;Z.Qf=Z.ad;Z.uc=function(a){var c=Z.s(a);if(c==T||c==L){if(a.clone)return a.clone();var c=c==L?[]:{},d;for(d in a)c[d]=Z.uc(a[d]);return c}return a};Z.tc=function(a,c,d){return a.call.apply(a.bind,arguments)};
Z.rc=function(a,c,d){if(!a)throw Error();if(2<arguments.length){var e=Array.prototype.slice.call(arguments,2);return function(){var d=Array.prototype.slice.call(arguments);Array.prototype.unshift.apply(d,e);return a.apply(c,d)}}return function(){return a.apply(c,arguments)}};Z.bind=function(a,c,d){Function.prototype.bind&&-1!=Function.prototype.bind.toString().indexOf(Uc)?Z.bind=Z.tc:Z.bind=Z.rc;return Z.bind.apply(null,arguments)};
Z.Yc=function(a,c){var d=Array.prototype.slice.call(arguments,1);return function(){var c=d.slice();c.push.apply(c,arguments);return a.apply(this,c)}};Z.vf=function(a,c){for(var d in c)a[d]=c[d]};Z.now=Z.ra&&Date.now||function(){return+new Date};
Z.Ec=function(a){if(Z.global.execScript)Z.global.execScript(a,nb);else if(Z.global.eval){if(null==Z.Y)if(Z.global.eval(md),"undefined"!=typeof Z.global._evalTest_){try{delete Z.global._evalTest_}catch(c){}Z.Y=!0}else Z.Y=!1;if(Z.Y)Z.global.eval(a);else{var d=Z.global.document,e=d.createElement(Kb);e.type=hd;e.defer=!1;e.appendChild(d.createTextNode(a));d.body.appendChild(e);d.body.removeChild(e)}}else throw Error("goog.globalEval not available");};Z.Y=null;
Z.De=function(a,c){function d(a){a=a.split(za);for(var c=[],d=0;d<a.length;d++)c.push(e(a[d]));return c.join(za)}function e(a){return Z.eb[a]||a}var f;f=Z.eb?Z.xc==Ta?e:d:function(a){return a};return c?a+za+f(c):f(a)};Z.Uf=function(a,c){Z.eb=a;Z.xc=c};Z.Ke=function(a,c){c&&(a=a.replace(/\{\$([^}]+)}/g,function(a,e){return e in c?c[e]:a}));return a};Z.Le=function(a){return a};Z.Aa=function(a,c){Z.ya(a,c,void 0)};Z.Ae=function(a,c,d){a[c]=d};
Z.Ha=function(a,c){function d(){}d.prototype=c.prototype;a.oa=c.prototype;a.prototype=new d;a.prototype.constructor=a;a.qc=function(a,d,g){for(var h=Array(arguments.length-2),m=2;m<arguments.length;m++)h[m-2]=arguments[m];return c.prototype[d].apply(a,h)}};
Z.qc=function(a,c,d){var e=arguments.callee.caller;if(Z.ec||Z.I&&!e)throw Error("arguments.caller not defined.  goog.base() cannot be used with strict mode code. See http://www.ecma-international.org/ecma-262/5.1/#sec-C");if(e.oa){for(var f=Array(arguments.length-1),g=1;g<arguments.length;g++)f[g-1]=arguments[g];return e.oa.constructor.apply(a,f)}f=Array(arguments.length-2);for(g=2;g<arguments.length;g++)f[g-2]=arguments[g];for(var g=!1,h=a.constructor;h;h=h.oa&&h.oa.constructor)if(h.prototype[c]===
e)g=!0;else if(g)return h.prototype[c].apply(a,f);if(a[c]===e)return a.constructor.prototype[c].apply(a,f);throw Error("goog.base called from a method of one name to a method of a different name");};Z.scope=function(a){a.call(Z.global)};Z.Dd=!1;
Z.u=function(a,c){var d=c.constructor,e=c.dd;d&&d!=Object.prototype.constructor||(d=function(){throw Error("cannot instantiate an interface (no constructor defined).");});d=Z.u.vc(d,a);a&&Z.Ha(d,a);delete c.constructor;delete c.dd;Z.u.Ya(d.prototype,c);null!=e&&(e instanceof Function?e(d):Z.u.Ya(d,e));return d};Z.u.bc=Z.I;
Z.u.vc=function(a,c){if(Z.u.bc&&Object.seal instanceof Function){if(c&&c.prototype&&c.prototype[Z.kc])return a;var d=function(){var c=a.apply(this,arguments)||this;c[Z.F]=c[Z.F];this.constructor===d&&Object.seal(c);return c};return d}return a};Z.u.Xa="constructor hasOwnProperty isPrototypeOf propertyIsEnumerable toLocaleString toString valueOf".split(" ");
Z.u.Ya=function(a,c){for(var d in c)Object.prototype.hasOwnProperty.call(c,d)&&(a[d]=c[d]);for(var e=0;e<Z.u.Xa.length;e++)d=Z.u.Xa[e],Object.prototype.hasOwnProperty.call(c,d)&&(a[d]=c[d])};Z.fg=Y();Z.kc="goog_defineClass_legacy_unsealable";Z.debug={};Z.debug.Error=function(a){if(Error.captureStackTrace)Error.captureStackTrace(this,Z.debug.Error);else{var c=Error().stack;c&&(this.stack=c)}a&&(this.message=String(a))};Z.Ha(Z.debug.Error,Error);Z.debug.Error.prototype.name="CustomError";Z.gb={};Z.gb.$b={Ob:1,pd:2,Hd:3,qd:4,Bd:5,Ad:6,Gd:7,ud:8,wd:9,yd:10,xd:11,Ed:12};Z.f={};Z.f.Va=!1;Z.f.Qb=!1;Z.f.lc={Yb:"\u00a0"};Z.f.startsWith=function(a,c){return 0==a.lastIndexOf(c,0)};Z.f.endsWith=function(a,c){var d=a.length-c.length;return 0<=d&&a.indexOf(c,d)==d};Z.f.ke=function(a,c){return 0==Z.f.bb(c,a.substr(0,c.length))};Z.f.ge=function(a,c){return 0==Z.f.bb(c,a.substr(a.length-c.length,c.length))};Z.f.je=function(a,c){return a.toLowerCase()==c.toLowerCase()};
Z.f.ed=function(a,c){for(var d=a.split(la),e=b,f=Array.prototype.slice.call(arguments,1);f.length&&1<d.length;)e+=d.shift()+f.shift();return e+d.join(la)};Z.f.me=function(a){return a.replace(/[\s\xa0]+/g,k).replace(/^\s+|\s+$/g,b)};Z.f.Ja=function(a){return/^[\s\xa0]*$/.test(a)};Z.f.ef=function(a){return 0==a.length};Z.f.Ic=Z.f.Ja;Z.f.Jc=function(a){return Z.f.Ja(Z.f.Vc(a))};Z.f.df=Z.f.Jc;Z.f.bf=function(a){return!/[^\t\n\r ]/.test(a)};Z.f.Ze=function(a){return!/[^a-zA-Z]/.test(a)};Z.f.jf=function(a){return!/[^0-9]/.test(a)};
Z.f.$e=function(a){return!/[^a-zA-Z0-9]/.test(a)};Z.f.mf=function(a){return a==k};Z.f.nf=function(a){return 1==a.length&&a>=k&&a<=zd||a>=Ad&&a<=Od};Z.f.dg=function(a){return a.replace(/(\r\n|\r|\n)+/g,k)};Z.f.Zd=function(a){return a.replace(/(\r\n|\r|\n)/g,ba)};Z.f.zf=function(a){return a.replace(/\xa0|\s/g,k)};Z.f.yf=function(a){return a.replace(/\xa0|[ \t]+/g,k)};Z.f.le=function(a){return a.replace(/[\t\r\n ]+/g,k).replace(/^[\t\r\n ]+|[\t\r\n ]+$/g,b)};
Z.f.trim=Z.ra&&String.prototype.trim?function(a){return a.trim()}:function(a){return a.replace(/^[\s\xa0]+|[\s\xa0]+$/g,b)};Z.f.trimLeft=function(a){return a.replace(/^[\s\xa0]+/,b)};Z.f.trimRight=function(a){return a.replace(/[\s\xa0]+$/,b)};Z.f.bb=function(a,c){var d=String(a).toLowerCase(),e=String(c).toLowerCase();return d<e?-1:d==e?0:1};Z.f.Bb=/(\.\d+)|(\d+)|(\D+)/g;
Z.f.Bf=function(a,c){if(a==c)return 0;if(!a)return-1;if(!c)return 1;for(var d=a.toLowerCase().match(Z.f.Bb),e=c.toLowerCase().match(Z.f.Bb),f=Math.min(d.length,e.length),g=0;g<f;g++){var h=d[g],m=e[g];if(h!=m)return d=parseInt(h,10),!isNaN(d)&&(e=parseInt(m,10),!isNaN(e)&&d-e)?d-e:h<m?-1:1}return d.length!=e.length?d.length-e.length:a<c?-1:1};Z.f.wg=function(a){return encodeURIComponent(String(a))};Z.f.vg=function(a){return decodeURIComponent(a.replace(/\+/g,k))};
Z.f.Wc=function(a,c){return a.replace(/(\r\n|\r|\n)/g,c?Ha:Ia)};Z.f.qb=function(a){if(!Z.f.Ib.test(a))return a;-1!=a.indexOf(q)&&(a=a.replace(Z.f.Jb,pa));-1!=a.indexOf(Fa)&&(a=a.replace(Z.f.Xb,ra));-1!=a.indexOf(La)&&(a=a.replace(Z.f.Rb,qa));-1!=a.indexOf(l)&&(a=a.replace(Z.f.ac,sa));-1!=a.indexOf(ta)&&(a=a.replace(Z.f.dc,oa));-1!=a.indexOf(aa)&&(a=a.replace(Z.f.Zb,ma));Z.f.Va&&-1!=a.indexOf(wc)&&(a=a.replace(Z.f.Pb,na));return a};Z.f.Jb=/&/g;Z.f.Xb=/</g;Z.f.Rb=/>/g;Z.f.ac=/"/g;Z.f.dc=/'/g;
Z.f.Zb=/\x00/g;Z.f.Pb=/e/g;Z.f.Ib=Z.f.Va?/[\x00&<>"'e]/:/[\x00&<>"']/;Z.f.Eb=function(a){return Z.f.contains(a,q)?!Z.f.Qb&&vc in Z.global?Z.f.Fb(a):Z.f.kd(a):a};Z.f.rg=function(a,c){return Z.f.contains(a,q)?Z.f.Fb(a,c):a};
Z.f.Fb=function(a,c){var d={"&amp;":q,"&lt;":Fa,"&gt;":La,"&quot;":l},e;e=c?c.createElement(uc):Z.global.document.createElement(uc);return a.replace(Z.f.Tb,function(a,c){var h=d[a];if(h)return h;if(c.charAt(0)==ja){var m=Number(u+c.substr(1));isNaN(m)||(h=String.fromCharCode(m))}h||(e.innerHTML=a+k,h=e.firstChild.nodeValue.slice(0,-1));return d[a]=h})};
Z.f.kd=function(a){return a.replace(/&([^;]+);/g,function(a,d){switch(d){case oc:return q;case Tc:return Fa;case Hc:return La;case $c:return l;default:if(d.charAt(0)==ja){var e=Number(u+d.substr(1));if(!isNaN(e))return String.fromCharCode(e)}return a}})};Z.f.Tb=/&([^;\s<&]+);?/g;Z.f.yg=function(a,c){return Z.f.Wc(a.replace(/  /g,ea),c)};Z.f.Ef=function(a){return a.replace(/(^|[\n ]) /g,ka+Z.f.lc.Yb)};
Z.f.eg=function(a,c){for(var d=c.length,e=0;e<d;e++){var f=1==d?c:c.charAt(e);if(a.charAt(0)==f&&a.charAt(a.length-1)==f)return a.substring(1,a.length-1)}return a};Z.f.truncate=function(a,c,d){d&&(a=Z.f.Eb(a));a.length>c&&(a=a.substring(0,c-3)+Ca);d&&(a=Z.f.qb(a));return a};
Z.f.qg=function(a,c,d,e){d&&(a=Z.f.Eb(a));if(e&&a.length>c)e>c&&(e=c),a=a.substring(0,c-e)+Ca+a.substring(a.length-e);else if(a.length>c){e=Math.floor(c/2);var f=a.length-e;a=a.substring(0,e+c%2)+Ca+a.substring(f)}d&&(a=Z.f.qb(a));return a};Z.f.Ta={"\x00":"\\0","\b":"\\b","\f":"\\f","\n":"\\n","\r":"\\r","\t":"\\t","\x0B":"\\x0B",'"':'\\"',"\\":"\\\\"};Z.f.ea={"'":"\\'"};
Z.f.quote=function(a){a=String(a);if(a.quote)return a.quote();for(var c=[l],d=0;d<a.length;d++){var e=a.charAt(d),f=e.charCodeAt(0);c[d+1]=Z.f.Ta[e]||(31<f&&127>f?e:Z.f.hb(e))}c.push(l);return c.join(b)};Z.f.ze=function(a){for(var c=[],d=0;d<a.length;d++)c[d]=Z.f.hb(a.charAt(d));return c.join(b)};
Z.f.hb=function(a){if(a in Z.f.ea)return Z.f.ea[a];if(a in Z.f.Ta)return Z.f.ea[a]=Z.f.Ta[a];var c=a,d=a.charCodeAt(0);if(31<d&&127>d)c=a;else{if(256>d){if(c=lc,16>d||256<d)c+=u}else c=kc,4096>d&&(c+=u);c+=d.toString(16).toUpperCase()}return Z.f.ea[a]=c};Z.f.contains=function(a,c){return-1!=a.indexOf(c)};Z.f.fe=function(a,c){return Z.f.contains(a.toLowerCase(),c.toLowerCase())};Z.f.re=function(a,c){return a&&c?a.split(c).length-1:0};
Z.f.T=function(a,c,d){var e=a;0<=c&&c<a.length&&0<d&&(e=a.substr(0,c)+a.substr(c+d,a.length-c-d));return e};Z.f.remove=function(a,c){var d=new RegExp(Z.f.Ra(c),b);return a.replace(d,b)};Z.f.Nf=function(a,c){var d=new RegExp(Z.f.Ra(c),zc);return a.replace(d,b)};Z.f.Ra=function(a){return String(a).replace(/([-()\[\]{}+?*.$\^|,:#<!\\])/g,ic).replace(/\x08/g,mc)};Z.f.repeat=String.prototype.repeat?function(a,c){return a.repeat(c)}:function(a,c){return Array(c+1).join(a)};
Z.f.Df=function(a,c,d){a=Z.O(d)?a.toFixed(d):String(a);d=a.indexOf(t);-1==d&&(d=a.length);return Z.f.repeat(u,Math.max(0,c-d))+a};Z.f.Vc=function(a){return null==a?b:String(a)};Z.f.Yd=function(a){return Array.prototype.join.call(arguments,b)};Z.f.Pe=function(){return Math.floor(2147483648*Math.random()).toString(36)+Math.abs(Math.floor(2147483648*Math.random())^Z.now()).toString(36)};
Z.f.pe=function(a,c){for(var d=0,e=Z.f.trim(String(a)).split(t),f=Z.f.trim(String(c)).split(t),g=Math.max(e.length,f.length),h=0;0==d&&h<g;h++){var m=e[h]||b,n=f[h]||b,p=/(\d*)(\D*)/g,Ma=/(\d*)(\D*)/g;do{var B=p.exec(m)||[b,b,b],r=Ma.exec(n)||[b,b,b];if(0==B[0].length&&0==r[0].length)break;d=Z.f.ua(0==B[1].length?0:parseInt(B[1],10),0==r[1].length?0:parseInt(r[1],10))||Z.f.ua(0==B[2].length,0==r[2].length)||Z.f.ua(B[2],r[2])}while(0==d)}return d};Z.f.ua=function(a,c){return a<c?-1:a>c?1:0};
Z.f.Sb=4294967296;Z.f.Ve=function(a){for(var c=0,d=0;d<a.length;++d)c=31*c+a.charCodeAt(d),c%=Z.f.Sb;return c};Z.f.ld=2147483648*Math.random()|0;Z.f.ue=function(){return Ec+Z.f.ld++};Z.f.hg=function(a){var c=Number(a);return 0==c&&Z.f.Ja(a)?NaN:c};Z.f.gf=function(a){return/^[a-z]+([A-Z][a-z]*)*$/.test(a)};Z.f.of=function(a){return/^([A-Z][a-z]*)+$/.test(a)};Z.f.gg=function(a){return String(a).replace(/\-([a-z])/g,function(a,d){return d.toUpperCase()})};
Z.f.og=function(a){return String(a).replace(/([A-Z])/g,Aa).toLowerCase()};Z.f.pg=function(a,c){var d=Z.i(c)?Z.f.Ra(c):jc;return a.replace(new RegExp(ua+(d?xd+d+nc:b)+wa,zc),function(a,c,d){return c+d.toUpperCase()})};Z.f.$d=function(a){return String(a.charAt(0)).toUpperCase()+String(a.substr(1)).toLowerCase()};Z.f.parseInt=function(a){isFinite(a)&&(a=String(a));return Z.i(a)?/^\s*-?0x/i.test(a)?parseInt(a,16):parseInt(a,10):NaN};
Z.f.ag=function(a,c,d){a=a.split(c);for(var e=[];0<d&&a.length;)e.push(a.shift()),d--;a.length&&e.push(a.join(c));return e};Z.f.xe=function(a,c){var d=[],e=[];if(a==c)return 0;if(!a.length||!c.length)return Math.max(a.length,c.length);for(var f=0;f<c.length+1;f++)d[f]=f;for(f=0;f<a.length;f++){e[0]=f+1;for(var g=0;g<c.length;g++)e[g+1]=Math.min(e[g]+1,d[g+1]+1,d[g]+(a[f]!=c[g]));for(g=0;g<d.length;g++)d[g]=e[g]}return e[c.length]};Z.g={};Z.g.o=Z.I;Z.g.V=function(a,c){c.unshift(a);Z.debug.Error.call(this,Z.f.ed.apply(null,c));c.shift()};Z.Ha(Z.g.V,Z.debug.Error);Z.g.V.prototype.name="AssertionError";Z.g.Mb=function(a){throw a;};Z.g.xa=Z.g.Mb;Z.g.B=function(a,c,d,e){var f=Sa;if(d)var f=f+(v+d),g=e;else a&&(f+=v+a,g=c);a=new Z.g.V(b+f,g||[]);Z.g.xa(a)};Z.g.Vf=function(a){Z.g.o&&(Z.g.xa=a)};Z.g.assert=function(a,c,d){Z.g.o&&!a&&Z.g.B(b,null,c,Array.prototype.slice.call(arguments,2));return a};
Z.g.Ba=function(a,c){Z.g.o&&Z.g.xa(new Z.g.V(fb+(a?v+a:b),Array.prototype.slice.call(arguments,1)))};Z.g.Qd=function(a,c,d){Z.g.o&&!Z.Lc(a)&&Z.g.B(cb,[Z.s(a),a],c,Array.prototype.slice.call(arguments,2));return a};Z.g.Td=function(a,c,d){Z.g.o&&!Z.i(a)&&Z.g.B(eb,[Z.s(a),a],c,Array.prototype.slice.call(arguments,2));return a};Z.g.Od=function(a,c,d){Z.g.o&&!Z.xb(a)&&Z.g.B(ab,[Z.s(a),a],c,Array.prototype.slice.call(arguments,2));return a};
Z.g.Rd=function(a,c,d){Z.g.o&&!Z.$(a)&&Z.g.B(db,[Z.s(a),a],c,Array.prototype.slice.call(arguments,2));return a};Z.g.Ld=function(a,c,d){Z.g.o&&!Z.isArray(a)&&Z.g.B(Za,[Z.s(a),a],c,Array.prototype.slice.call(arguments,2));return a};Z.g.Md=function(a,c,d){Z.g.o&&!Z.Gc(a)&&Z.g.B($a,[Z.s(a),a],c,Array.prototype.slice.call(arguments,2));return a};Z.g.Nd=function(a,c,d){!Z.g.o||Z.$(a)&&a.nodeType==Z.gb.$b.Ob||Z.g.B(Ya,[Z.s(a),a],c,Array.prototype.slice.call(arguments,2));return a};
Z.g.Pd=function(a,c,d,e){!Z.g.o||a instanceof c||Z.g.B(bb,[Z.g.ob(c),Z.g.ob(a)],d,Array.prototype.slice.call(arguments,3));return a};Z.g.Sd=function(){for(var a in Object.prototype)Z.g.Ba(a+ga)};Z.g.ob=function(a){return a instanceof Function?a.displayName||a.name||kd:a instanceof Object?a.constructor.displayName||a.constructor.name||Object.prototype.toString.call(a):null===a?Wc:typeof a};Z.b={};Z.A=Z.ra;Z.b.w=!1;Z.b.Zc=function(a){return a[a.length-1]};Z.b.pf=Z.b.Zc;Z.b.h=Array.prototype;Z.b.indexOf=Z.A&&(Z.b.w||Z.b.h.indexOf)?function(a,c,d){return Z.b.h.indexOf.call(a,c,d)}:function(a,c,d){d=null==d?0:0>d?Math.max(0,a.length+d):d;if(Z.i(a))return Z.i(c)&&1==c.length?a.indexOf(c,d):-1;for(;d<a.length;d++)if(d in a&&a[d]===c)return d;return-1};
Z.b.lastIndexOf=Z.A&&(Z.b.w||Z.b.h.lastIndexOf)?function(a,c,d){return Z.b.h.lastIndexOf.call(a,c,null==d?a.length-1:d)}:function(a,c,d){d=null==d?a.length-1:d;0>d&&(d=Math.max(0,a.length+d));if(Z.i(a))return Z.i(c)&&1==c.length?a.lastIndexOf(c,d):-1;for(;0<=d;d--)if(d in a&&a[d]===c)return d;return-1};Z.b.forEach=Z.A&&(Z.b.w||Z.b.h.forEach)?function(a,c,d){Z.b.h.forEach.call(a,c,d)}:function(a,c,d){for(var e=a.length,f=Z.i(a)?a.split(b):a,g=0;g<e;g++)g in f&&c.call(d,f[g],g,a)};
Z.b.jb=function(a,c){for(var d=Z.i(a)?a.split(b):a,e=a.length-1;0<=e;--e)e in d&&c.call(void 0,d[e],e,a)};Z.b.filter=Z.A&&(Z.b.w||Z.b.h.filter)?function(a,c,d){return Z.b.h.filter.call(a,c,d)}:function(a,c,d){for(var e=a.length,f=[],g=0,h=Z.i(a)?a.split(b):a,m=0;m<e;m++)if(m in h){var n=h[m];c.call(d,n,m,a)&&(f[g++]=n)}return f};
Z.b.map=Z.A&&(Z.b.w||Z.b.h.map)?function(a,c,d){return Z.b.h.map.call(a,c,d)}:function(a,c,d){for(var e=a.length,f=Array(e),g=Z.i(a)?a.split(b):a,h=0;h<e;h++)h in g&&(f[h]=c.call(d,g[h],h,a));return f};Z.b.reduce=Z.A&&(Z.b.w||Z.b.h.reduce)?function(a,c,d,e){e&&(c=Z.bind(c,e));return Z.b.h.reduce.call(a,c,d)}:function(a,c,d,e){var f=d;Z.b.forEach(a,function(d,h){f=c.call(e,f,d,h,a)});return f};
Z.b.reduceRight=Z.A&&(Z.b.w||Z.b.h.reduceRight)?function(a,c,d,e){e&&(c=Z.bind(c,e));return Z.b.h.reduceRight.call(a,c,d)}:function(a,c,d,e){var f=d;Z.b.jb(a,function(d,h){f=c.call(e,f,d,h,a)});return f};Z.b.some=Z.A&&(Z.b.w||Z.b.h.some)?function(a,c,d){return Z.b.h.some.call(a,c,d)}:function(a,c,d){for(var e=a.length,f=Z.i(a)?a.split(b):a,g=0;g<e;g++)if(g in f&&c.call(d,f[g],g,a))return!0;return!1};
Z.b.every=Z.A&&(Z.b.w||Z.b.h.every)?function(a,c,d){return Z.b.h.every.call(a,c,d)}:function(a,c,d){for(var e=a.length,f=Z.i(a)?a.split(b):a,g=0;g<e;g++)if(g in f&&!c.call(d,f[g],g,a))return!1;return!0};Z.b.count=function(a,c,d){var e=0;Z.b.forEach(a,function(a,g,h){c.call(d,a,g,h)&&++e},d);return e};Z.b.find=function(a,c,d){c=Z.b.ib(a,c,d);return 0>c?null:Z.i(a)?a.charAt(c):a[c]};Z.b.ib=function(a,c,d){for(var e=a.length,f=Z.i(a)?a.split(b):a,g=0;g<e;g++)if(g in f&&c.call(d,f[g],g,a))return g;return-1};
Z.b.Be=function(a,c,d){c=Z.b.Bc(a,c,d);return 0>c?null:Z.i(a)?a.charAt(c):a[c]};Z.b.Bc=function(a,c,d){for(var e=Z.i(a)?a.split(b):a,f=a.length-1;0<=f;f--)if(f in e&&c.call(d,e[f],f,a))return f;return-1};Z.b.contains=function(a,c){return 0<=Z.b.indexOf(a,c)};Z.b.Ic=function(a){return 0==a.length};Z.b.clear=function(a){if(!Z.isArray(a))for(var c=a.length-1;0<=c;c--)delete a[c];a.length=0};Z.b.We=function(a,c){Z.b.contains(a,c)||a.push(c)};Z.b.tb=function(a,c,d){Z.b.splice(a,d,0,c)};
Z.b.Xe=function(a,c,d){Z.Yc(Z.b.splice,a,d,0).apply(null,c)};Z.b.insertBefore=function(a,c,d){var e;2==arguments.length||0>(e=Z.b.indexOf(a,d))?a.push(c):Z.b.tb(a,c,e)};Z.b.remove=function(a,c){var d=Z.b.indexOf(a,c),e;(e=0<=d)&&Z.b.T(a,d);return e};Z.b.T=function(a,c){return 1==Z.b.h.splice.call(a,c,1).length};Z.b.Rf=function(a,c,d){c=Z.b.ib(a,c,d);return 0<=c?(Z.b.T(a,c),!0):!1};Z.b.Of=function(a,c,d){var e=0;Z.b.jb(a,function(f,g){c.call(d,f,g,a)&&Z.b.T(a,g)&&e++});return e};
Z.b.concat=function(a){return Z.b.h.concat.apply(Z.b.h,arguments)};Z.b.join=function(a){return Z.b.h.concat.apply(Z.b.h,arguments)};Z.b.hd=function(a){var c=a.length;if(0<c){for(var d=Array(c),e=0;e<c;e++)d[e]=a[e];return d}return[]};Z.b.clone=Z.b.hd;Z.b.extend=function(a,c){for(var d=1;d<arguments.length;d++){var e=arguments[d];if(Z.Ia(e)){var f=a.length||0,g=e.length||0;a.length=f+g;for(var h=0;h<g;h++)a[f+h]=e[h]}else a.push(e)}};
Z.b.splice=function(a,c,d,e){return Z.b.h.splice.apply(a,Z.b.slice(arguments,1))};Z.b.slice=function(a,c,d){return 2>=arguments.length?Z.b.h.slice.call(a,c):Z.b.h.slice.call(a,c,d)};Z.b.Pf=function(a,c,d){function e(a){return Z.$(a)?Yc+Z.pb(a):(typeof a).charAt(0)+a}c=c||a;d=d||e;for(var f={},g=0,h=0;h<a.length;){var m=a[h++],n=d(m);Object.prototype.hasOwnProperty.call(f,n)||(f[n]=!0,c[g++]=m)}c.length=g};Z.b.Za=function(a,c,d){return Z.b.$a(a,d||Z.b.C,!1,c)};
Z.b.Wd=function(a,c,d){return Z.b.$a(a,c,!0,void 0,d)};Z.b.$a=function(a,c,d,e,f){for(var g=0,h=a.length,m;g<h;){var n=g+h>>1,p;p=d?c.call(f,a[n],n,a):c(e,a[n]);0<p?g=n+1:(h=n,m=!p)}return m?g:~g};Z.b.sort=function(a,c){a.sort(c||Z.b.C)};Z.b.cg=function(a,c){for(var d=0;d<a.length;d++)a[d]={index:d,value:a[d]};var e=c||Z.b.C;Z.b.sort(a,function(a,c){return e(a.value,c.value)||a.index-c.index});for(d=0;d<a.length;d++)a[d]=a[d].value};
Z.b.cd=function(a,c,d){var e=d||Z.b.C;Z.b.sort(a,function(a,d){return e(c(a),c(d))})};Z.b.$f=function(a,c,d){Z.b.cd(a,function(a){return a[c]},d)};Z.b.lf=function(a,c,d){c=c||Z.b.C;for(var e=1;e<a.length;e++){var f=c(a[e-1],a[e]);if(0<f||0==f&&d)return!1}return!0};Z.b.ye=function(a,c,d){if(!Z.Ia(a)||!Z.Ia(c)||a.length!=c.length)return!1;var e=a.length;d=d||Z.b.yc;for(var f=0;f<e;f++)if(!d(a[f],c[f]))return!1;return!0};
Z.b.oe=function(a,c,d){d=d||Z.b.C;for(var e=Math.min(a.length,c.length),f=0;f<e;f++){var g=d(a[f],c[f]);if(0!=g)return g}return Z.b.C(a.length,c.length)};Z.b.C=function(a,c){return a>c?1:a<c?-1:0};Z.b.Ye=function(a,c){return-Z.b.C(a,c)};Z.b.yc=function(a,c){return a===c};Z.b.Ud=function(a,c,d){d=Z.b.Za(a,c,d);return 0>d?(Z.b.tb(a,c,-(d+1)),!0):!1};Z.b.Vd=function(a,c,d){c=Z.b.Za(a,c,d);return 0<=c?Z.b.T(a,c):!1};
Z.b.Xd=function(a,c,d){for(var e={},f=0;f<a.length;f++){var g=a[f],h=c.call(d,g,f,a);Z.O(h)&&(e[h]||(e[h]=[])).push(g)}return e};Z.b.jg=function(a,c,d){var e={};Z.b.forEach(a,function(f,g){e[c.call(d,f,g,a)]=f});return e};Z.b.Gf=function(a,c,d){var e=[],f=0,g=a;d=d||1;void 0!==c&&(f=a,g=c);if(0>d*(g-f))return[];if(0<d)for(a=f;a<g;a+=d)e.push(a);else for(a=f;a>g;a+=d)e.push(a);return e};Z.b.repeat=function(a,c){for(var d=[],e=0;e<c;e++)d[e]=a;return d};
Z.b.Cc=function(a){for(var c=[],d=0;d<arguments.length;d++){var e=arguments[d];if(Z.isArray(e))for(var f=0;f<e.length;f+=8192)for(var g=Z.b.Cc.apply(null,Z.b.slice(e,f,f+8192)),h=0;h<g.length;h++)c.push(g[h]);else c.push(e)}return c};Z.b.rotate=function(a,c){a.length&&(c%=a.length,0<c?Z.b.h.unshift.apply(a,a.splice(-c,c)):0>c&&Z.b.h.push.apply(a,a.splice(0,-c)));return a};Z.b.wf=function(a,c,d){c=Z.b.h.splice.call(a,c,1);Z.b.h.splice.call(a,d,0,c[0])};
Z.b.Bg=function(a){if(!arguments.length)return[];for(var c=[],d=0;;d++){for(var e=[],f=0;f<arguments.length;f++){var g=arguments[f];if(d>=g.length)return c;e.push(g[d])}c.push(e)}};Z.b.Zf=function(a,c){for(var d=c||Math.random,e=a.length-1;0<e;e--){var f=Math.floor(d()*(e+1)),g=a[e];a[e]=a[f];a[f]=g}};Z.b.qe=function(a,c){var d=[];Z.b.forEach(c,function(c){d.push(a[c])});return d};Z.locale={};
Z.locale.K={COUNTRY:{AD:"Andorra",AE:Hd,AF:Gd,AG:Ra,AI:"Anguilla",AL:"Shqip\u00ebria",AM:Fd,AN:xb,AO:"Angola",AQ:"Antarctica",AR:"Argentina",AS:Qa,AT:"\u00d6sterreich",AU:"Australia",AW:"Aruba",AX:"\u00c5land",AZ:"Az\u0259rbaycan",BA:x,BB:"Barbados",BD:"\u09ac\u09be\u0982\u09b2\u09be\u09a6\u09c7\u09b6",BE:"Belgi\u00eb",BF:"Burkina Faso",BG:"\u0411\u044a\u043b\u0433\u0430\u0440\u0438\u044f",BH:"\u0627\u0644\u0628\u062d\u0631\u064a\u0646",BI:"Burundi",BJ:"B\u00e9nin",BM:"Bermuda",BN:"Brunei",BO:w,BR:"Brasil",
BS:"Bahamas",BT:"\u092d\u0942\u091f\u093e\u0928",BV:"Bouvet Island",BW:Ua,BY:Cd,BZ:"Belize",CA:"Canada",CC:"Cocos (Keeling) Islands",CD:Jb,CF:Ib,CG:"Congo",CH:"Schweiz",CI:"C\u00f4te d\u2019Ivoire",CK:"Cook Islands",CL:"Chile",CM:"Cameroun",CN:"\u4e2d\u56fd",CO:"Colombia",CR:"Costa Rica",CS:Qb,CU:"Cuba",CV:"Cabo Verde",CX:Xa,CY:"\u039a\u03cd\u03c0\u03c1\u03bf\u03c2",CZ:Bd,DD:"East Germany",DE:"Deutschland",DJ:"Jabuuti",DK:"Danmark",DM:"Dominica",DO:Gb,DZ:"\u0627\u0644\u062c\u0632\u0627\u0626\u0631",
EC:"Ecuador",EE:"Eesti",EG:"\u0645\u0635\u0631",EH:Id,ER:"\u0627\u0631\u064a\u062a\u0631\u064a\u0627",ES:"Espa\u00f1a",ET:X,FI:"Suomi",FJ:"\u092b\u093f\u091c\u0940",FK:gb,FM:z,FO:"F\u00f8royar",FR:"France",FX:"Metropolitan France",GA:"Gabon",GB:ac,GD:"Grenada",GE:"\u10e1\u10d0\u10e5\u10d0\u10e0\u10d7\u10d5\u10d4\u10da\u10dd",GF:ib,GG:"Guernsey",GH:y,GI:"Gibraltar",GL:ob,GM:"Gambia",GN:"Guin\u00e9e",GP:"Guadeloupe",GQ:hb,GR:"\u0395\u03bb\u03bb\u03ac\u03b4\u03b1",GS:"South Georgia and the South Sandwich Islands",
GT:"Guatemala",GU:"Guam",GW:"Guin\u00e9 Bissau",GY:"Guyana",HK:"\u9999\u6e2f",HM:"Heard Island and McDonald Islands",HN:kb,HR:"Hrvatska",HT:"Ha\u00efti",HU:"Magyarorsz\u00e1g",ID:lb,IE:"Ireland",IL:"\u05d9\u05e9\u05e8\u05d0\u05dc",IM:"Isle of Man",IN:W,IO:"British Indian Ocean Territory",IQ:"\u0627\u0644\u0639\u0631\u0627\u0642",IR:"\u0627\u06cc\u0631\u0627\u0646",IS:"\u00cdsland",IT:"Italia",JE:"Jersey",JM:"Jamaica",JO:"\u0627\u0644\u0623\u0631\u062f\u0646",JP:"\u65e5\u672c",KE:"Kenya",KG:Dd,KH:"\u1780\u1798\u17d2\u1796\u17bb\u1787\u17b6",
KI:pb,KM:Ld,KN:Lb,KP:Nd,KR:"\ub300\ud55c\ubbfc\uad6d",KW:"\u0627\u0644\u0643\u0648\u064a\u062a",KY:Wa,KZ:"\u041a\u0430\u0437\u0430\u0445\u0441\u0442\u0430\u043d",LA:"\u0e25\u0e32\u0e27",LB:"\u0644\u0628\u0646\u0627\u0646",LC:"Saint Lucia",LI:"Liechtenstein",LK:"\u0b87\u0bb2\u0b99\u0bcd\u0b95\u0bc8",LR:"Liberia",LS:"Lesotho",LT:"Lietuva",LU:tb,LV:"Latvija",LY:"\u0644\u064a\u0628\u064a\u0627",MA:"\u0627\u0644\u0645\u063a\u0631\u0628",MC:"Monaco",MD:wb,ME:"\u0426\u0440\u043d\u0430 \u0413\u043e\u0440\u0430",
MG:ub,MH:vb,MK:"\u041c\u0430\u043a\u0435\u0434\u043e\u043d\u0438\u0458\u0430",ML:"\u0645\u0627\u0644\u064a",MM:"Myanmar",MN:"\u8499\u53e4",MO:"\u6fb3\u95e8",MP:Ab,MQ:"Martinique",MR:"\u0645\u0648\u0631\u064a\u062a\u0627\u0646\u064a\u0627",MS:"Montserrat",MT:"Malta",MU:"Mauritius",MV:"Maldives",MW:"Malawi",MX:"M\u00e9xico",MY:"Malaysia",MZ:"Mo\u00e7ambique",NA:"Namibia",NC:Bb,NE:"Niger",NF:zb,NG:A,NI:"Nicaragua",NL:"Nederland",NO:"Norge",NP:"\u0928\u0947\u092a\u093e\u0932",NR:"Nauru",NT:"Neutral Zone",
NU:"Niue",NZ:yb,OM:"\u0639\u0645\u0627\u0646",PA:"Panam\u00e1",PE:"Per\u00fa",PF:Eb,PG:C,PH:Db,PK:Md,PL:"Polska",PM:Nb,PN:"Pitcairn",PR:Fb,PS:"\u0641\u0644\u0633\u0637\u064a\u0646",PT:"Portugal",PW:"Palau",PY:Cb,QA:"\u0642\u0637\u0631",QO:"Outlying Oceania",QU:"European Union",RE:"R\u00e9union",RO:"Rom\u00e2nia",RS:"\u0421\u0440\u0431\u0438\u0458\u0430",RU:"\u0420\u043e\u0441\u0441\u0438\u044f",RW:D,SA:Jd,SB:Tb,SC:Rb,SD:"\u0627\u0644\u0633\u0648\u062f\u0627\u0646",SE:"Sverige",SG:"\u65b0\u52a0\u5761",
SH:"Saint Helena",SI:"Slovenija",SJ:Ub,SK:Sb,SL:"Sierra Leone",SM:"San Marino",SN:F,SO:"Somali",SR:"Suriname",ST:Wb,SU:"Union of Soviet Socialist Republics",SV:"El Salvador",SY:"\u0633\u0648\u0631\u064a\u0627",SZ:Vb,TC:Zb,TD:"\u062a\u0634\u0627\u062f",TF:"French Southern Territories",TG:"Togo",TH:"\u0e1b\u0e23\u0e30\u0e40\u0e17\u0e28\u0e44\u0e17\u0e22",TJ:"\u062a\u0627\u062c\u06cc\u06a9\u0633\u062a\u0627\u0646",TK:G,TL:Yb,TM:"\u0422\u0443\u0440\u043a\u043c\u0435\u043d\u0438\u0441\u0442\u0430\u043d",
TN:"\u062a\u0648\u0646\u0633",TO:"Tonga",TR:I,TT:"Trinidad y Tobago",TV:H,TW:"\u53f0\u6e7e",TZ:Xb,UA:"\u0423\u043a\u0440\u0430\u0457\u043d\u0430",UG:"Uganda",UM:cc,US:bc,UY:"Uruguay",UZ:"\u040e\u0437\u0431\u0435\u043a\u0438\u0441\u0442\u043e\u043d",VA:"Vaticano",VC:Mb,VE:"Venezuela",VG:Va,VI:$b,VN:"Vi\u1ec7t Nam",VU:J,WF:ec,WS:"Samoa",YD:"People's Democratic Republic of Yemen",YE:"\u0627\u0644\u064a\u0645\u0646",YT:"Mayotte",ZA:E,ZM:"Zambia",ZW:"Zimbabwe",ZZ:dc,aa_DJ:"Jabuuti",aa_ER:"\u00c9rythr\u00e9e",
aa_ER_SAAHO:"\u00c9rythr\u00e9e",aa_ET:mb,af_NA:"Namibi\u00eb",af_ZA:"Suid-Afrika",ak_GH:y,am_ET:X,ar_AE:Hd,ar_BH:"\u0627\u0644\u0628\u062d\u0631\u064a\u0646",ar_DJ:"\u062c\u064a\u0628\u0648\u062a\u064a",ar_DZ:"\u0627\u0644\u062c\u0632\u0627\u0626\u0631",ar_EG:"\u0645\u0635\u0631",ar_EH:Id,ar_ER:"\u0627\u0631\u064a\u062a\u0631\u064a\u0627",ar_IL:"\u0627\u0633\u0631\u0627\u0626\u064a\u0644",ar_IQ:"\u0627\u0644\u0639\u0631\u0627\u0642",ar_JO:"\u0627\u0644\u0623\u0631\u062f\u0646",ar_KM:Ld,ar_KW:"\u0627\u0644\u0643\u0648\u064a\u062a",
ar_LB:"\u0644\u0628\u0646\u0627\u0646",ar_LY:"\u0644\u064a\u0628\u064a\u0627",ar_MA:"\u0627\u0644\u0645\u063a\u0631\u0628",ar_MR:"\u0645\u0648\u0631\u064a\u062a\u0627\u0646\u064a\u0627",ar_OM:"\u0639\u0645\u0627\u0646",ar_PS:"\u0641\u0644\u0633\u0637\u064a\u0646",ar_QA:"\u0642\u0637\u0631",ar_SA:Jd,ar_SD:"\u0627\u0644\u0633\u0648\u062f\u0627\u0646",ar_SY:"\u0633\u0648\u0631\u064a\u0627",ar_TD:"\u062a\u0634\u0627\u062f",ar_TN:"\u062a\u0648\u0646\u0633",ar_YE:"\u0627\u0644\u064a\u0645\u0646",as_IN:"\u09ad\u09be\u09f0\u09a4",
ay_BO:w,az_AZ:"Az\u0259rbaycan",az_Cyrl_AZ:"\u0410\u0437\u04d9\u0440\u0431\u0430\u0458\u04b9\u0430\u043d",az_Latn_AZ:"Azerbaycan",be_BY:Cd,bg_BG:"\u0411\u044a\u043b\u0433\u0430\u0440\u0438\u044f",bi_VU:J,bn_BD:"\u09ac\u09be\u0982\u09b2\u09be\u09a6\u09c7\u09b6",bn_IN:"\u09ad\u09be\u09b0\u09a4",bo_CN:"\u0f62\u0f92\u0fb1\u0f0b\u0f53\u0f42",bo_IN:"\u0f62\u0f92\u0fb1\u0f0b\u0f42\u0f62\u0f0b",bs_BA:x,byn_ER:"\u12a4\u122d\u1275\u122b",ca_AD:"Andorra",ca_ES:"Espanya",cch_NG:A,ch_GU:"Guam",chk_FM:z,cop_Arab_EG:"\u0645\u0635\u0631",
cop_Arab_US:Kd,cop_EG:"\u0645\u0635\u0631",cop_US:Kd,cs_CZ:Bd,cy_GB:"Prydain Fawr",da_DK:"Danmark",da_GL:"Gr\u00f8nland",de_AT:"\u00d6sterreich",de_BE:"Belgien",de_CH:"Schweiz",de_DE:"Deutschland",de_LI:"Liechtenstein",de_LU:"Luxemburg",dv_MV:"Maldives",dz_BT:"Bhutan",ee_GH:y,ee_TG:"Togo",efi_NG:A,el_CY:"\u039a\u03cd\u03c0\u03c1\u03bf\u03c2",el_GR:"\u0395\u03bb\u03bb\u03ac\u03b4\u03b1",en_AG:Ra,en_AI:"Anguilla",en_AS:Qa,en_AU:"Australia",en_BB:"Barbados",en_BE:"Belgium",en_BM:"Bermuda",en_BS:"Bahamas",
en_BW:Ua,en_BZ:"Belize",en_CA:"Canada",en_CC:"Cocos Islands",en_CK:"Cook Islands",en_CM:"Cameroon",en_CX:Xa,en_DM:"Dominica",en_FJ:"Fiji",en_FK:gb,en_FM:z,en_GB:ac,en_GD:"Grenada",en_GG:"Guernsey",en_GH:y,en_GI:"Gibraltar",en_GM:"Gambia",en_GU:"Guam",en_GY:"Guyana",en_HK:"Hong Kong",en_HN:kb,en_IE:"Ireland",en_IM:"Isle of Man",en_IN:"India",en_JE:"Jersey",en_JM:"Jamaica",en_KE:"Kenya",en_KI:pb,en_KN:Lb,en_KY:Wa,en_LC:"Saint Lucia",en_LR:"Liberia",en_LS:"Lesotho",en_MH:vb,en_MP:Ab,en_MS:"Montserrat",
en_MT:"Malta",en_MU:"Mauritius",en_MW:"Malawi",en_NA:"Namibia",en_NF:zb,en_NG:A,en_NR:"Nauru",en_NU:"Niue",en_NZ:yb,en_PG:C,en_PH:Db,en_PK:"Pakistan",en_PN:"Pitcairn",en_PR:Fb,en_RW:D,en_SB:Tb,en_SC:Rb,en_SG:"Singapore",en_SH:"Saint Helena",en_SL:"Sierra Leone",en_SZ:Vb,en_TC:Zb,en_TK:G,en_TO:"Tonga",en_TT:"Trinidad and Tobago",en_TV:H,en_TZ:Xb,en_UG:"Uganda",en_UM:cc,en_US:bc,en_US_POSIX:bc,en_VC:Mb,en_VG:Va,en_VI:$b,en_VU:J,en_WS:"Samoa",en_ZA:E,en_ZM:"Zambia",en_ZW:"Zimbabwe",es_AR:"Argentina",
es_BO:w,es_CL:"Chile",es_CO:"Colombia",es_CR:"Costa Rica",es_CU:"Cuba",es_DO:Gb,es_EC:"Ecuador",es_ES:"Espa\u00f1a",es_GQ:"Guinea Ecuatorial",es_GT:"Guatemala",es_HN:kb,es_MX:"M\u00e9xico",es_NI:"Nicaragua",es_PA:"Panam\u00e1",es_PE:"Per\u00fa",es_PH:"Filipinas",es_PR:Fb,es_PY:Cb,es_SV:"El Salvador",es_US:"Estados Unidos",es_UY:"Uruguay",es_VE:"Venezuela",et_EE:"Eesti",eu_ES:"Espainia",fa_AF:Gd,fa_IR:"\u0627\u06cc\u0631\u0627\u0646",fi_FI:"Suomi",fil_PH:Db,fj_FJ:"Fiji",fo_FO:"F\u00f8royar",fr_BE:"Belgique",
fr_BF:"Burkina Faso",fr_BI:"Burundi",fr_BJ:"B\u00e9nin",fr_CA:"Canada",fr_CD:Jb,fr_CF:Ib,fr_CG:"Congo",fr_CH:"Suisse",fr_CI:"C\u00f4te d\u2019Ivoire",fr_CM:"Cameroun",fr_DJ:"Djibouti",fr_DZ:"Alg\u00e9rie",fr_FR:"France",fr_GA:"Gabon",fr_GF:ib,fr_GN:"Guin\u00e9e",fr_GP:"Guadeloupe",fr_GQ:hb,fr_HT:"Ha\u00efti",fr_KM:"Comores",fr_LU:tb,fr_MA:"Maroc",fr_MC:"Monaco",fr_MG:ub,fr_ML:"Mali",fr_MQ:"Martinique",fr_MU:"Maurice",fr_NC:Bb,fr_NE:"Niger",fr_PF:Eb,fr_PM:Nb,fr_RE:"R\u00e9union",fr_RW:D,fr_SC:Rb,fr_SN:F,
fr_SY:"Syrie",fr_TD:"Tchad",fr_TG:"Togo",fr_TN:"Tunisie",fr_VU:J,fr_WF:ec,fr_YT:"Mayotte",fur_IT:"Italia",ga_IE:"\u00c9ire",gaa_GH:y,gez_ER:"\u12a4\u122d\u1275\u122b",gez_ET:X,gil_KI:pb,gl_ES:"Espa\u00f1a",gn_PY:Cb,gu_IN:"\u0aad\u0abe\u0ab0\u0aa4",gv_GB:Hb,ha_Arab_NG:"\u0646\u064a\u062c\u064a\u0631\u064a\u0627",ha_GH:"\u063a\u0627\u0646\u0627",ha_Latn_GH:y,ha_Latn_NE:"Niger",ha_Latn_NG:"Nig\u00e9ria",ha_NE:"\u0627\u0644\u0646\u064a\u062c\u0631",ha_NG:"\u0646\u064a\u062c\u064a\u0631\u064a\u0627",haw_US:"\u02bbAmelika Hui P\u016b \u02bbIa",
he_IL:"\u05d9\u05e9\u05e8\u05d0\u05dc",hi_IN:W,ho_PG:C,hr_BA:x,hr_HR:"Hrvatska",ht_HT:"Ha\u00efti",hu_HU:"Magyarorsz\u00e1g",hy_AM:Fd,hy_AM_REVISED:Fd,id_ID:lb,ig_NG:A,ii_CN:"\ua34f\ua1e9",is_IS:"\u00cdsland",it_CH:"Svizzera",it_IT:"Italia",it_SM:"San Marino",ja_JP:"\u65e5\u672c",ka_GE:"\u10e1\u10d0\u10e5\u10d0\u10e0\u10d7\u10d5\u10d4\u10da\u10dd",kaj_NG:A,kam_KE:"Kenya",kcg_NG:A,kfo_NG:"Nig\u00e9ria",kk_KZ:"\u049a\u0430\u0437\u0430\u049b\u0441\u0442\u0430\u043d",kl_GL:ob,km_KH:"\u1780\u1798\u17d2\u1796\u17bb\u1787\u17b6",
kn_IN:"\u0cad\u0cbe\u0cb0\u0ca4",ko_KP:Nd,ko_KR:"\ub300\ud55c\ubbfc\uad6d",kok_IN:W,kos_FM:z,kpe_GN:"Guin\u00e9e",kpe_LR:"Lib\u00e9ria",ks_IN:W,ku_IQ:"Irak",ku_IR:"\u0130ran",ku_Latn_IQ:"Irak",ku_Latn_IR:"\u0130ran",ku_Latn_SY:"Suriye",ku_Latn_TR:I,ku_SY:"Suriye",ku_TR:I,kw_GB:Hb,ky_Cyrl_KG:Dd,ky_KG:"K\u0131rg\u0131zistan",la_VA:"Vaticano",lb_LU:tb,ln_CD:Jb,ln_CG:"Kongo",lo_LA:"Laos",lt_LT:"Lietuva",lv_LV:"Latvija",mg_MG:ub,mh_MH:vb,mi_NZ:yb,mk_MK:"\u041c\u0430\u043a\u0435\u0434\u043e\u043d\u0438\u0458\u0430",
ml_IN:"\u0d07\u0d28\u0d4d\u0d24\u0d4d\u0d2f",mn_Cyrl_MN:"\u041c\u043e\u043d\u0433\u043e\u043b\u0438\u044f",mn_MN:"\u041c\u043e\u043d\u0433\u043e\u043b\u0438\u044f",mr_IN:W,ms_BN:"Brunei",ms_MY:"Malaysia",ms_SG:"Singapura",mt_MT:"Malta",my_MM:"Myanmar",na_NR:"Nauru",nb_NO:"Norge",nb_SJ:Ub,ne_NP:"\u0928\u0947\u092a\u093e\u0932",niu_NU:"Niue",nl_AN:xb,nl_AW:"Aruba",nl_BE:"Belgi\u00eb",nl_NL:"Nederland",nl_SR:"Suriname",nn_NO:"Noreg",nr_ZA:E,nso_ZA:E,ny_MW:"Malawi",om_ET:mb,om_KE:"Keeniyaa",or_IN:"\u0b2d\u0b3e\u0b30\u0b24",
pa_Arab_PK:Md,pa_Guru_IN:"\u0a2d\u0a3e\u0a30\u0a24",pa_IN:"\u0a2d\u0a3e\u0a30\u0a24",pa_PK:Md,pap_AN:xb,pau_PW:"Palau",pl_PL:"Polska",pon_FM:z,ps_AF:Gd,pt_AO:"Angola",pt_BR:"Brasil",pt_CV:"Cabo Verde",pt_GW:"Guin\u00e9 Bissau",pt_MZ:"Mo\u00e7ambique",pt_PT:"Portugal",pt_ST:Wb,pt_TL:Yb,qu_BO:w,qu_PE:"Per\u00fa",rm_CH:"Schweiz",rn_BI:"Burundi",ro_MD:wb,ro_RO:"Rom\u00e2nia",ru_BY:Cd,ru_KG:Dd,ru_KZ:"\u041a\u0430\u0437\u0430\u0445\u0441\u0442\u0430\u043d",ru_RU:"\u0420\u043e\u0441\u0441\u0438\u044f",ru_UA:"\u0423\u043a\u0440\u0430\u0438\u043d\u0430",
rw_RW:D,sa_IN:W,sd_Deva_IN:W,sd_IN:W,se_FI:"Finland",se_NO:"Norge",sg_CF:Ib,sh_BA:"Bosnia and Herzegovina",sh_CS:Qb,si_LK:"Sri Lanka",sid_ET:mb,sk_SK:Sb,sl_SI:"Slovenija",sm_AS:Qa,sm_WS:"Samoa",so_DJ:"Jabuuti",so_ET:"Itoobiya",so_KE:"Kiiniya",so_SO:"Soomaaliya",sq_AL:"Shqip\u00ebria",sr_BA:"\u0411\u043e\u0441\u043d\u0430 \u0438 \u0425\u0435\u0440\u0446\u0435\u0433\u043e\u0432\u0438\u043d\u0430",sr_CS:"\u0421\u0440\u0431\u0438\u0458\u0430 \u0438 \u0426\u0440\u043d\u0430 \u0413\u043e\u0440\u0430",sr_Cyrl_BA:"\u0411\u043e\u0441\u043d\u0438\u044f",
sr_Cyrl_CS:"\u0421\u0435\u0440\u0431\u0438\u044f \u0438 \u0427\u0435\u0440\u043d\u043e\u0433\u043e\u0440\u0438\u044f",sr_Cyrl_ME:"\u0427\u0435\u0440\u043d\u043e\u0433\u043e\u0440\u0438\u044f",sr_Cyrl_RS:"\u0421\u0435\u0440\u0431\u0438\u044f",sr_Latn_BA:x,sr_Latn_CS:"Srbija i Crna Gora",sr_Latn_ME:"Crna Gora",sr_Latn_RS:"Srbija",sr_ME:"\u0426\u0440\u043d\u0430 \u0413\u043e\u0440\u0430",sr_RS:"\u0421\u0440\u0431\u0438\u0458\u0430",ss_SZ:Vb,ss_ZA:E,st_LS:"Lesotho",st_ZA:E,su_ID:lb,sv_AX:"\u00c5land",
sv_FI:"Finland",sv_SE:"Sverige",sw_KE:"Kenya",sw_TZ:Xb,sw_UG:"Uganda",swb_KM:Ld,syr_SY:"Syria",ta_IN:"\u0b87\u0ba8\u0bcd\u0ba4\u0bbf\u0baf\u0bbe",ta_LK:"\u0b87\u0bb2\u0b99\u0bcd\u0b95\u0bc8",ta_SG:"\u0b9a\u0bbf\u0b99\u0bcd\u0b95\u0baa\u0bcd\u0baa\u0bc2\u0bb0\u0bcd",te_IN:"\u0c2d\u0c3e\u0c30\u0c24 \u0c26\u0c47\u0c33\u0c02",tet_TL:Yb,tg_Cyrl_TJ:"\u0422\u0430\u0434\u0436\u0438\u043a\u0438\u0441\u0442\u0430\u043d",tg_TJ:"\u062a\u0627\u062c\u06a9\u0633\u062a\u0627\u0646",th_TH:"\u0e1b\u0e23\u0e30\u0e40\u0e17\u0e28\u0e44\u0e17\u0e22",
ti_ER:"\u12a4\u122d\u1275\u122b",ti_ET:X,tig_ER:"\u12a4\u122d\u1275\u122b",tk_TM:"\u062a\u0631\u06a9\u0645\u0646\u0633\u062a\u0627\u0646",tkl_TK:G,tn_BW:Ua,tn_ZA:E,to_TO:"Tonga",tpi_PG:C,tr_CY:"G\u00fcney K\u0131br\u0131s Rum Kesimi",tr_TR:I,ts_ZA:E,tt_RU:"\u0420\u043e\u0441\u0441\u0438\u044f",tvl_TV:H,ty_PF:Eb,uk_UA:"\u0423\u043a\u0440\u0430\u0457\u043d\u0430",uli_FM:z,und_ZZ:dc,ur_IN:"\u0628\u06be\u0627\u0631\u062a",ur_PK:Md,uz_AF:"Afganistan",uz_Arab_AF:Gd,uz_Cyrl_UZ:"\u0423\u0437\u0431\u0435\u043a\u0438\u0441\u0442\u0430\u043d",
uz_Latn_UZ:"O\u02bfzbekiston",uz_UZ:"\u040e\u0437\u0431\u0435\u043a\u0438\u0441\u0442\u043e\u043d",ve_ZA:E,vi_VN:"Vi\u1ec7t Nam",wal_ET:X,wo_Arab_SN:"\u0627\u0644\u0633\u0646\u063a\u0627\u0644",wo_Latn_SN:F,wo_SN:F,xh_ZA:E,yap_FM:z,yo_NG:A,zh_CN:"\u4e2d\u56fd",zh_HK:"\u9999\u6e2f",zh_Hans_CN:"\u4e2d\u56fd",zh_Hans_SG:"\u65b0\u52a0\u5761",zh_Hant_HK:"\u4e2d\u83ef\u4eba\u6c11\u5171\u548c\u570b\u9999\u6e2f\u7279\u5225\u884c\u653f\u5340",zh_Hant_MO:"\u6fb3\u9580",zh_Hant_TW:"\u81fa\u7063",zh_MO:"\u6fb3\u95e8",
zh_SG:"\u65b0\u52a0\u5761",zh_TW:"\u53f0\u6e7e",zu_ZA:E},LANGUAGE:{aa:"afar",ab:"\u0430\u0431\u0445\u0430\u0437\u0441\u043a\u0438\u0439",ace:"Aceh",ach:"Acoli",ada:"Adangme",ady:"\u0430\u0434\u044b\u0433\u0435\u0439\u0441\u043a\u0438\u0439",ae:"Avestan",af:"Afrikaans",afa:"Afro-Asiatic Language",afh:"Afrihili",ain:"Ainu",ak:"Akan",akk:"Akkadian",ale:"Aleut",alg:"Algonquian Language",alt:"Southern Altai",am:"\u12a0\u121b\u122d\u129b",an:"Aragonese",ang:"Old English",anp:"Angika",apa:"Apache Language",
ar:"\u0627\u0644\u0639\u0631\u0628\u064a\u0629",arc:"Aramaic",arn:"Araucanian",arp:"Arapaho",art:"Artificial Language",arw:"Arawak",as:"\u0985\u09b8\u09ae\u09c0\u09af\u09bc\u09be",ast:"asturiano",ath:"Athapascan Language",aus:"Australian Language",av:"\u0430\u0432\u0430\u0440\u0441\u043a\u0438\u0439",awa:"Awadhi",ay:"aimara",az:"az\u0259rbaycanca",az_Arab:"\u062a\u0631\u06a9\u06cc \u0622\u0630\u0631\u0628\u0627\u06cc\u062c\u0627\u0646\u06cc",az_Cyrl:"\u0410\u0437\u04d9\u0440\u0431\u0430\u0458\u04b9\u0430\u043d",
az_Latn:"Azerice",ba:"\u0431\u0430\u0448\u043a\u0438\u0440\u0441\u043a\u0438\u0439",bad:"Banda",bai:"Bamileke Language",bal:"\u0628\u0644\u0648\u0686\u06cc",ban:"Balin",bas:"Basa",bat:"Baltic Language",be:"\u0431\u0435\u043b\u0430\u0440\u0443\u0441\u043a\u0430\u044f",bej:"Beja",bem:"Bemba",ber:"Berber",bg:"\u0431\u044a\u043b\u0433\u0430\u0440\u0441\u043a\u0438",bh:"\u092c\u093f\u0939\u093e\u0930\u0940",bho:"Bhojpuri",bi:"bichelamar ; bislama",bik:"Bikol",bin:"Bini",bla:"Siksika",bm:"bambara",bn:"\u09ac\u09be\u0982\u09b2\u09be",
bnt:"Bantu",bo:"\u0f54\u0f7c\u0f51\u0f0b\u0f66\u0f90\u0f51\u0f0b",br:"breton",bra:"Braj",bs:"Bosanski",btk:"Batak",bua:"Buriat",bug:"Bugis",byn:"\u1265\u120a\u1295",ca:"catal\u00e0",cad:"Caddo",cai:"Central American Indian Language",car:"Carib",cau:"Caucasian Language",cch:"Atsam",ce:"\u0447\u0435\u0447\u0435\u043d\u0441\u043a\u0438\u0439",ceb:"Cebuano",cel:"Celtic Language",ch:"Chamorro",chb:"Chibcha",chg:"Chagatai",chk:"Chuukese",chm:"\u043c\u0430\u0440\u0438\u0439\u0441\u043a\u0438\u0439 (\u0447\u0435\u0440\u0435\u043c\u0438\u0441\u0441\u043a\u0438\u0439)",
chn:"Chinook Jargon",cho:"Choctaw",chp:"Chipewyan",chr:"Cherokee",chy:"Cheyenne",cmc:"Chamic Language",co:"corse",cop:"\u0642\u0628\u0637\u064a\u0629",cop_Arab:"\u0642\u0628\u0637\u064a\u0629",cpe:"English-based Creole or Pidgin",cpf:"French-based Creole or Pidgin",cpp:"Portuguese-based Creole or Pidgin",cr:"Cree",crh:"Crimean Turkish",crp:"Creole or Pidgin",cs:"\u010de\u0161tina",csb:"Kashubian",cu:"Church Slavic",cus:"Cushitic Language",cv:"\u0447\u0443\u0432\u0430\u0448\u0441\u043a\u0438\u0439",
cy:"Cymraeg",da:"dansk",dak:"Dakota",dar:"\u0434\u0430\u0440\u0433\u0432\u0430",day:"Dayak",de:"Deutsch",del:"Delaware",den:"Slave",dgr:"Dogrib",din:"Dinka",doi:"\u0627\u0644\u062f\u0648\u062c\u0631\u0649",dra:"Dravidian Language",dsb:"Lower Sorbian",dua:"Duala",dum:"Middle Dutch",dv:"Divehi",dyu:"dioula",dz:"\u0f62\u0fab\u0f7c\u0f44\u0f0b\u0f41",ee:"Ewe",efi:"Efik",egy:"Ancient Egyptian",eka:"Ekajuk",el:"\u0395\u03bb\u03bb\u03b7\u03bd\u03b9\u03ba\u03ac",elx:"Elamite",en:"English",enm:"Middle English",
eo:"esperanto",es:"espa\u00f1ol",et:"eesti",eu:"euskara",ewo:"Ewondo",fa:"\u0641\u0627\u0631\u0633\u06cc",fan:"fang",fat:"Fanti",ff:"Fulah",fi:"suomi",fil:"Filipino",fiu:"Finno-Ugrian Language",fj:"Fijian",fo:"f\u00f8royskt",fon:"Fon",fr:"fran\u00e7ais",frm:"Middle French",fro:"Old French",frr:"Northern Frisian",frs:"Eastern Frisian",fur:"friulano",fy:"Fries",ga:"Gaeilge",gaa:"Ga",gay:"Gayo",gba:"Gbaya",gd:"Scottish Gaelic",gem:"Germanic Language",gez:"\u130d\u12d5\u12dd\u129b",gil:"Gilbertese",gl:"galego",
gmh:"Middle High German",gn:"guaran\u00ed",goh:"Old High German",gon:"Gondi",gor:"Gorontalo",got:"Gothic",grb:"Grebo",grc:"\u0391\u03c1\u03c7\u03b1\u03af\u03b1 \u0395\u03bb\u03bb\u03b7\u03bd\u03b9\u03ba\u03ac",gsw:"Schweizerdeutsch",gu:"\u0a97\u0ac1\u0a9c\u0ab0\u0abe\u0aa4\u0ac0",gv:"Gaelg",gwi:"Gwich\u02bcin",ha:"\u0627\u0644\u0647\u0648\u0633\u0627",ha_Arab:"\u0627\u0644\u0647\u0648\u0633\u0627",ha_Latn:"haoussa",hai:"Haida",haw:"\u02bb\u014dlelo Hawai\u02bbi",he:"\u05e2\u05d1\u05e8\u05d9\u05ea",
hi:"\u0939\u093f\u0902\u0926\u0940",hil:"Hiligaynon",him:"Himachali",hit:"Hittite",hmn:"Hmong",ho:"Hiri Motu",hr:"hrvatski",hsb:"Upper Sorbian",ht:"ha\u00eftien",hu:"magyar",hup:"Hupa",hy:"\u0540\u0561\u0575\u0565\u0580\u0567\u0576",hz:"Herero",ia:"interlingvao",iba:"Iban",id:"Bahasa Indonesia",ie:"Interlingue",ig:"Igbo",ii:"\ua188\ua320\ua259",ijo:"Ijo",ik:"Inupiaq",ilo:"Iloko",inc:"Indic Language",ine:"Indo-European Language",inh:"\u0438\u043d\u0433\u0443\u0448\u0441\u043a\u0438\u0439",io:"Ido",
ira:"Iranian Language",iro:"Iroquoian Language",is:"\u00edslenska",it:"italiano",iu:"Inuktitut",ja:"\u65e5\u672c\u8a9e",jbo:"Lojban",jpr:"Judeo-Persian",jrb:"Judeo-Arabic",jv:"Jawa",ka:"\u10e5\u10d0\u10e0\u10d7\u10e3\u10da\u10d8",kaa:"\u043a\u0430\u0440\u0430\u043a\u0430\u043b\u043f\u0430\u043a\u0441\u043a\u0438\u0439",kab:"kabyle",kac:"Kachin",kaj:"Jju",kam:"Kamba",kar:"Karen",kaw:"Kawi",kbd:"\u043a\u0430\u0431\u0430\u0440\u0434\u0438\u043d\u0441\u043a\u0438\u0439",kcg:"Tyap",kfo:"koro",kg:"Kongo",
kha:"Khasi",khi:"Khoisan Language",kho:"Khotanese",ki:"Kikuyu",kj:"Kuanyama",kk:"\u049a\u0430\u0437\u0430\u049b",kl:"kalaallisut",km:"\u1797\u17b6\u179f\u17b6\u1781\u17d2\u1798\u17c2\u179a",kmb:"quimbundo",kn:"\u0c95\u0ca8\u0ccd\u0ca8\u0ca1",ko:"\ud55c\uad6d\uc5b4",kok:"\u0915\u094b\u0902\u0915\u0923\u0940",kos:"Kosraean",kpe:"kpell\u00e9",kr:"Kanuri",krc:"\u043a\u0430\u0440\u0430\u0447\u0430\u0435\u0432\u043e-\u0431\u0430\u043b\u043a\u0430\u0440\u0441\u043a\u0438\u0439",krl:"\u043a\u0430\u0440\u0435\u043b\u044c\u0441\u043a\u0438\u0439",
kro:"Kru",kru:"Kurukh",ks:"\u0915\u093e\u0936\u094d\u092e\u093f\u0930\u0940",ku:"K\u00fcrt\u00e7e",ku_Arab:"\u0627\u0644\u0643\u0631\u062f\u064a\u0629",ku_Latn:"K\u00fcrt\u00e7e",kum:"\u043a\u0443\u043c\u044b\u043a\u0441\u043a\u0438\u0439",kut:"Kutenai",kv:"Komi",kw:"kernewek",ky:"K\u0131rg\u0131zca",ky_Arab:"\u0627\u0644\u0642\u064a\u0631\u063a\u0633\u062a\u0627\u0646\u064a\u0629",ky_Cyrl:"\u043a\u0438\u0440\u0433\u0438\u0437\u0441\u043a\u0438\u0439",la:"latino",lad:"\u05dc\u05d3\u05d9\u05e0\u05d5",
lah:"\u0644\u0627\u0647\u0646\u062f\u0627",lam:"Lamba",lb:"luxembourgeois",lez:"\u043b\u0435\u0437\u0433\u0438\u043d\u0441\u043a\u0438\u0439",lg:"Ganda",li:"Limburgs",ln:"lingala",lo:"Lao",lol:"mongo",loz:"Lozi",lt:"lietuvi\u0173",lu:"luba-katanga",lua:"luba-lulua",lui:"Luiseno",lun:"Lunda",luo:"Luo",lus:"Lushai",lv:"latvie\u0161u",mad:"Madura",mag:"Magahi",mai:"Maithili",mak:"Makassar",man:"Mandingo",map:"Austronesian",mas:"Masai",mdf:"\u043c\u043e\u043a\u0448\u0430",mdr:"Mandar",men:"Mende",mg:"malgache",
mga:"Middle Irish",mh:"Marshallese",mi:"Maori",mic:"Micmac",min:"Minangkabau",mis:"Miscellaneous Language",mk:"\u043c\u0430\u043a\u0435\u0434\u043e\u043d\u0441\u043a\u0438",mkh:"Mon-Khmer Language",ml:"\u0d2e\u0d32\u0d2f\u0d3e\u0d33\u0d02",mn:Ed,mn_Cyrl:Ed,mn_Mong:Ed,mnc:"Manchu",mni:"Manipuri",mno:"Manobo Language",mo:"Moldavian",moh:"Mohawk",mos:"mor\u00e9 ; mossi",mr:"\u092e\u0930\u093e\u0920\u0940",ms:"Bahasa Melayu",mt:"Malti",mul:"Multiple Languages",mun:"Munda Language",mus:"Creek",mwl:"Mirandese",
mwr:"Marwari",my:"Burmese",myn:"Mayan Language",myv:"\u044d\u0440\u0437\u044f",na:"Nauru",nah:"Nahuatl",nai:"North American Indian Language",nap:"napoletano",nb:"norsk bokm\u00e5l",nd:"North Ndebele",nds:"Low German",ne:"\u0928\u0947\u092a\u093e\u0932\u0940","new":"Newari",ng:"Ndonga",nia:"Nias",nic:"Niger-Kordofanian Language",niu:"Niuean",nl:"Nederlands",nn:"nynorsk",no:"Norwegian",nog:"\u043d\u043e\u0433\u0430\u0439\u0441\u043a\u0438\u0439",non:"Old Norse",nqo:"N\u2019Ko",nr:"South Ndebele",nso:"Northern Sotho",
nub:"Nubian Language",nv:"Navajo",nwc:"Classical Newari",ny:"nianja; chicheua; cheua",nym:"Nyamwezi",nyn:"Nyankole",nyo:"Nyoro",nzi:"Nzima",oc:"occitan",oj:"Ojibwa",om:"Oromoo",or:"\u0b13\u0b21\u0b3c\u0b3f\u0b06",os:"\u043e\u0441\u0435\u0442\u0438\u043d\u0441\u043a\u0438\u0439",osa:"Osage",ota:"Ottoman Turkish",oto:"Otomian Language",pa:"\u0a2a\u0a70\u0a1c\u0a3e\u0a2c\u0a40",pa_Arab:"\u067e\u0646\u062c\u0627\u0628",pa_Guru:"\u0a2a\u0a70\u0a1c\u0a3e\u0a2c\u0a40",paa:"Papuan Language",pag:"Pangasinan",
pal:"Pahlavi",pam:"Pampanga",pap:"Papiamento",pau:"Palauan",peo:"Old Persian",phi:"Philippine Language",phn:"Phoenician",pi:"\u0e1a\u0e32\u0e25\u0e35",pl:"polski",pon:"Pohnpeian",pra:"Prakrit Language",pro:"Old Proven\u00e7al",ps:"\u067e\u069a\u062a\u0648",pt:"portugu\u00eas",qu:"quechua",raj:"Rajasthani",rap:"Rapanui",rar:"Rarotongan",rm:"R\u00e4toromanisch",rn:"roundi",ro:"rom\u00e2n\u0103",roa:"Romance Language",rom:"Romany",ru:"\u0440\u0443\u0441\u0441\u043a\u0438\u0439",rup:"Aromanian",rw:"rwanda",
sa:"\u0938\u0902\u0938\u094d\u0915\u0943\u0924 \u092d\u093e\u0937\u093e",sad:"Sandawe",sah:"\u044f\u043a\u0443\u0442\u0441\u043a\u0438\u0439",sai:"South American Indian Language",sal:"Salishan Language",sam:"\u05d0\u05e8\u05de\u05d9\u05ea \u05e9\u05d5\u05de\u05e8\u05d5\u05e0\u05d9\u05ea",sas:"Sasak",sat:"Santali",sc:"Sardinian",scn:"siciliano",sco:"Scots",sd:"\u0938\u093f\u0928\u094d\u0927\u0940",sd_Arab:"\u0633\u0646\u062f\u06cc",sd_Deva:"\u0938\u093f\u0928\u094d\u0927\u0940",se:"nordsamiska",sel:"\u0441\u0435\u043b\u044c\u043a\u0443\u043f\u0441\u043a\u0438\u0439",
sem:"Semitic Language",sg:"sangho",sga:"Old Irish",sgn:"Sign Language",sh:"Serbo-Croatian",shn:"Shan",si:"Sinhalese",sid:"Sidamo",sio:"Siouan Language",sit:"Sino-Tibetan Language",sk:"slovensk\u00fd",sl:"sloven\u0161\u010dina",sla:"Slavic Language",sm:"Samoan",sma:"sydsamiska",smi:"Sami Language",smj:"lulesamiska",smn:"Inari Sami",sms:"Skolt Sami",sn:"Shona",snk:"sonink\u00e9",so:"Soomaali",sog:"Sogdien",son:"Songhai",sq:"shqipe",sr:"\u0421\u0440\u043f\u0441\u043a\u0438",sr_Cyrl:"\u0441\u0435\u0440\u0431\u0441\u043a\u0438\u0439",
sr_Latn:"Srpski",srn:"Sranantongo",srr:"s\u00e9r\u00e8re",ss:"Swati",ssa:"Nilo-Saharan Language",st:"Sesotho",su:"Sundan",suk:"Sukuma",sus:"soussou",sux:"Sumerian",sv:"svenska",sw:"Kiswahili",syc:"Classical Syriac",syr:"Syriac",ta:"\u0ba4\u0bae\u0bbf\u0bb4\u0bcd",tai:"Tai Language",te:"\u0c24\u0c46\u0c32\u0c41\u0c17\u0c41",tem:"Timne",ter:"Tereno",tet:"t\u00e9tum",tg:"\u062a\u0627\u062c\u06a9",tg_Arab:"\u062a\u0627\u062c\u06a9",tg_Cyrl:"\u0442\u0430\u0434\u0436\u0438\u043a\u0441\u043a\u0438\u0439",
th:"\u0e44\u0e17\u0e22",ti:"\u1275\u130d\u122d\u129b",tig:"\u1275\u130d\u1228",tiv:"Tiv",tk:"\u062a\u0631\u06a9\u0645\u0646\u06cc",tkl:G,tl:"Tagalog",tlh:"Klingon",tli:"Tlingit",tmh:"tamacheq",tn:"Tswana",to:"Tonga",tog:"Nyasa Tonga",tpi:"Tok Pisin",tr:"T\u00fcrk\u00e7e",ts:"Tsonga",tsi:"Tsimshian",tt:"\u0442\u0430\u0442\u0430\u0440\u0441\u043a\u0438\u0439",tum:"Tumbuka",tup:"Tupi Language",tut:"\u0430\u043b\u0442\u0430\u0439\u0441\u043a\u0438\u0435 (\u0434\u0440\u0443\u0433\u0438\u0435)",tvl:H,tw:"Twi",
ty:"tahitien",tyv:"\u0442\u0443\u0432\u0438\u043d\u0441\u043a\u0438\u0439",udm:"\u0443\u0434\u043c\u0443\u0440\u0442\u0441\u043a\u0438\u0439",ug:"\u0443\u0439\u0433\u0443\u0440\u0441\u043a\u0438\u0439",uga:"Ugaritic",uk:"\u0443\u043a\u0440\u0430\u0457\u043d\u0441\u044c\u043a\u0430",umb:"umbundu",und:"English",ur:"\u0627\u0631\u062f\u0648",uz:"\u040e\u0437\u0431\u0435\u043a",uz_Arab:"\u0627\u06c9\u0632\u0628\u06d0\u06a9",uz_Cyrl:"\u0443\u0437\u0431\u0435\u043a\u0441\u043a\u0438\u0439",uz_Latn:"o'zbekcha",
vai:"Vai",ve:"Venda",vi:"Ti\u1ebfng Vi\u1ec7t",vo:"volapuko",vot:"Votic",wa:"Wallonisch",wak:"Wakashan Language",wal:"Walamo",war:"Waray",was:"Washo",wen:"Sorbian Language",wo:"wolof",wo_Arab:"\u0627\u0644\u0648\u0644\u0648\u0641",wo_Latn:"wolof",xal:"\u043a\u0430\u043b\u043c\u044b\u0446\u043a\u0438\u0439",xh:"Xhosa",yao:"iao",yap:"Yapese",yi:"\u05d9\u05d9\u05d3\u05d9\u05e9",yo:"Yoruba",ypk:"Yupik Language",za:"Zhuang",zap:"Zapotec",zen:"Zenaga",zh:"\u4e2d\u6587",zh_Hans:"\u4e2d\u6587",zh_Hant:"\u4e2d\u6587",
znd:"Zande",zu:"Zulu",zun:"Zuni",zxx:"No linguistic content",zza:"Zaza"}};Z.locale.Wf=function(a){a=a.replace(/-/g,K);Z.locale.M=a};Z.locale.Ea=function(){Z.locale.M||(Z.locale.M=Q);return Z.locale.M};Z.locale.J={vd:"DateTimeConstants",Fd:"NumberFormatConstants",gc:"TimeZoneConstants",Wb:sb,hc:"TimeZoneSelectedIds",jc:"TimeZoneSelectedShortNames",ic:"TimeZoneSelectedLongNames",fc:"TimeZoneAllLongNames"};Z.locale.Da=function(a){return(a=a.match(/^\w{2,3}([-_]|$)/))?a[0].replace(/[_-]/g,b):b};
Z.locale.kb=function(a){return(a=a.match(/[-_]([a-zA-Z]{2}|\d{3})([-_]|$)/))?a[0].replace(/[_-]/g,b):b};Z.locale.Re=function(a){a=a.split(/[-_]/g);return 1<a.length&&a[1].match(/^[a-zA-Z]{4}$/)?a[1]:b};Z.locale.Se=function(a){return(a=a.match(/[-_]([a-z]{2,})/))?a[1]:b};Z.locale.Me=function(a){var c=Z.locale.Da(a)+K+Z.locale.kb(a);return c in Z.locale.K.COUNTRY?Z.locale.K.COUNTRY[c]:a};Z.locale.Ie=function(a,c){c||(c=Z.locale.mb());var d=Z.locale.kb(a);return d in c.COUNTRY?c.COUNTRY[d]:a};
Z.locale.Ne=function(a){if(a in Z.locale.K.LANGUAGE)return Z.locale.K.LANGUAGE[a];var c=Z.locale.Da(a);return c in Z.locale.K.LANGUAGE?Z.locale.K.LANGUAGE[c]:a};Z.locale.Je=function(a,c){c||(c=Z.locale.mb());if(a in c.LANGUAGE)return c.LANGUAGE[a];var d=Z.locale.Da(a);return d in c.LANGUAGE?c.LANGUAGE[d]:a};Z.locale.L=function(a,c,d){Z.locale.m[c]||(Z.locale.m[c]={});Z.locale.m[c][d]=a;Z.locale.M||(Z.locale.M=d)};Z.locale.kf=function(a,c){return a in Z.locale.m&&c in Z.locale.m[a]};Z.locale.m={};
Z.locale.Jf=function(a,c){Z.locale.L(a,Z.locale.J.gc,c)};Z.locale.Hf=function(a,c){Z.locale.L(a,Z.locale.J.Wb,c)};Z.locale.Kf=function(a,c){Z.locale.L(a,Z.locale.J.hc,c)};Z.locale.Mf=function(a,c){Z.locale.L(a,Z.locale.J.jc,c)};Z.locale.Lf=function(a,c){Z.locale.L(a,Z.locale.J.ic,c)};Z.locale.If=function(a,c){Z.locale.L(a,Z.locale.J.fc,c)};Z.locale.mb=function(){var a=Z.locale.Ea(),a=a?a:Z.locale.Ea();return sb in Z.locale.m?Z.locale.m.LocaleNameConstants[a]:void 0};
Z.locale.Qe=function(a,c){var d=c?c:Z.locale.Ea();if(a in Z.locale.m){if(d in Z.locale.m[a])return Z.locale.m[a][d];d=d.split(K);return 1<d.length&&d[0]in Z.locale.m[a]?Z.locale.m[a][d[0]]:Z.locale.m[a].en}};var google={a:{}};google.a.c={};
google.a.c.languages={af:!0,am:!0,az:!0,ar:!0,arb:"ar",bg:!0,bn:!0,ca:!0,cs:!0,cmn:"zh",da:!0,de:!0,el:!0,en:!0,en_gb:!0,es:!0,es_419:!0,et:!0,eu:!0,fa:!0,fi:!0,fil:!0,fr:!0,fr_ca:!0,gl:!0,ka:!0,gu:!0,he:"iw",hi:!0,hr:!0,hu:!0,hy:!0,id:!0,"in":Kc,is:!0,it:!0,iw:!0,ja:!0,ji:"yi",jv:!1,jw:"jv",km:!0,kn:!0,ko:!0,lo:!0,lt:!0,lv:!0,ml:!0,mn:!0,mo:"ro",mr:!0,ms:!0,nb:"no",ne:!0,nl:!0,no:!0,pl:!0,pt:"pt_br",pt_br:!0,pt_pt:!0,ro:!0,ru:!0,si:!0,sk:!0,sl:!0,sr:!0,sv:!0,sw:!0,swh:"sw",ta:!0,te:!0,th:!0,tl:"fil",
tr:!0,uk:!0,ur:!0,vi:!0,yi:!1,zh:"zh_ch",zh_cn:!0,zh_hk:!0,zh_tw:!0,zsm:"ms",zu:!0};google.a.c.P={};google.a.c.R=jd;google.a.c.log=Y();google.a.c.error=Y();google.a.c.Z=!1;google.a.c.N=window;google.a.c.Sa={gstatic:{prefix:"https://www.gstatic.com/charts",debug:"{prefix}/debug/{version}/jsapi_debug_{package}_module.js",compiled:"{prefix}/{version}/js/jsapi_compiled_{package}_module.js",i18n:"{prefix}/{version}/i18n/jsapi_compiled_i18n_{package}_module__{language}.js",css:ud,css_debug:ud,third_party:vd,third_party_gen:vd}};google.a.c.v=google.a.c.Sa.gstatic;
google.a.c.zc={"default":[],format:[],ui:["format","default"],ui_base:["format","default"],annotatedtimeline:[U],annotationchart:[U,"controls",O,"table"],areachart:[U,M],bar:[U,P,od],barchart:[U,M],browserchart:[U],calendar:[U],charteditor:[U,O,S,pc,"gauge","motionchart","orgchart","table"],charteditor_base:[V,O,S,pc,"gauge","motionchart","orgchart","table_base"],columnchart:[U,M],controls:[U],controls_base:[V],corechart:[U],gantt:[U,P],gauge:[U],geochart:[U],geomap:[U],geomap_base:[V],helloworld:[U],
imageareachart:[U,S],imagebarchart:[U,S],imagelinechart:[U,S],imagechart:[U],imagepiechart:[U,S],imagesparkline:[U,S],intensitymap:[U],line:[U,P,od],linechart:[U,M],map:[U],motionchart:[U],orgchart:[U],overtimecharts:[U,O],piechart:[U,M],sankey:["d3","d3.sankey",U],scatter:[U,P,od],scatterchart:[U,M],table:[U],table_base:[V],timeline:[U,P],treemap:[U],wordtree:[U]};google.a.c.fd={d3:"d3/d3.js","d3.sankey":"d3/d3.sankey.js",webfontloader:"webfontloader/webfont.js"};google.a.c.Db={dygraph:"dygraphs/dygraph-tickers-combined.js"};
google.a.c.wc={annotatedtimeline:"/annotatedtimeline/annotatedtimeline.css",annotationchart:"annotationchart/annotationchart.css",charteditor:"charteditor/charteditor.css",charteditor_base:"charteditor/charteditor_base.css",controls:"controls/controls.css",imagesparkline:"imagesparkline/imagesparkline.css",intensitymap:"intensitymap/intensitymap.css",orgchart:"orgchart/orgchart.css",table:"table/table.css",table_base:"table/table_base.css",ui:["util/util.css","core/tooltip.css"],ui_base:"util/util_base.css"};
google.a.c.va=function(a,c){for(var d=c||{},e=[],f=0;f<a.length;f++){var g=a[f];if(!d[g]){d[g]=!0;var h=google.a.c.zc[g]||[];0<h.length&&(e=e.concat(google.a.c.va(h,d)));e.push(g)}}return e};google.a.c.Dc=function(a){for(var c={},d=[],e=0;e<a.length;e++){var f=google.a.c.wc[a[e]];Z.isArray(f)||(f=[f]);for(var g=0;g<f.length;g++)(cssFile=f[g])&&!c[cssFile]&&(c[cssFile]=!0,d.push(cssFile))}return d};
google.a.c.Xf=function(a,c){if(c)if("undefined"===typeof a.onload){var d=!1;a.onreadystatechange=function(){d||(a.readyState&&a.readyState!==N?google.a.c.N.setTimeout(a.onreadystatechange,0):(d=!0,delete a.onreadystatechange,google.a.c.N.setTimeout(c,0)))}}else a.onload=c};
google.a.c.Tc=function(a,c){google.a.c.log(Rc+a);var d=c.createElement(cd);d.type=hd;d.language=Mc;d.async=!1;d.defer=!1;var e=c.body||c.head||c.getElementsByTagName(jb).item(0)||c.documentElement;e.insertBefore(d,e.lastChild);d.src=a;google.a.c.log(xc+a)};
google.a.c.Rc=function(a,c){function d(c){var e=google.a.c.rb,f=a[c++];if(f){var g=f,h=google.a.c.fd[f];h?(g=h,f===od&&(e=window.document),f=google.a.c.v.third_party):google.a.c.Db[f]?(g=google.a.c.Db[f],f=google.a.c.v.third_party_gen):f=google.a.c.Z?n:r?Ma:p;g=f.replace(td,m).replace(wd,B).replace(rd,r).replace(sd,g);google.a.c.Tc(g,e);d(c)}}function e(){for(var d=[],e=0;e<a.length;e++)d.push(Ob[a[e]]);eval(Ea+d.join(b)+yd)();google.a.c.N.setTimeout(c,0)}a=google.a.c.va(a);for(var f=[],g=0;g<a.length;g++){var h=
a[g];google.a.c.P[h]||f.push(h)}a=f;google.a.c.log(qb+a);var m=google.a.c.v.prefix,n=google.a.c.v.debug,p=google.a.c.v.compiled,Ma=google.a.c.v.i18n,B=google.a.c.R,r=google.a.c.Ka;r===Q&&(r=null);var Ob={},Pb=a.length;google.a.c.Xc=function(a,c){google.a.c.log(tc+a);Ob[a]=c;google.a.c.P[a]=!0;Pb--;0===Pb&&e()};d(0)};
google.a.c.W=function(a){function c(){g=!0;for(var a=e.length,c=0;c<a;c++)e[c]()}function d(){h=!0;for(var a=f.length,c=0;c<a;c++)f[c]()}var e=[],f=[],g=!1,h=!1;google.a.c.W.count||(google.a.c.W.count=0);var m=Pc+google.a.c.W.count++,n={done:function(a){e.push(a);g&&a();return n},Ba:function(a){f.push(a);h&&a();return n}},p=document.createElement(Nc);p.setAttribute(Kc,m);p.setAttribute(ad,fd);p.setAttribute(id,gd);"undefined"!==typeof p.addEventListener?(p.addEventListener(Oc,c,!1),p.addEventListener(yc,
d,!1)):"undefined"!==typeof p.attachEvent&&p.attachEvent(Zc,function(){var a,e=document.styleSheets.length;try{for(;e--;)if(a=document.styleSheets[e],a.id===m){c();return}}catch(f){}g||d()});document.getElementsByTagName(Ic)[0].appendChild(p);p.setAttribute(Jc,a);return n};google.a.c.Oc=function(a,c){google.a.c.log(Qc+a);google.a.c.W(a).done(c).Ba(function(){google.a.c.error(Sc+a)})};
google.a.c.Pc=function(a,c){a=google.a.c.va(a);var d=google.a.c.Dc(a);if(null===d||0===d.length)c();else{google.a.c.log(rb+d.join(ya));var e=google.a.c.v.prefix,f=google.a.c.v.css;google.a.c.Z&&(f=google.a.c.v.css_debug||f);var g=google.a.c.R,h=function(a){var n=d[a],p;p=a<d.length-1?function(){h(a+1)}:c;google.a.c.P[n]?(google.a.c.log(Pa+n),google.a.c.N.setTimeout(p,0)):(google.a.c.P[n]=!0,n=f.replace(td,e).replace(wd,g).replace(qd,n),google.a.c.Oc(n,p))};h(0)}};
google.a.c.Fe=function(){var a=google.a.c.D;if(!a){a=google.a.c.D=document.createElement(Lc);google.a.c.D=a;a.name=Fc;(document.body||document.head||document).appendChild(a);a.style.display=Vc;var c=google.a.c.rb=a.contentDocument?a.contentDocument:a.contentWindow?a.contentWindow.document:a.document;c.open();c.writeln(b);c.close()}return a};
google.a.c.Ab=function(a){for(var c=a.replace(/-/g,K).toLowerCase();Z.i(c);)a=c,c=google.a.c.languages[c],c===a&&(c=!1);c||(a.match(/_[^_]+$/)?(a=a.replace(/_[^_]+$/,b),a=google.a.c.Ab(a)):a=Q);return a};
google.a.c.$c=function(a,c){c.log&&(google.a.c.log=c.log);c.error&&(google.a.c.error=c.error);var d=c.debug,e=c.language||b,e=google.a.c.Ab(e);a||(a=c.version||jd);(google.a.c.R&&google.a.c.R!==a||google.a.c.Ka&&google.a.c.Ka!==e||google.a.c.Z!==d)&&google.a.c.D&&google.a.c.D.parentNode&&(google.a.c.D.parentNode.removeChild(google.a.c.D),google.a.c.D=null,google.a.c.P={});google.a.c.R=a;google.a.c.Ka=e;google.a.c.Z=d};google.a.c.qf=!1;google.a.c.Cb=!1;google.a.c.ma=!1;google.a.c.loaded=!1;
google.a.c.Ca=[];
google.a.c.load=function(a,c,d){if(google.a.c.Nc)throw Error("google.charts.load() cannot be called more than once.");google.a.c.Nc=!0;google.a.c.Cb=!0;if(google.a.c.ma)google.a.c.U(function(){google.a.c.load(a,c)});else{google.a.c.loaded=!1;google.a.c.ma=!0;google.a.c.$c(a,c);google.a.c.log(Gc+a);google.a.c.v=d||google.a.c.Sa[a]||google.a.c.Sa.gstatic;google.a.c.D=null;google.a.c.N=window;google.a.c.rb=document;var e=function(){google.a.c.ma=!1;google.a.c.loaded=!0;google.a.c.La()},f=c.packages;
google.a.c.U(c.callback);google.a.c.Pc(f,function(){google.a.c.Rc(f,e)})}};google.a.c.U=function(a){a&&google.a.c.Ca.push(a);google.a.c.loaded&&!google.a.c.ma&&google.a.c.La()};google.a.c.bd=function(a){if(window.addEventListener)window.addEventListener(Oc,a,!1);else if(window.attachEvent)window.attachEvent(Zc,a);else{var c=window.onload;window.onload=function(d){c&&c(d);a()}}};google.a.c.Hb=document&&document.readyState===N;google.a.c.bd(function(){google.a.c.Hb=!0;google.a.c.La()});
google.a.c.La=function(){if(google.a.c.Cb&&google.a.c.loaded&&(google.a.c.Hb||document.readyState===N))for(;0<google.a.c.Ca.length;)google.a.c.Ca.shift()()};google.a.c.Oa=function(a,c){google.a.c.Xc(a,c)};if(Z.global.google&&Z.global.google.charts&&Z.global.google.charts.load)throw Error("Google Charts loader.js can only be loaded once.");google.a.load=function(a,c,d){a===nd&&(a=c,c=d);google.a.c.load(String(a),c||{})};google.a.U=function(a){google.a.c.U(a)};google.a.Oa=function(a,c){google.a.c.Oa(a,c)};Z.Aa(Fc,google.a.load);Z.Aa("google.charts.setOnLoadCallback",google.a.U);Z.Aa("google.charts.packageLoadedCallback",google.a.Oa); })();
</script>
</template>
