<!-- Date -->
<!--
	HOW to use:
	<p class="text-center list-inline" id="date">{{> date}}</p>
-->
 <template name="date">
 	<script>
 		var d = new Date();
 		document.getElementById('date').innerHTML = d.toDateString();
 	</script>
 </template>
