<template name="footer">
  <br><br><br>
  <style>
    .fId {
      color: white;
    }
  </style>
  <footer id="footer" style="background-color:#34495e;">
      <div class="container">
        <br>
          <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-3 column">
                  <h4 style="color:white;">Information</h4>
                  <ul class="nav">
                      <li><a class="fId" href="/post">Sample Article</a></li>
                      <li><a class="fId" href="/community-guidelines">Community Guidelines</a></li>
                      <!--<li><a class="fId" href="about-us.html">Jobs</a></li>-->
                      <li><a class="fId" href="/tips">Tips &amp; Tricks</a></li>
                  </ul>
              </div>
              <div class="col-xs-6 col-md-3 column">
                  <h4 style="color:white;">Follow Us</h4>
                  <ul class="nav">
                      <li><a class="fId" href="http://twitter.com/realtdt">Twitter</a></li>
                      <li><a class="fId" href="https://www.facebook.com/realtdt">Facebook</a></li>
                  </ul>
              </div>
              <div class="col-xs-6 col-md-3 column">
                  <h4 style="color:white;">Customer Service</h4>
                  <ul class="nav">
                      <li><a class="fId" href="/about">About Us</a></li>
                      <li><a class="fId" href="/contact">Contact us</a></li>
                      <li><a class="fId" href="/privacy">Privacy Policy</a></li>
                      <li><a class="fId" href="/terms">Terms &amp; Conditions</a></li>
                  </ul>
              </div>
          </div>
          <!--/row-->
          <p class="text-right" style="color:white;">© The Digital Times 2016</p>
      </div>
  </footer>

</template>
