<template name="scrollTop">
    <!-- Important but got replaced by okgrow:iron-router-autoscroll package-->
    <script>document.body.scrollTop = document.documentElement.scrollTop = 0;</script>
</template>
