<template name="entertain">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>The Digital Times - Entertainment</title>
    <meta name="generator" content="The Digital Times" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <link href="css/styles.css" rel="stylesheet"> -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="icon" href="img/favicon.ico">

    <style>
      {{> navInverse}}
      {{> button}}
      {{> flatBody}}
      body {
        padding-top: 35px;
      }
      @media only screen and (min-width: 768px) {
        .intro-header .site-heading,
        .intro-header .post-heading,
        .intro-header .page-heading {
          padding: 50px 0;
        }
      }
      .nav-tabs > li, .nav-pills > li {
      	float: none;
      	display: inline-block;
      	*display: inline;
      	zoom: 1;
      }
      .nav-tabs, .nav-pills {
      	text-align: center;
      }
    </style>
  </head>

  <body>
    <!-- Constant Navbar -->
    {{> constNavFix}}
    <script>
  		 $(document).ready( function() {
  				 $(".navbar-nav li").removeClass("active");
  				 $("#entertainNav").addClass("active");
  		 });
  	</script>
    <!--Header-->
    <header class="intro-header" style="background-image: url('/img/portals/images/entertain.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-offset-2 col-md-10 col-md-offset-0">
                    <div class="site-heading strokeme">
                        <h2>ENTERTAINMENT</h2>
                        <hr class="small">
                        <span class="subheading"><b><i>We aren't living in an information age, we are in an entertainment age</i> - Tony Robbins</b></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
      <center>
        <ul class="nav nav-pills">
          <li class="active"><a href="#newsop" data-toggle="tab">News + Op</a></li>
          <li><a href="#news" data-toggle="tab">News</a></li>
          <li><a href="#opinion" data-toggle="tab">Opinion</a></li>
        </ul>
      </center>
      <div class="tabbable">
        <div class="tab-content">
          <div class="tab-pane active" id="newsop">
            {{> entertainNewsOp}}
          </div>
          <div class="tab-pane" id="news">
            {{> entertainNews}}
          </div>
          <div class="tab-pane" id="opinion">
            {{> entertainOp}}
          </div>
        </div>
      </div> <!-- /tabbable -->
    </div>
      <!-- script references
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script>
          $(document).ready(function(){
            $('.dropdown-toggle').dropdown();
          });
        </script> -->
  </body>
  {{> footer}}
</template>

<template name="entertainNewsOp">
      <div class="col-sm-9">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
      </div><!--/center-->

      <div class="col-sm-3">
        {{> entertainTwitter}}
        {{> trendSideSection}}
      </div>
      {{> disqusCount}}
</template>

<template name="entertainNews">
  <div class="col-sm-9">
    {{#each articles}}
      {{> articleHead}}
    {{/each}}
    <button class="btn btn-info btn-block" id="loadMore">Load More</button>
  </div><!--/center-->

  <div class="col-sm-3">
    {{> entertainTwitter}}
    {{> trendSideSection}}
  </div>
  {{> disqusCount}}
</template>

<template name="entertainOp">
  <div class="col-sm-9">
    {{#each articles}}
      {{> articleHead}}
    {{/each}}
    <button class="btn btn-info btn-block" id="loadMore">Load More</button>
  </div><!--/center-->

  <div class="col-sm-3">
    {{> entertainTwitter}}
    {{> trendSideSection}}
  </div>
  {{> disqusCount}}
</template>
