<template name="homeRenda">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		{{#if currentUser}} {{lng}}{{lat}} {{/if}}
		<style>
			{{> styleRenda}}

			{{> navInverse}}
      {{> button}}
      {{> flatBody}}
      body {
        padding-top: 35px;
      }
		</style>
	</head>
	<body>
		<!-- Navigation -->
		{{> constNavFix}}

		<div class="container">
		<!-- <section class="main-slider">
			<ul class="bxslider">
				<li><div class="slider-item"><img src="/img/portals/images/21.jpg" title="Politics" /><h2><a href="post.html" title="Vintage-Inspired Finds for Your Home">Vintage-Inspired Finds for Your Home</a></h2></div></li>
				<li><div class="slider-item"><img src="http://bit.ly/1lwBe9i" title="Life" /><h2><a href="post.html" title="Vintage-Inspired Finds for Your Home">Vintage-Inspired Finds for Your Home</a></h2></div></li>
				<li><div class="slider-item"><img src="http://bit.ly/1JYRxak" title="Sports" /><h2><a href="post.html" title="Vintage-Inspired Finds for Your Home">Vintage-Inspired Finds for Your Home</a></h2></div></li>
			</ul>
		</section>  add jqCSS when you add this-->
		<section>
			<div class="row">
				<div class="col-md-8">
					<div class="blog-post">
							{{#if currentUser}}
							<h2 class="text-muted">Share Article Below or Click <a style="color:orange" href="/postform"><b>Post</b> <i class="fa fa-upload"></i></a> to Write</h2>
							{{> category}} <hr>
							<form class="form-inline">
							    <div class="form-group">
							      <div class="col-lg-10">
											<div class="input-group input-group-lg">
												<input type="text" class="form-control" placeholder="Article url (e.g. http://www.bbc.com/news/science-environment-36420750)" id="shareUrl">
									      <span class="input-group-btn">
									        <button class="btn btn-secondary btn-success btn-sm" type="submit" value="Submit" id="submit" style="pull-right">Submit</button>
									      </span>
											</div>
							      </div>
							    </div>
							</form>
							{{else}}
							<center>
								<h1 class="text-muted">Share, write &amp; respond to articles! Just sign in</h1>
							</center>
							{{/if}}
					</div>
					{{#each articles}}
						{{> homeArticleHead}}
					{{/each}}
					<button class="btn btn-info btn-block" id="loadMore">Load More</button>
					<br>
				</div>
				<div class="col-md-4 sidebar-gutter">
					<aside>
					<!-- sidebar-widget -->
					<div class="sidebar-widget">
						<h3 class="sidebar-title">About Us</h3>
						<div class="widget-container widget-about">
							<a href="/about/"><img src="/img/about-bg.jpg" alt=""></a>
							<!--<h4>Jamie Mooz</h4>
							<div class="author-title">Designer</div>-->
							<p>Respond Like Never Before...This website was founded on the idea of news with purpose. Too many events were going on in the world without proper coverage.
								 Now you can write about what you see or reply with an opinion piece. Your world. Your voice.</p>
						</div>
					</div>
					<!-- sidebar-widget -->
					<div class="sidebar-widget">
						<h3 class="sidebar-title">Trending Topics</h3>
						<div class="widget-container">
							<article class="widget-post">
								{{> breakingTwitter}}
							</article>
						</div>
					</div>
					<!-- sidebar-widget -->
					<div class="sidebar-widget">
						<h3 class="sidebar-title">Share On</h3>
						<div class="widget-container">
							<div class="widget-socials">
								<a href="https://www.facebook.com/sharer/sharer.php?u=http://thedigitaltimes.com/" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
								<a href="https://twitter.com/share?url=http://thedigitaltimes.com/" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
								<a href="https://plus.google.com/share?url=http://thedigitaltimes.com/" title="Share on Google+"><i class="fa fa-google-plus"></i></a>
								<a href="http://www.reddit.com/submit?url=http://thedigitaltimes.com/" title="Share on Reddit"><i class="fa fa-reddit"></i></a>
							</div>
						</div>
					</div>
					</aside>
					</div>
				</div>
			</section>
			</div>

	<!--	</div> /.container -->

		<!--<footer class="footer">

			<div class="footer-socials">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-reddit"></i></a>
			</div>

			<div class="footer-bottom">
				<i class="fa fa-copyright"></i> The Digital Times Copyright 2015. All rights reserved.<br>
			</div>
		</footer>-->

		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		{{> jqScript}}
		{{> moozScript}}
	</body>
	{{> footer}}
</template>
