<template name="editProfile">
  <body>
    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Header -->
          <header id="header">
            <h1><a href="/">The Digital Times</a></h1>
            <nav class="links">
              <ul>
                <li><a href="/local">Local</a></li>
                <li><a href="/politics">Politics</a></li>
                <li><a href="/life">Life</a></li>
                <li><a href="/entertain">Entertainment</a></li>
                <li><a href="/sports">Sports</a></li>
                <li><a href="/postform" style="color:#2ecc71;">Post <i class="fa fa-upload"></i></a></li>
              </ul>
            </nav>
            <nav class="main">
              <ul>
                <li class="login">
                  <div class="dropdown">
                    <a href="#" class="button dropbtn">{{#if currentUser}}{{currentUser.profile.name}}{{else}}Login{{/if}}</a>
                    <div class="dropdown-content">
                        {{> loginButtons align="right"}}
                    </div>
                  </div>
                </li>
                <li class="menu">
                  <div class="dropdown">
                    <a href="#" class="button dropbtn">Menu</a>
                    <div class="dropdown-content" style="text-align:left;">
                        <a href="/local">&nbsp;&nbsp;Local</a>
                        <a href="/politics">&nbsp;&nbsp;Politics</a>
                        <a href="/life">&nbsp;&nbsp;Life</a>
                        <a href="/entertain">&nbsp;&nbsp;Entertainment</a>
                        <a href="/sports">&nbsp;&nbsp;Sports</a>
                        <a href="/postform" style="color:#2ecc71;">&nbsp;&nbsp;Post <i class="fa fa-upload"></i></a>
                    </div>
                  </div>
                </li>
              </ul>
            </nav>
          </header>

          {{#if currentUser}}
          <!-- Form -->
          <article class="post">
            <header>
              <div class="title">
                <h2><a href="#">Edit Profile</a></h2>
                <p>We all start with a name.</p>
              </div>
            </header>

            <section>
              <h3>Form</h3>
              <p>What's on your mind? Edit your profile so when people go to your page they'll get something to see. IMPORTANT: Fill in all the fields so you don't lose any data that you already put before!</p>

              <form method="post" action="#">
                <div class="row uniform">
                  <div class="6u 12u$(xsmall)">
                    <input type="text" name="title" id="firstname" value="" placeholder="First name" required/>
                  </div>
                  <div class="6u 12u$(xsmall)">
                    <input type="text" name="subtitle" id="lastname" value="" placeholder="Last name" />
                  </div>
                  {{#unless currentUser.services.twitter}}
                  <div class="12u$">
                    <input type="text" name="title" id="twitter" value="" placeholder="Twitter" />
                  </div>
                  {{/unless}}
                  <div class="6u 12u$(xsmall)">
                    <input type="text" name="subtitle" id="quote" value="" placeholder="Quote" />
                  </div>
                  <div class="6u 12u$(xsmall)">
                    <input type="text" name="subtitle" id="website" value="" placeholder="Website" />
                  </div>
                  <div class="12u$">
                    <ul class="actions">
                      <li><button type="button" id="update">Update Profile</button></li>
                    </ul>
                  </div>
                </div>
              </form>

            </section>
          </article>

          <script>
              if (! Meteor.user().profile.name) {}else{document.getElementById('firstname').value = Meteor.user().profile.name;};
              if (! Meteor.user().profile.lastname) {}else{document.getElementById('lastname').value = Meteor.user().profile.lastname;};
              if (! Meteor.user().services.twitter) {
                if (! Meteor.user().profile.twitter) {}else{document.getElementById('twitter').value = Meteor.user().profile.twitter;};
              };
              if (! Meteor.user().profile.quote) {}else{document.getElementById('quote').value = Meteor.user().profile.quote;};
              if (! Meteor.user().profile.website) {}else{document.getElementById('website').value = Meteor.user().profile.website;};
          </script>
          {{else}}
            <h2>Update your profile by logging in :)</h2>
          {{/if}}
      </div>
  </body>
</template>
