<template name="debate">
	<head>
		<title>Debates - The Digital Times</title>
		<style>
			{{> button}}
	      	{{> flatBody}}
	      	{{> debateStyle}}
		</style>
	</head>
	<body>
	{{> constNavStatic}}
    <div class="container-fluid">
		{{#if currentUser}}
			<div id="main">
				<h1>World Debate</h1>
				{{> input}}
				{{> messages}}
			</div>
		{{/if}}
	</div>
	</body>
</template>

<template name="messages">
	<div id="chats" class="chats">
		<div style="height:500px;width300px;border:1px solid #ccc;font: 16px/26px Georgia, Garamond, Serif;overflow:auto;">
			{{#each messages}}
				<strong>{{name}}</strong> <span style="font-size: 0.6em; color: darkgray">({{ts.toLocaleString}})</span>: {{#emojione}} {{msg}} {{/emojione}}<br>
			{{/each}}
		</div>
	</div>
</template>

<template name="input">
	<form id="send">
		<input id="message" type="text" placeholder="What's on your mind? You can add emoji's (shortname and keyboard emoji)">
		<button type="submit" class="btn btn-success"><i class="fa fa-send"></i></button>
	</form>
</template>

<template name="debateStyle">
	body{
  		background: #eee;
  		text-align: center;
  		/*padding: 0 25px;*/
  		font-family: arial, sans-serif;
  	}

  	#main {
  		width: 1000px;
  		margin: auto;
  		text-align: left;
  		background: white;
  		padding: 50px 60px;
  		border: solid #ddd;
  		border-width: 0 1px 1px 1px;
  	}

  	#main h1 {
  		margin-top: 0;
  		font-size: 35px;
  		margin-bottom: 5px;
  		padding: 5px;
  	}

  	#main h1 span {
  		font-style: italic;
  	}
  	#main ul {
  		padding-left: 20px;
  	}
  	#main .error {
  		border: 1px solid red;
  		background: #FDEFF0;
  		padding: 20px;
  	}
  	#main .success {
  		margin-top: 25px;
  	}
  	#main .success code {
  		font-size: 12px;
  		color: green;
  		line-height: 13px;
  	}
  	form {
  		padding: 20px;
  		padding-left: 0;
  		margin-bottom: 20px;
  	}
  	form input[type=text]{
  		margin-right: 10px;
  		width: 70%;
  		font-size: 12px;
  		padding: 5px;
  	}
  	.chat {
  		padding: 5px;
  		margin-bottom: 5px;
  		background-color: #eee;
  	}
  	.chat .username {
  		font-weight: 800;
  	}
  	.chat:hover {
  		background-color: #ddd;
  	}
  	.spinner {
  		/*float: right;
  		height: 46px;*/
  		margin-bottom: 5px;
  	}
  	/*.spinner img {
  		padding: 10px;
  	}
  	html {
  		padding: 10px;
  		font-family: Verdana, sans-serif;
  	}*/
</template>