<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<template name="communityGuidelines">
  <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>The Digital Times - About</title>

      <!-- Custom Fonts -->
      <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
      <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>



      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <style>
          {{> navInverse}}
          {{> button}}
          {{> flatBody}}
          body {
              padding-top: 25px;
          }
      </style>

  </head>

  <body>

      <!-- Navigation -->
      {{> constNavFix}}

      <!-- Page Header -->
      <!-- Set your background image for this header on the line below. -->
      <header class="intro-header" style="background-image: url('/img/about-bg.jpg')">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                      <div class="page-heading">
                          <h1>Community Guidelines</h1>
                          <hr class="small">
                          <span class="subheading">Love &amp; Respect</span>
                      </div>
                  </div>
              </div>
          </div>
      </header>

      <!-- Main Content -->
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <h2>Respect Each Other</h2>
                  <p>We all realize that this is the internet and there isn't any real boundaries to what can be done.
                  But we ask that y'all stay chill when dealing with other users and publications on the website. Respect the website
                 by not abusing the service. Every feature avaliable on the website comes with a certain level of trust that we expect from
                all of our users.</p>
                <br>
                <div class="col-xs-4 col-sm-6">
                  <h3><i class="fa fa-eye-slash" style="color:orange"></i> Nudity or sexual content</h3>
                  <p>The Digital Times is not for pornography or sexually explicit content. If this describes your article, even if it's part of an article, don't post it on The Digital Times. Also, be advised that we work closely with law enforcement and we report child exploitation.</p>
                </div>
                <div class="col-xs-4 col-sm-6">
                  <h3><i class="fa fa-university" style="color:orange"></i> Copyright</h3>
                  <p>Respect copyright. Only post articles that you wrote or that you're authorized to use. This means don't post articles you didn't make, or use content in your articles that someone else owns the copyright to, such as images, snippets of copyrighted programs, or articles written by other users, without necessary authorizations.</p>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="col-xs-4 col-sm-6">
                  <h3><i class="fa fa-bomb" style="color:orange"></i> Harmful or dangerous content</h3>
                  <p>Don't post articles that encourage others to do things that might cause them to get badly hurt, especially kids. Articles showing such harmful or dangerous acts may get removed depending on their severity.</p>
                </div>
                <div class="col-xs-4 col-sm-6">
                  <h3><i class="fa fa-ambulance" style="color:orange"></i> Violent or graphic content</h3>
                  <p>It's not okay to post violent or gory content that's primarily intended to be shocking, sensational, or disrespectful. If posting graphic content in a news or documentary context, please be mindful to provide enough information to help people understand what's going on in the article. Don't encourage others to commit specific acts of violence.</p>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="col-xs-4 col-sm-6">
                  <h3><i class="fa fa-trash" style="color:orange"></i> Spam, misleading metadata, and scams</h3>
                  <p>Everyone hates spam. Don't create misleading descriptions, tags, titles, or thumbnails in order to increase views. It's not okay to post large amounts of untargeted, unwanted or repetitive content, including comments and private messages.</p>
                </div>
                <div class="col-xs-4 col-sm-6">
                  <h3><i class="fa fa-flash" style="color:orange"></i> Threats</h3>
                  <p>Things like predatory behavior, stalking, threats, harassment, intimidation, invading privacy, revealing other people's personal information, and inciting others to commit violent acts or to violate the Terms of Use are taken very seriously. Anyone caught doing these things may be permanently banned from The Digital Times.</p>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <center><h3><i class="fa fa-frown-o" style="color:orange"></i> Hateful Content</h3></center>
                <p>Our products are platforms for free expression. But we don't support content that promotes or condones violence against individuals or groups based on race or ethnic origin, religion, disability, gender, age, nationality, veteran status, or sexual orientation/gender identity, or whose primary purpose is inciting hatred on the basis of these core characteristics. This can be a delicate balancing act, but if the primary purpose is to attack a protected group, the content crosses the line.</p>
              </div>
          </div>
      </div>

      <hr>
  </body>
  <!-- Footer -->
  {{> footer}}
</template>
<!--</html>-->
