<template name="communityGuidelines">
	<body class="single">

		<!-- Wrapper -->
			<div id="wrapper">

        <!-- Header -->
					<header id="header">
						<h1><a href="/">The Digital Times</a></h1>
						<nav class="links">
							<ul>
								<li><a href="/local">Local</a></li>
								<li><a href="/politics">Politics</a></li>
								<li><a href="/life">Life</a></li>
								<li><a href="/entertain">Entertainment</a></li>
								<li><a href="/sports">Sports</a></li>
								<li><a href="/postform" style="color:#2ecc71;">Post <i class="fa fa-upload"></i></a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="login">
									<div class="dropdown">
										<a href="#" class="button dropbtn">{{#if currentUser}}{{currentUser.profile.name}}{{else}}Login{{/if}}</a>
										<div class="dropdown-content">
												{{> loginButtons align="right"}}
										</div>
									</div>
								</li>
								<li class="menu">
									<div class="dropdown">
										<a href="#" class="button dropbtn">Menu</a>
										<div class="dropdown-content" style="text-align:left;">
												<a href="/local">&nbsp;&nbsp;Local</a>
												<a href="/politics">&nbsp;&nbsp;Politics</a>
												<a href="/life">&nbsp;&nbsp;Life</a>
												<a href="/entertain">&nbsp;&nbsp;Entertainment</a>
												<a href="/sports">&nbsp;&nbsp;Sports</a>
												<a href="/postform" style="color:#2ecc71;">&nbsp;&nbsp;Post <i class="fa fa-upload"></i></a>
										</div>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">community Guidelines</a></h2>
										<p>Maximize your usage of this website</p>
									</div>
									<div class="meta">
										<time class="published">June 15th, 2016</time>
									</div>
								</header>

                <h2>Respect Each Other</h2>
                <p>We all realize that this is the internet and there isn't any real boundaries to what can be done. But we ask that y'all stay chill when dealing with other users and publications on the website. Respect the website by not abusing the service. Every feature avaliable on the website comes with a certain level of trust that we expect from all of our users.</p>
                <div class="row uniform">
                  <div class="6u 12u$(xsmall)">
                    <h3><i class="fa fa-eye-slash"></i> Nudity or sexual content</h3>
                    <p>The Digital Times is not for pornography or sexually explicit content. If this describes your article, even if it's part of an article, don't post it on The Digital Times. Also, be advised that we work closely with law enforcement and we report child exploitation.</p>
                  </div>
                  <div class="6u 12u$(xsmall)">
                    <h3><i class="fa fa-university"></i> Copyright</h3>
                    <p>Respect copyright. Only post articles that you wrote or that you're authorized to use. This means don't post articles you didn't make, or use content in your articles that someone else owns the copyright to, such as images, snippets of copyrighted programs, or articles written by other users, without necessary authorizations.</p>
                  </div>
                </div>
                <div class="row uniform">
                  <div class="6u 12u$(xsmall)">
                    <h3><i class="fa fa-bomb"></i> Harmful or dangerous content</h3>
                    <p>Don't post articles that encourage others to do things that might cause them to get badly hurt, especially kids. Articles showing such harmful or dangerous acts may get removed depending on their severity.</p>
                  </div>
                  <div class="6u 12u$(xsmall)">
                    <h3><i class="fa fa-ambulance"></i> Violent or graphic content</h3>
                    <p>It's not okay to post violent or gory content that's primarily intended to be shocking, sensational, or disrespectful. If posting graphic content in a news or documentary context, please be mindful to provide enough information to help people understand what's going on in the article. Don't encourage others to commit specific acts of violence.</p>
                  </div>
                </div>
                <div class="row uniform">
                  <div class="6u 12u$(xsmall)">
                    <h3><i class="fa fa-trash"></i> Spam, misleading metadata, and scams</h3>
                    <p>Everyone hates spam. Don't create misleading descriptions, tags, titles, or thumbnails in order to increase views. It's not okay to post large amounts of untargeted, unwanted or repetitive content, including comments and private messages.</p>
                  </div>
                  <div class="6u 12u$(xsmall)">
                    <h3><i class="fa fa-flash"></i> Threats</h3>
                    <p>Things like predatory behavior, stalking, threats, harassment, intimidation, invading privacy, revealing other people's personal information, and inciting others to commit violent acts or to violate the Terms of Use are taken very seriously. Anyone caught doing these things may be permanently banned from The Digital Times.</p>
                  </div>
                </div>

                <h3><i class="fa fa-frown-o"></i> Hateful Content</h3>
                <p>Our products are platforms for free expression. But we don't support content that promotes or condones violence against individuals or groups based on race or ethnic origin, religion, disability, gender, age, nationality, veteran status, or sexual orientation/gender identity, or whose primary purpose is inciting hatred on the basis of these core characteristics. This can be a delicate balancing act, but if the primary purpose is to attack a protected group, the content crosses the line.</p>

              <br>
							</article>

					</div>

				{{> footer}}

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>
	</body>
</template>
