<template name="loading">
  <head>
    <style>
      {{> navInverse}}
      {{> button}}
      {{> flatBody}}
    </style>
  </head>
  {{> constNavFix}}
  <br><br><br>
	<center>
    <h1> {{> logo}} <br> Loading... <!--<i class="fa fa-circle-o-notch fa-spin"></i>--> </h1><br><img src="/img/status.gif">
    <br>
	</center>
</template>
