<template name="privacy">
<body>
  <head>
    <style>
      {{> navInverse}}
      {{> button}}
      {{> flatBody}}
    </style>
  </head>
  {{> constNavFix}}
  <br><br><br>
<div class="mainHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 clearfix">
        <h1>The Digital Times Privacy Policy</h1>
      </div>
    </div>
  </div>
</div>

<div id="terms" class="container">

  <div class="row">
    <div class="col-xs-12">

      <p>When you use The Digital Times services, you trust us with your information. This Privacy Policy is meant to help you understand what data we collect, why we collect it, and what we do with it. Our Privacy Policy may change from time to time. We will not reduce your rights under this Privacy Policy without your explicit consent. We will post any privacy policy changes on this page and, if the changes are significant, we will provide a more prominent notice (including, for certain services, email notification of privacy policy changes). We will also keep prior versions of this Privacy Policy in an archive for your review.</p>

    </div>
  </div>

</div>
</body>
{{> footer}}
</template>
