<template name="search">
  <head>
    <style>
      {{> navInverse}}
      {{> button}}
      {{> flatBody}}
    </style>
  </head>
  {{> constNavFix}}
  <br><br><br>
	<center>
    <h1> {{> logo}} Search </h1>
    <br>
	</center>
  <div class="col-md-8 col-md-offset-2">
    <gcse:search></gcse:search>
  </div>
  <script>
    (function() {
      var cx = '012322703527793189209:bwugkhqet6k';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
</template>
