<template name="tips">
  <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">


      <!-- Custom Fonts -->
      <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
      <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>



      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <style>
          {{> navInverse}}
          {{> button}}
          {{> flatBody}}
          body {
              padding-top: 25px;
          }
      </style>

  </head>

  <body>

      <!-- Navigation -->
      {{> constNavFix}}

      <!-- Page Header -->
      <!-- Set your background image for this header on the line below. -->
      <header class="intro-header" style="background-image: url('/img/home-bg_og.jpg')">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                      <div class="page-heading">
                          <h1>Tips &amp; Tricks</h1>
                          <hr class="small">
                          <span class="subheading">How to use the website to write the greatest articles</span>
                      </div>
                  </div>
              </div>
          </div>
      </header>

      <!-- Main Content -->
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <center><h2>Main Image</h2></center>
                  <p>The main image contributes so much to the probability that someone could click on your article that it's probably a good idea to add one. If you don't add an image link when you are publishing your article The Digital Times will provide a standard one for you that alternates every day of the week. The Digital Times however cannot currently host your image so to add the main image you must provide a link. A good site to use to host your image is <a href="http://imgur.com">Imgur</a>. Simply upload your image to Imgur</p>
                  <center><img src="http://i.imgur.com/xyhuVSZ.jpg"></center>
                  <p>After uploading the image copy the Direct Link into the Image URL field on the <a style="color:orange;" href="/postform">Post</a> page</p>
                  <center><img src="http://i.imgur.com/ARhwzq6.jpg"></center>
                  <br><br>
                  <!--<center><h2>Using Chart Builder</h2></center>-->
              </div>
          </div>
      </div>

      <hr>
  </body>
  <!-- Footer -->
  {{> footer}}
</template>
<!--</html>-->
