<template name="citation">
  {{#if imglink}}<a href="{{imglink}}" style="color:orange">Main Image</a><br>{{/if}}
   {{name owner}}. "{{title}}" <i>The Digital Times</i>. The Digital Times, {{createdAt.toDateString}}. Web. <span id="date">{{> date}}</span>. &lt;http://thedigitaltimes.com{{thisPage}}&gt;.
</template>
