<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    {{#if currentUser.admin}}<button class="btn btn-default btn-block" id="admin">Admin</button>{{/if}}
    <button class="btn btn-default btn-block" id="login-buttons-edit-profile">Edit Profile</button>
    <button class="btn btn-default btn-block" id="myPage">Profile</button>
    {{#if draftsExist}}<button class="btn btn-default btn-block" id="mydrafts">My Drafts</button>{{/if}}
    <button class="btn btn-default btn-block" id="tips">Tip &amp; Tricks</button>
</template>
