<template name="homeArticleHead">
  <article class="blog-post">
    {{#if imglink}}
    <center>
      <div class="blog-post-image thumbnail">
        <a href="/{{subjectType}}/{{_id}}"><img src="{{imglink}}" alt=""></a>
      </div>
    </center>
    {{/if}}
    <div class="blog-post-body">
      <h2><a href="/{{subjectType}}/{{_id}}">{{#if shared}}{{{justText title}}}{{else}}{{title}}{{/if}}</a><h3><a href="/{{subjectType}}/{{_id}}">{{#if shared}} {{{justText subtitle}}} {{else}} {{subtitle}} {{/if}}</a></h3></h2>

      <div class="post-meta">
        {{#if shared}}<span><i class="fa fa-globe"></i> {{domain}}</span>/{{/if}}
        <span>by <a href="/j/{{articleUsername}}" target="_blank">{{author owner}}</a></span>
        {{#unless shared}}
          {{#if twitCheck owner}}/
          <span><i class="fa fa-twitter"></i><a href="http://twitter.com/{{twitUser owner}}">{{twitUser owner}}</a></span>
          {{/if}}
        {{/unless}}/
        <span><i class="fa fa-clock-o"></i>{{createdAt.toDateString}}</span>/
        <span>{{#if categoryCheck category}}<i class="fa fa-newspaper-o"></i>News{{else}}<i class="fa fa-quote-right"></i>Opinion{{/if}}</span>
      </div>

      <p>{{{someText sHTML}}}</p>
      <div class="read-more"><a href="/{{subjectType}}/{{_id}}">Continue Reading</a></div>
    </div>
  </article>
</template>
