<!--NEW WORLD -->
<template name="local">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Local - News, Opinions, Discussions</title>
    <meta name="generator" content="The Digital Times" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <link href="css/styles.css" rel="stylesheet"> -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="icon" href="img/favicon.ico">
    {{lng}}{{lat}}
    <style>
      {{> navInverse}}
      {{> button}}
      {{> flatBody}}
      body {
        padding-top: 25px;
      }
      @media only screen and (min-width: 768px) {
        .intro-header .site-heading,
        .intro-header .post-heading,
        .intro-header .page-heading {
          padding: 50px 0;
        }
      }
      .nav-tabs > li, .nav-pills > li {
        float: none;
        display: inline-block;
        *display: inline;
        zoom: 1;
      }
      .nav-tabs, .nav-pills {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <!-- Constant Navbar -->
    {{> constNavFix}}
    <script>
  		 $(document).ready( function() {
  				 $(".navbar-nav li").removeClass("active");
  				 $("#localNav").addClass("active");
  		 });
  	</script>
    <!--Header-->
    <header class="intro-header" style="background-image: url('/img/portals/images/54.jpeg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-offset-2 col-md-10 col-md-offset-0">
                    <div class="site-heading">
                        <h1>{{#if city}}{{city}}{{else}}Local{{/if}}</h1>
                        <hr class="small">
                        <span class="subheading strokeme"><b><i>{{#if city}}"Taking the time to build community, to get to know your people will have long-lasting benefits" - Clifton Taulbert{{else}}Turn on location to see what people around you are saying{{/if}}</i></b></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
      <center>
        <ul class="nav nav-pills">
          <li class="active"><a href="#newsop" data-toggle="tab">News + Op</a></li>
          <li><a href="#news" data-toggle="tab">News</a></li>
          <li><a href="#opinion" data-toggle="tab">Opinion</a></li>
        </ul>
      </center>
      <div class="tabbable">
        <div class="tab-content">
          <div class="tab-pane active" id="newsop">
            {{> localNewsOp}}
          </div>
          <div class="tab-pane" id="news">
            {{> localNews}}
          </div>
          <div class="tab-pane" id="opinion">
            {{> localOp}}
          </div>
        </div>
      </div> <!-- /tabbable -->
    </div>      <!-- script references
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script>
          $(document).ready(function(){
            $('.dropdown-toggle').dropdown();
          });
        </script> -->
  </body>
  {{> footer}}
</template>

<template name="localNewsOp">
  <div class="col-sm-9">
    {{#if articles}}
      {{#each articles}}
        {{> articleHead}}
      {{/each}}
      <button class="btn btn-info btn-block" id="loadMore">Load More</button>
    {{else}}
    <center><h1 class="text-muted">Be the first to write an article in your area!</h1></center>
    {{/if}}
  </div><!--/center-->

  <div class="col-sm-3">
    {{> trendSideSection}}
  </div>
  {{> disqusCount}}
</template>

<template name="localNews">
  <div class="col-sm-9">
    {{#if articles}}
      {{#each articles}}
        {{> articleHead}}
      {{/each}}
      <button class="btn btn-info btn-block" id="loadMore">Load More</button>
    {{else}}
    <center><h1 class="text-muted">Be the first to write an article in your area!</h1></center>
    {{/if}}
  </div><!--/center-->

  <div class="col-sm-3">
    {{> trendSideSection}}
  </div>
  {{> disqusCount}}
</template>

<template name="localOp">
  <div class="col-sm-9">
    {{#if articles}}
      {{#each articles}}
        {{> articleHead}}
      {{/each}}
      <button class="btn btn-info btn-block" id="loadMore">Load More</button>
    {{else}}
    <center><h1 class="text-muted">Be the first to write an article in your area!</h1></center>
    {{/if}}
  </div><!--/center-->

  <div class="col-sm-3">
    {{> trendSideSection}}
  </div>
  {{> disqusCount}}
</template>
