<template name="localProfiles">
    <h2>{{profile.name}} {{#if verified}}<i style="color:orange" class="fa fa-check-circle-o" title="Verified"></i>{{/if}}</h2>
    <div class="panel panel-default">
      {{#if profile.twitter}}<div class="panel-heading"><a href="http://twitter.com/{{profile.twitter}}">{{profile.twitter}}</a></div>{{/if}}
      {{#if profile.email}}<div class="panel-heading">{{profile.email}}</div>{{/if}}
      {{#if profile.location}}<div class="panel-heading"><a href="http://maps.google.com/?q={{profile.location}}">{{profile.location}}</a></div>{{/if}}
      {{#if profile.website}}<div class="panel-heading"><a href="http://{{profile.website}}">{{profile.website}}</a></div>{{/if}}
      {{#if profile.bio}}<div class="panel-body">{{profile.bio}}</div>{{/if}}
    </div>
    <hr>
</template>
