<template name="postform">

	<head>

		<title>The Digital Times - Post</title>
		{{lng}}{{lat}}
		<style>
			{{> navInverse}}
			{{> button}}
			{{> flatBody}}
			{{> tagsCss}}
		    /*.btn {
			  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
			  text-transform: uppercase;
			  font-size: 14px;
			  font-weight: 800;
			  letter-spacing: 1px;
			  border-radius: 0;
			  padding: 10px 15px;
			}*/
		</style>
	</head>
	{{#if currentUser}}
	<body>
	<!-- Constant Navbar -->
	{{> constNavStatic}}
	<script>
		 $(document).ready( function() {
				 $(".nav li").removeClass("active");
				 $("#postNav").addClass("active");
		 });
	</script>
    <!--form -->
    <form class="post_entry" id="post">
    	<div class="container">
        	<div class="row">
				<!--<input type="text" name="title" placeholder="Enter title">-->
					<div class="row">
                <div class="form-group col-xs-12">
                    <button type="button" class="btn btn-success" value="preview" id="preview" onclick="draftFunc()"><span class="previewdraft">Preview Draft</span></button>
                    <button class="btn btn-danger"><span class="discard" style="color:white"><i class="fa fa-trash"></i> Discard</span></button>
										<button class="btn btn-warning"><span class="chart" style="color:white"><i class="fa fa-line-chart"></i> Chart Builder</span></button>
                    <button class="btn btn-info"><span class="sample" style="color:white"><i class="fa fa-external-link"></i> Sample Post</span></button>
								</div>
          </div>
					<div class="row control-group">
                  <div class="form-group col-xs-10 floating-label-form-group controls">
                      <label>Title</label>
                      <input type="text" class="form-control" placeholder="Enter Title" name="title" required data-validation-required-message="Please enter your title.">
											<p class="help-block text-danger"></p>
                  </div>
          </div>
          <div class="row control-group">
                  <div class="form-group col-xs-12 floating-label-form-group controls">
                      <label>Subtitle</label>
                      <input type="text" class="form-control" placeholder="Enter Subtitle ~ Optional" name="subtitle">
                      <p class="help-block text-danger"></p>
                  </div>
          </div>
              <div class="row control-group">
	            	<div class="form-group col-xs-12 floating-label-form-group controls">
                          <label>Tags</label>
				        <input type="text" class="form-control" placeholder="Enter Tags ex.: title, article, my name" name="tags">
                        <p class="help-block text-danger"></p>
				       </div>
              </div>
							<div class="row control-group">
								<div class="form-group col-xs-12 floating-label-form-group controls">
													<label>Main Image Link</label>
								<input type="text" class="form-control" placeholder="Enter Image URL for Thumbnail &amp; Main picture" name="imglink">
												<p class="help-block text-danger"></p>
							 </div>
							</div>
              <div class="row control-group">
                      <div class="form-group col-xs-12 floating-label-form-group controls">
                          Choose Type: {{> category}} <!--If World Choose Section: {{> wldcategory}}-->
													<div id="placeType"> <!-- style="display:none;" if script ran -->
											    	<div class="row control-group">
											            <div class="form-group col-xs-12 floating-label-form-group controls">
											                <label>City</label>
											                <input type="text" class="form-control" placeholder="Enter City ~ Optional" name="city">
											                <p class="help-block text-danger"></p>
											            </div>
											        </div>
											    </div>
											</div>
              </div>
              <div class="row control-group">
                {{> editor}}
            </div>
              <br>
					<div class="row">
                        <div class="form-group col-xs-12">
                            <button type="button" class="btn btn-success" value="preview" id="preview2" onclick="draftFunc()"><span class="previewdraft">Preview Draft</span></button>
                            <button class="btn btn-danger"><span class="discard" style="color:white"><i class="fa fa-trash"></i> Discard</span></button>
														<button class="btn btn-warning"><span class="chart" style="color:white"><i class="fa fa-line-chart"></i> Chart Builder</span></button>
                            <button class="btn btn-info"><span class="sample" style="color:white"><i class="fa fa-external-link"></i> Sample Post</span></button>
                        </div>
	                </div>
	        </div>
	    </div>

	<!-- Draft -->
	<div id="draft" style="display:none">
	    <!-- Page Header -->
	    <!-- Set your background image for this header on the line below. -->
	    <header class="intro-header">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	                    <div class="post-heading" style="color:white">
	                        <h1 id="title"></h1>
	                        <h2 class="subheading" id="subtitle"></h2>
	                        <span class="meta">Posted by <b>{{currentUser.profile.name}} {{currentUser.profile.lastname}}</b> on &nbsp;&nbsp;<span class="text-center list-inline" id="date">{{> date}}</span><br><a href="twitter.com/{{currentUser.profile.twitter}}">{{currentUser.profile.twitter}}</a></span>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </header>

	    <!-- Post Content -->
	    <article>
	        <div class="container">
	            <div class="row">
		            <div class="row">
                        <div class="form-group col-xs-12">
                        	<center>
                        		<div style="display:inline" class="publish"><button type="submit" class="btn btn-success">Publish</button></div>
                    			<div style="display:inline" class="fixup"><button class="btn btn-warning" type="submit"><i class="fa fa-arrow-up"></i> Fix</button></div>
                    			<div style="display:inline" class="savedraft"><button class="btn btn-primary" type="submit"><i class="fa fa-floppy-o"></i> Save As Draft</button></div>
                            </center>
                        </div>
	                </div>
	                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	                    <b id="city"></b> <b>-</b> <span id="article"></span>
	                </div>
	            </div>
	        </div>
	    </article>

	    <hr>

		<div class="row">
            <div class="form-group col-xs-12">
            	<center>
                    <div style="display:inline" class="publish"><button type="submit" id="publish2" class="btn btn-success">Publish</button></div>
                    <div style="display:inline" class="fixup"><button class="btn btn-warning" id="fixup2" type="submit"><i class="fa fa-arrow-up"></i> Fix</button></div>
                    <div style="display:inline" class="savedraft"><button class="btn btn-primary" id="savedraft2" type="submit"><i class="fa fa-floppy-o"></i> Save As Draft</button></div>
                </center>
            </div>
        </div>
	</div>
	</form>
	<script>
		$('#preview,#preview2').on('click',function(){
			$('#draft').show();
		});
		function draftFunc() {
			var title = document.getElementById('post').elements[4].value;
			var subtitle = document.getElementById('post').elements[5].value;
			var imglink = document.getElementById('post').elements[7].value;
			var city = document.getElementById('post').elements[10].value;
			var article = $('#summernote').summernote('code'); //$('#summernote').code()
			document.getElementById('title').innerHTML = title;
			document.getElementById('subtitle').innerHTML = subtitle;
			document.getElementById('city').innerHTML = city;
			document.getElementById('article').innerHTML = article;
			function myCallback(url, answer) {
				if (answer) {
					$(document).ready(function() {
						 $('header').css('background-image', 'url('+url+')');
				 });
				}
				else {
						$(document).ready(function() {
							 $('header').css('background-image', 'url(/img/portals/images/22.jpg)');
					 });
				}
			}

			function IsValidImageUrl(url, callback) {
			    var img = new Image();
			    img.onerror = function() { callback(url, false);}
			    img.onload =  function() { callback(url, true);}
			    img.src = url
			}

			IsValidImageUrl(imglink, myCallback);

		}
	</script>
	</body>
	<!-- Make user login -->
	{{else}}
	{{> constNavStatic}}
	<br><br>
	<span  style="text-align:center">
		<p><h1>{{> logo}}<br><br>To <i>post</i>, debate, comment, edit Profile or like you need to login </h1><br><br><br><br><br></p>
	</span>
	{{/if}}
	{{> footer}}
</template>

<template name="tagsCss">
.bootstrap-tagsinput {
  padding: 6px 1px 1px 6px;
  margin-bottom: 18px;
  font-size: 0;
  text-align: left;
  background-color: #fff;
  border: 2px solid #ebedef;
  border-radius: 6px;
  }
.bootstrap-tagsinput .tag {
  position: relative;
  display: inline-block;
  height: 27px;
  padding: 6px 21px;
  margin: 0 7px 7px 0;
  overflow: hidden;
  font-size: 13px;
  line-height: 15px;
  color: #7b8996;
  vertical-align: middle;
  cursor: pointer;
  background-color: #ebedef;
  border-radius: 4px;
  -webkit-transition: .25s linear;
          transition: .25s linear;
  }
.bootstrap-tagsinput .tag > span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding: 0 10px 0 0;
  font-size: 12px;
  color: #fff;
  text-align: right;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: opacity .25s linear;
          transition: opacity .25s linear;
  }
.bootstrap-tagsinput .tag > span:after {
  font-family: "Flat-UI-Icons";
  line-height: 27px;
  content: "\e609";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
.bootstrap-tagsinput .tag:hover {
  padding-right: 28px;
  padding-left: 14px;
  color: #fff;
  background-color: #16a085;
  }
.bootstrap-tagsinput .tag:hover > span {
          filter: none;
  opacity: 1;

  -webkit-filter: none;
  }
.bootstrap-tagsinput input[type="text"] {
  width: auto !important;
  min-width: 80px;
  max-width: inherit;
  height: 29px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #34495e;
  vertical-align: top;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  }
.bootstrap-tagsinput input[type="text"]:first-child {
  height: 23px;
  margin: 3px 0 8px;
  }
.tags_clear {
  width: 100%;
  height: 0;
  clear: both;
  }
.not_valid {
  margin-left: 5px !important;
  color: #90111a !important;
  background: #fbd8db !important;
  }
.tagsinput-primary {
  margin-bottom: 18px;
  }
.tagsinput-primary .bootstrap-tagsinput {
  margin-bottom: 0;
  border-color: #1abc9c;
  }
.tagsinput-primary .tag {
  color: #fff;
  background-color: #1abc9c;
  }
.tagsinput-primary .tag:hover {
  color: #fff;
  background-color: #16a085;
  }
.bootstrap-tagsinput .twitter-typeahead {
  width: auto;
  vertical-align: top;
  }
.bootstrap-tagsinput .twitter-typeahead .tt-input {
  min-width: 200px;
  }
.bootstrap-tagsinput .twitter-typeahead .tt-dropdown-menu {
  width: auto;
  min-width: 120px;
  margin-top: 11px;
  }
</template>
