<!--
	File contains templates for:
	* tech
	* techSideSection
	* techRecent
	* tech24
	* techWeek
	* techMonth
	* techYear
	* techAll
-->
<template name="tech">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>World</title>
		<meta name="generator" content="The Digital Times" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
		<!--[if lt IE 9]>
		  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- <link href="css/styles.css" rel="stylesheet"> -->
		<link rel="shortcut icon" href="img/favicon.ico">
		<link rel="icon" href="img/favicon.ico">

		<style>
			{{> navInverse}}
			{{> button}}
			{{> flatBody}}
		  body {
		    padding-top: 25px;
		  }
		  @media only screen and (min-width: 768px) {
		    .intro-header .site-heading,
		    .intro-header .post-heading,
		    .intro-header .page-heading {
		      padding: 50px 0;
		    }
		  }
		  .nav-tabs > li, .nav-pills > li {
	        float: none;
	        display: inline-block;
	        *display: inline;
	        zoom: 1;
	      }
	      .nav-tabs, .nav-pills {
	        text-align: center;
	      }
		</style>
	</head>

	<body>
		<!-- Constant Navbar -->
		{{> constNavFix}}

		<!--Header-->
		<header class="intro-header" style="background-image: url('/img/portals/images/41.jpg')">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-8 col-lg-offset-2 col-md-10 col-md-offset-0">
		                <div class="site-heading">
		                    <h1>Technology</h1>
		                    <hr class="small">
		                    <span class="subheading"><b><i>Words and ideas can change the world.</i> - Robin Williams</b></span>
		                </div>
		            </div>
		        </div>
		    </div>
		</header>
		<div class="container-fluid">
	      <ul class="nav nav-tabs">
	        <li class="active"><a href="#A" data-toggle="tab">Recent</a></li>
	        <li><a href="#B" data-toggle="tab">24 hours</a></li>
	        <li><a href="#C" data-toggle="tab">Week</a></li>
	        <li><a href="#D" data-toggle="tab">Month</a></li>
	        <li><a href="#E" data-toggle="tab">Year</a></li>
	        <li><a href="#F" data-toggle="tab">All-time</a></li>
	      </ul>
	      <div class="tabbable">
	        <div class="tab-content">
	          <div class="tab-pane active" id="A">
	            {{> techRecent}}
	          </div>
	          <div class="tab-pane" id="B">
	            {{> tech24}}
	          </div>
	          <div class="tab-pane" id="C">
	            {{> techWeek}}
	          </div>
	          <div class="tab-pane" id="D">
	            {{> techMonth}}
	          </div>
	          <div class="tab-pane" id="E">
	            {{> techYear}}
	          </div>
	          <div class="tab-pane" id="F">
	            {{> techAll}}
	          </div>
	        </div>
	      </div> <!-- /tabbable -->
		</div><!--/left-->
		  <!-- script references
		    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		    <script src="js/bootstrap.min.js"></script>
		    <script>
		      $(document).ready(function(){
		        $('.dropdown-toggle').dropdown();
		      });
		    </script> -->
	</body>
</template>

<template name="techSideSection">
	<div class="col-sm-3">
        <h2>Related Articles</h2>
        {{#each articles}}
        	<!-- sideSection is in tdt.html -->
        	{{> sideSection}}
        {{/each}}
  	</div>
</template>

<template name="techRecent">
      {{> techSideSection}}
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
      </div><!--/center-->

      {{> techTwitter}}
</template>

<template name="tech24">
      {{> techSideSection}}
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
      </div><!--/center-->

      {{> techTwitter}}
</template>

<template name="techWeek">
      {{> techSideSection}}
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
      </div><!--/center-->

      {{> techTwitter}}
</template>

<template name="techMonth">
      {{> techSideSection}}
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
      </div><!--/center-->

      {{> techTwitter}}
</template>

<template name="techYear">
      {{> techSideSection}}
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
      </div><!--/center-->

      {{> techTwitter}}
</template>

<template name="techAll">
      {{> techSideSection}}
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
      </div><!--/center-->

      {{> techTwitter}}
</template>
