<template name="miniHead">
<!-- Mini Post -->
  <article class="mini-post">
    <header>
      <h3><a href="/{{subjectType}}/{{encodedTitle title}}/{{_id}}">{{#if shared}}{{{justText title}}}{{else}}{{title}}{{/if}}</a></h3>
      <time class="published" datetime="2015-10-17">{{createdAt.toDateString}}</time>
    </header>
    {{#if imglink}}<a href="/{{subjectType}}/{{encodedTitle title}}/{{_id}}" class="image"><img src="{{imglink}}" alt="article image" /></a>{{/if}}
  </article>
</template>
