<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    {{#if currentUser.admin}}<button id="admin">Admin</button>{{/if}}
    <button id="login-buttons-edit-profile">Edit Profile</button>
    <button id="myPage">Profile</button>
    <button id="tips">Tip &amp; Tricks</button>
</template>
