<!-- Africa World Template -->

<!--Africa WORLD -->
<template name="AfricaWorld">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>World</title>
    <meta name="generator" content="The Digital Times" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <link href="css/styles.css" rel="stylesheet"> -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="icon" href="img/favicon.ico">

    <style>
      {{> navInverse}}
      {{> button}}
      {{> flatBody}}
      body {
        padding-top: 25px;
      }
      @media only screen and (min-width: 768px) {
        .intro-header .site-heading,
        .intro-header .post-heading,
        .intro-header .page-heading {
          padding: 50px 0;
        }
      }
      .nav-tabs > li, .nav-pills > li {
        float: none;
        display: inline-block;
        *display: inline;
        zoom: 1;
      }
      .nav-tabs, .nav-pills {
        text-align: center;
      }
    </style>
  </head>
  
  <body>
    <!--Page navbar -->
    {{> africaNavWorld}}
    <!-- Constant Navbar -->
    {{> constNavFix}}

    <!--Header-->
    <header class="intro-header" style="background-image: url('/img/portals/images/37.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-offset-2 col-md-10 col-md-offset-0">
                    <div class="site-heading">
                        <h1>Africa</h1>
                        <hr class="small">
                        <span class="subheading"><b><i>I dream of an Africa which is in peace with itself</i> - Nelson Mandela</b></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#A" data-toggle="tab">Recent</a></li>
        <li><a href="#B" data-toggle="tab">24 hours</a></li>
        <li><a href="#C" data-toggle="tab">Week</a></li>
        <li><a href="#D" data-toggle="tab">Month</a></li>
        <li><a href="#E" data-toggle="tab">Year</a></li>
        <li><a href="#F" data-toggle="tab">All-time</a></li>
      </ul>
      <div class="tabbable">
        <div class="tab-content">
          <div class="tab-pane active" id="A">
            {{> AfricaRecent}}
          </div>
          <div class="tab-pane" id="B">
            {{> Africa24}}
          </div>
          <div class="tab-pane" id="C">
            {{> AfricaWeek}}
          </div>
          <div class="tab-pane" id="D">
            {{> AfricaMonth}}
          </div>
          <div class="tab-pane" id="E">
            {{> AfricaYear}}
          </div>
          <div class="tab-pane" id="F">
            {{> AfricaAll}}
          </div>
        </div>
      </div> <!-- /tabbable -->
    </div>
  </body>
</template> 

<template name="AfricaRecent">
 {{> worldSideSection}}
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
      </div><!--/center-->
      {{> africaTwitter}}
      {{> disqusCount}}
      {{> footer}}
</template>

<template name="Africa24">
 {{> worldSideSection}}
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
      </div><!--/center-->
      {{> africaTwitter}}
      {{> disqusCount}}
      {{> footer}}
</template>

<template name="AfricaWeek">
 {{> worldSideSection}}
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
      </div><!--/center-->
      {{> africaTwitter}}
      {{> disqusCount}}
      {{> footer}}
</template>

<template name="AfricaMonth">
 {{> worldSideSection}}
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
      </div><!--/center-->
      {{> africaTwitter}}
      {{> disqusCount}}
      {{> footer}}
</template>

<template name="AfricaYear">
 {{> worldSideSection}}
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
      </div><!--/center-->
      {{> africaTwitter}}
      {{> disqusCount}}
      {{> footer}}
</template>

<template name="AfricaAll">
 {{> worldSideSection}}
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
      </div><!--/center-->
      {{> africaTwitter}}
      {{> disqusCount}}
      {{> footer}}
</template>