<!-- New World Template -->

<!--NEW WORLD -->
<template name="AmericasWorld">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>World</title>
    <meta name="generator" content="The Digital Times" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <link href="css/styles.css" rel="stylesheet"> -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="icon" href="img/favicon.ico">

    <style>
      {{> navInverse}}
      {{> button}}
      {{> flatBody}}
      body {
        padding-top: 25px;
      }
      @media only screen and (min-width: 768px) {
        .intro-header .site-heading,
        .intro-header .post-heading,
        .intro-header .page-heading {
          padding: 50px 0;
        }
      }
      .nav-tabs > li, .nav-pills > li {
        float: none;
        display: inline-block;
        *display: inline;
        zoom: 1;
      }
      .nav-tabs, .nav-pills {
        text-align: center;
      }
    </style>
  </head>
  
  <body>
    <!--Page navbar -->
    {{> americasNavWorld}}
    <!-- Constant Navbar -->
    {{> constNavFix}}

    <!--Header-->
    <header class="intro-header" style="background-image: url('/img/portals/images/47.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-offset-2 col-md-10 col-md-offset-0">
                    <div class="site-heading">
                        <h1>Americas</h1>
                        <hr class="small">
                        <span class="subheading"><b><i>Words and ideas can change the world.</i> - Robin Williams</b></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#A" data-toggle="tab">Recent</a></li>
        <li><a href="#B" data-toggle="tab">24 hours</a></li>
        <li><a href="#C" data-toggle="tab">Week</a></li>
        <li><a href="#D" data-toggle="tab">Month</a></li>
        <li><a href="#E" data-toggle="tab">Year</a></li>
        <li><a href="#F" data-toggle="tab">All-time</a></li>
      </ul>
      <div class="tabbable">
        <div class="tab-content">
          <div class="tab-pane active" id="A">
            {{> AmericasRecent}}
          </div>
          <div class="tab-pane" id="B">
            {{> Americas24}}
          </div>
          <div class="tab-pane" id="C">
            {{> AmericasWeek}}
          </div>
          <div class="tab-pane" id="D">
            {{> AmericasMonth}}
          </div>
          <div class="tab-pane" id="E">
            {{> AmericasYear}}
          </div>
          <div class="tab-pane" id="F">
            {{> AmericasAll}}
          </div>
        </div>
      </div> <!-- /tabbable -->
    </div>      <!-- script references 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script> 
        <script>
          $(document).ready(function(){
            $('.dropdown-toggle').dropdown();
          });
        </script> -->
  </body>
</template> 

<template name="americasSideSection">
  <div class="col-sm-3">
        <h2>Related Articles</h2>
        {{#each articles}}
          <!-- sideSection is in tdt.html -->
          {{> sideSection}}
        {{/each}}
    </div>  
</template>

<template name="AmericasRecent">
<!--left-->
      {{> americasTwitter}}
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
        <br>
      </div><!--/center-->

      <!--right-->
      {{> americasSideSection}}
      {{> disqusCount}}
      {{> footer}}
</template>

<template name="Americas24">
<!--left-->
      {{> americasTwitter}}
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
        <br>
      </div><!--/center-->

      <!--right-->
      {{> americasSideSection}}
      {{> disqusCount}}
      {{> footer}}
</template>

<template name="AmericasWeek">
<!--left-->
      {{> americasTwitter}}
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
        <br>
      </div><!--/center-->

      <!--right-->
      {{> americasSideSection}}
      {{> disqusCount}}
      {{> footer}}
</template>

<template name="AmericasMonth">
<!--left-->
      {{> americasTwitter}}
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
        <br>
      </div><!--/center-->

      <!--right-->
      {{> americasSideSection}}
      {{> disqusCount}}
      {{> footer}}
</template>

<template name="AmericasYear">
<!--left-->
      {{> americasTwitter}}
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
        <br>
      </div><!--/center-->

      <!--right-->
      {{> americasSideSection}}
      {{> disqusCount}}
      {{> footer}}
</template>

<template name="AmericasAll">
<!--left-->
      {{> americasTwitter}}
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
        <br>
      </div><!--/center-->

      <!--right-->
      {{> americasSideSection}}
      {{> disqusCount}}
      {{> footer}}
</template>