<!-- Europe World -->
<template name="EuropeWorld">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>World</title>
    <meta name="generator" content="The Digital Times" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <link href="css/styles.css" rel="stylesheet"> -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="icon" href="img/favicon.ico">

    <style>
      {{> navInverse}}
      {{> button}}
      {{> flatBody}}
      body {
        padding-top: 25px;
      }
      @media only screen and (min-width: 768px) {
        .intro-header .site-heading,
        .intro-header .post-heading,
        .intro-header .page-heading {
          padding: 50px 0;
        }
      }
      .nav-tabs > li, .nav-pills > li {
        float: none;
        display: inline-block;
        *display: inline;
        zoom: 1;
      }
      .nav-tabs, .nav-pills {
        text-align: center;
      }
    </style>
  </head>
  
  <body>
    <!--Page navbar -->
    {{> europeNavWorld}}
    <!-- Constant Navbar -->
    {{> constNavFix}}

    <!--Header-->
    <header class="intro-header" style="background-image: url('/img/portals/images/26.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-offset-2 col-md-10 col-md-offset-0">
                    <div class="site-heading">
                        <h1>Europe</h1>
                        <hr class="small">
                        <span class="subheading"><b><i>"Logic is the anatomy of thought"</i> - John Locke</b></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#A" data-toggle="tab">Recent</a></li>
        <li><a href="#B" data-toggle="tab">24 hours</a></li>
        <li><a href="#C" data-toggle="tab">Week</a></li>
        <li><a href="#D" data-toggle="tab">Month</a></li>
        <li><a href="#E" data-toggle="tab">Year</a></li>
        <li><a href="#F" data-toggle="tab">All-time</a></li>
      </ul>
      <div class="tabbable">
        <div class="tab-content">
          <div class="tab-pane active" id="A">
            {{> europeRecent}}
          </div>
          <div class="tab-pane" id="B">
            {{> europe24}}
          </div>
          <div class="tab-pane" id="C">
            {{> europeWeek}}
          </div>
          <div class="tab-pane" id="D">
            {{> europeMonth}}
          </div>
          <div class="tab-pane" id="E">
            {{> europeYear}}
          </div>
          <div class="tab-pane" id="F">
            {{> europeAll}}
          </div>
        </div>
      </div> <!-- /tabbable -->
    </div>
  </body>
</template>

<template name="europeSideSection">
  <div class="col-sm-3">
        <h2>Related Articles</h2>
        {{#each articles}}
          <!-- sideSection is in tdt.html -->
          {{> sideSection}}
        {{/each}}
    </div>  
</template>

<template name="europeRecent">
<!--left-->
      {{> europeTwitter}}
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
        <br>        
      </div><!--/center-->

      <!--right-->
      {{> europeSideSection}}
      {{> disqusCount}}
      {{> footer}}
</template>

<template name="europe24">
<!--left-->
      {{> europeTwitter}}
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
        <br>        
      </div><!--/center-->

      <!--right-->
      {{> europeSideSection}}
      {{> disqusCount}}
      {{> footer}}
</template>

<template name="europeWeek">
<!--left-->
      {{> europeTwitter}}
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
        <br>        
      </div><!--/center-->

      <!--right-->
      {{> europeSideSection}}
      {{> disqusCount}}
      {{> footer}}
</template>

<template name="europeMonth">
<!--left-->
      {{> europeTwitter}}
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
        <br>        
      </div><!--/center-->

      <!--right-->
      {{> europeSideSection}}
      {{> disqusCount}}
      {{> footer}}
</template>

<template name="europeYear">
<!--left-->
      {{> europeTwitter}}
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
        <br>        
      </div><!--/center-->

      <!--right-->
      {{> europeSideSection}}
      {{> disqusCount}}
      {{> footer}}
</template>

<template name="europeAll">
<!--left-->
      {{> europeTwitter}}
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
        <br>        
      </div><!--/center-->

      <!--right-->
      {{> europeSideSection}}
      {{> disqusCount}}
      {{> footer}}
</template>