<template name="meastWorld">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>World</title>
    <meta name="generator" content="The Digital Times" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <link href="css/styles.css" rel="stylesheet"> -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="icon" href="img/favicon.ico">

    <style>
      {{> navInverse}}
      {{> button}}
      {{> flatBody}}
      body {
        padding-top: 25px;
      }
      @media only screen and (min-width: 768px) {
        .intro-header .site-heading,
        .intro-header .post-heading,
        .intro-header .page-heading {
          padding: 50px 0;
        }
      }
      .nav-tabs > li, .nav-pills > li {
        float: none;
        display: inline-block;
        *display: inline;
        zoom: 1;
      }
      .nav-tabs, .nav-pills {
        text-align: center;
      }
    </style>
  </head>
  
  <body>
    <!--Page navbar -->
    {{> meastNavWorld}}
    <!-- Constant Navbar -->
    {{> constNavFix}}

    <!--Header-->
    <header class="intro-header" style="background-image: url('/img/portals/images/38.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-offset-2 col-md-10 col-md-offset-0">
                    <div class="site-heading">
                        <h1>Middle East</h1>
                        <hr class="small">
                        <span class="subheading"><b><i>"The Middle East is hopeful. There's hope there"</i> - Joe Biden</b></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#A" data-toggle="tab">Recent</a></li>
        <li><a href="#B" data-toggle="tab">24 hours</a></li>
        <li><a href="#C" data-toggle="tab">Week</a></li>
        <li><a href="#D" data-toggle="tab">Month</a></li>
        <li><a href="#E" data-toggle="tab">Year</a></li>
        <li><a href="#F" data-toggle="tab">All-time</a></li>
      </ul>
      <div class="tabbable">
        <div class="tab-content">
          <div class="tab-pane active" id="A">
            {{> meastRecent}}
          </div>
          <div class="tab-pane" id="B">
            {{> meast24}}
          </div>
          <div class="tab-pane" id="C">
            {{> meastWeek}}
          </div>
          <div class="tab-pane" id="D">
            {{> meastMonth}}
          </div>
          <div class="tab-pane" id="E">
            {{> meastYear}}
          </div>
          <div class="tab-pane" id="F">
            {{> meastAll}}
          </div>
        </div>
      </div> <!-- /tabbable -->
    </div>
  </body>
</template>

<template name="meastRecent">
<!--left-->
      <div class="col-sm-3">
            <h2>Side</h2>
          <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
      </div><!--/left-->
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
      </div><!--/center-->

      <!--right-->
      <div class="col-sm-3">
            <h2>Side</h2>
          <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
      </div><!--/right-->
      <hr>
</template>

<template name="meast24">
<!--left-->
      <div class="col-sm-3">
            <h2>Side</h2>
          <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
      </div><!--/left-->
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
      </div><!--/center-->

      <!--right-->
      <div class="col-sm-3">
            <h2>Side</h2>
          <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
      </div><!--/right-->
      <hr>
</template>

<template name="meastWeek">
<!--left-->
      <div class="col-sm-3">
            <h2>Side</h2>
          <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
      </div><!--/left-->
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
      </div><!--/center-->

      <!--right-->
      <div class="col-sm-3">
            <h2>Side</h2>
          <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
      </div><!--/right-->
      <hr>
</template>

<template name="meastMonth">
<!--left-->
      <div class="col-sm-3">
            <h2>Side</h2>
          <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
      </div><!--/left-->
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
      </div><!--/center-->

      <!--right-->
      <div class="col-sm-3">
            <h2>Side</h2>
          <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
      </div><!--/right-->
      <hr>
</template>

<template name="meastYear">
<!--left-->
      <div class="col-sm-3">
            <h2>Side</h2>
          <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
      </div><!--/left-->
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
      </div><!--/center-->

      <!--right-->
      <div class="col-sm-3">
            <h2>Side</h2>
          <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
      </div><!--/right-->
      <hr>
</template>

<template name="meastAll">
<!--left-->
      <div class="col-sm-3">
            <h2>Side</h2>
          <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
      </div><!--/left-->
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
      </div><!--/center-->

      <!--right-->
      <div class="col-sm-3">
            <h2>Side</h2>
          <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">Title</div>
              <div class="panel-body">Content here..</div>
            </div>
            <hr>
      </div><!--/right-->
      <hr>
</template>