<!-- New World Template -->

<!--NEW WORLD -->
<template name="newWorld">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>World</title>
    <meta name="generator" content="The Digital Times" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <link href="css/styles.css" rel="stylesheet"> -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="icon" href="img/favicon.ico">

    <style>
      {{> navInverse}}
      {{> button}}
      {{> flatBody}}
      body {
        padding-top: 25px;
      }
      @media only screen and (min-width: 768px) {
        .intro-header .site-heading,
        .intro-header .post-heading,
        .intro-header .page-heading {
          padding: 50px 0;
        }
      }
    </style>
  </head>
  
  <body>
    <!--Page navbar -->
    {{> newNavWorld}}
    <!-- Constant Navbar -->
    {{> constNavFix}}

    <!--Header-->
    <header class="intro-header" style="background-image: url('/img/portals/images/3.jpeg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-offset-2 col-md-10 col-md-offset-0">
                    <div class="site-heading">
                        <h1>World ~ New</h1>
                        <hr class="small">
                        <span class="subheading"><b><i>Words and ideas can change the world.</i> - Robin Williams</b></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
     {{> worldTwitter}} 
      
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
      </div><!--/center-->
      
      {{> worldSideSection}}

    </div><!--/container-fluid-->
      <!-- script references 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script> 
        <script>
          $(document).ready(function(){
            $('.dropdown-toggle').dropdown();
          });
        </script> -->
        {{> disqusCount}}
  </body>
  {{> footer}}
</template> 