<!-- <!DOCTYPE html>
<html lang="en"> -->
<template name="world">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>world Template</title>
		<meta name="generator" content="The Digital Times" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- <link href="css/styles.css" rel="stylesheet"> -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="icon" href="img/favicon.ico">

    <style>
      {{> navInverse}}
      {{> button}}
      {{> flatBody}}
      body {
        padding-top: 25px;
      }
      @media only screen and (min-width: 768px) {
        .intro-header .site-heading,
        .intro-header .post-heading,
        .intro-header .page-heading {
          padding: 50px 0;
        }
      }
    </style>
  </head>

  <body>
    <!-- Constant Navbar -->
    {{> constNavFix}}
    <!--Page navbar -->
    {{> topNavWorld}}

    <!--Header-->
    <header class="intro-header" style="background-image: url('/img/portals/images/20.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-offset-2 col-md-10 col-md-offset-0">
                    <div class="site-heading">
                        <h1>World</h1>
                        <hr class="small">
                        <span class="subheading"><b><i>Words and ideas can change the world.</i> - Robin Williams</b></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
      <!--left-->
      <div class="col-sm-3">
            <h2>Side</h2>
        	<script src='//redditjs.com/worldnews.js'></script>
      </div><!--/left-->

      <!--center-->
      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-12">
            <h2>Article Heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
              Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
              dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
              Aliquam in felis sit amet augue.</p>
            <p class="lead"><button class="btn btn-default">Read More</button></p>
            <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
            <ul class="list-inline"><li><a href="#">2 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 2 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 14 Shares</a></li></ul>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12">
            <h2>Article Heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
              Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
              dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
              Aliquam in felis sit amet augue.</p>
            <p class="lead"><button class="btn btn-default">Read More</button></p>
            <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
            <ul class="list-inline"><li><a href="#">4 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 7 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 56 Shares</a></li></ul>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12">
            <h2>Article Heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
              Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
              dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
              Aliquam in felis sit amet augue.</p>
            <p class="lead"><button class="btn btn-default">Read More</button></p>
            <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
            <ul class="list-inline"><li><a href="#">1 Week Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 4 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li></ul>
          </div>
        </div>
        <hr>
      </div><!--/center-->

      <!--right-->
      <div class="col-sm-3">
            <h2>Side</h2>
        	<div class="panel panel-default">
             	<div class="panel-heading">Title</div>
             	<div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
             	<div class="panel-heading">Title</div>
             	<div class="panel-body">Content here..</div>
            </div>
            <hr>
            <div class="panel panel-default">
             	<div class="panel-heading">Title</div>
             	<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
             	<div class="panel-heading">Title</div>
             	<div class="panel-body">Content here..</div>
            </div>
            <hr>
      </div><!--/right-->
      <hr>
    </div><!--/container-fluid-->
    	<!-- script references
    		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    		<script src="js/bootstrap.min.js"></script>
        <script>
          $(document).ready(function(){
            $('.dropdown-toggle').dropdown();
          });
        </script> -->
	</body>
  {{> footer}}
</template>
