<!--
  *viralWorld
  *worldSideSection
  *sectionBodyDay
  *sectionBodyWeek
  *sectionBodyYear
  *sectionBodyAll
-->
<template name="viralWorld">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>World</title>
    <meta name="generator" content="The Digital Times" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <link href="css/styles.css" rel="stylesheet"> -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="icon" href="img/favicon.ico">

    <style>
      {{> navInverse}}
      {{> button}}
      {{> flatBody}}
      body {
        padding-top: 25px;
      }
      @media only screen and (min-width: 768px) {
        .intro-header .site-heading,
        .intro-header .post-heading,
        .intro-header .page-heading {
          padding: 50px 0;
        }
      }
      .nav-tabs > li, .nav-pills > li {
        float: none;
        display: inline-block;
        *display: inline;
        zoom: 1;
      }
      .nav-tabs, .nav-pills {
        text-align: center;
      }
    </style>
  </head>
  
  <body>
    <!--Page navbar -->
    {{> viralNavWorld}}
    <!-- Constant Navbar -->
    {{> constNavFix}}

    <!--Header-->
    <header class="intro-header" style="background-image: url('/img/portals/images/world.jpeg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-offset-2 col-md-10 col-md-offset-0">
                    <div class="site-heading">
                        <h1>World ~ Viral</h1>
                        <hr class="small">
                        <span class="subheading"><b><i>Words and ideas can change the world.</i> - Robin Williams</b></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#A" data-toggle="tab">24 hours</a></li>
          <li><a href="#B" data-toggle="tab">Week</a></li>
          <li><a href="#C" data-toggle="tab">Year</a></li>
          <li><a href="#D" data-toggle="tab">All-time</a></li>
        </ul>
        <div class="tabbable">
          <div class="tab-content">
            <div class="tab-pane active" id="A">
              {{> sectionBodyDay}}
            </div>
            <div class="tab-pane" id="B">
              {{> sectionBodyWeek}}
            </div>
            <div class="tab-pane" id="C">
              {{> sectionBodyYear}}
            </div>
            <div class="tab-pane" id="D">
              {{> sectionBodyAll}}
            </div>
          </div>
        </div> <!-- /tabbable -->
    </div><!--/container-fluid-->
      <!-- script references 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script> 
        <script>
          $(document).ready(function(){
            $('.dropdown-toggle').dropdown();
          });
        </script> -->
  </body>
</template> 

<template name="worldSideSection">
  <div class="col-sm-3">
        <h2>Related Articles</h2>
        {{#each articles}}
          <!-- sideSection is in tdt.html -->
          {{> sideSection}}
        {{/each}}
    </div>  
</template>

<!-- These sections are exactly the same but they are sorted differently-->
<template name="sectionBodyDay">
    
    {{> worldTwitter}}
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
        <br>
      </div><!--/center-->
    {{> worldSideSection}}
    {{> disqusCount}}  
    {{> footer}}
</template>

<template name="sectionBodyWeek">
    {{> worldTwitter}}  
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
        <br>
      </div><!--/center-->
    {{> worldSideSection}}    
    {{> disqusCount}}
    {{> footer}}
</template>

<template name="sectionBodyYear">
    {{> worldTwitter}}  
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
        <br>
      </div>
      <!--/center-->
    {{> worldSideSection}}
    {{> disqusCount}}
    {{> footer}}
</template>

<template name="sectionBodyAll">
    {{> worldTwitter}}  
      <!--center-->
      <div class="col-sm-6">
        {{#each articles}}
          {{> articleHead}}
        {{/each}}
        <button class="btn btn-info btn-block" id="loadMore">Load More</button>
        <br>
      </div>
      <!--/center-->
    {{> worldSideSection}}
    {{> disqusCount}}
    {{> footer}}      
</template>