<!-- Category -->
 <template name="category">
	<select name="category" id="category">
      <option value="opinion">Opinion</option>
      <option value="news">News</option>
    	<!--<option value="health">Health</option>
    	<option value="sports">Sports</option>
    	<option value="science">Science</option>
    	<option value="india">India</option>-->
    </select>
    <span id="subjectType"> <!-- style="display:none;" if script ran -->
    	What's the subject? {{> subjectTypeOption}}
    </span>
    <!--<div id="localType" style="display:none;">
        Choose Local: {{> localCategory}}
    </div>-->
    <!-- <script>
    	$('#category').on('change',function(){
    		if ($(this).val()) {
    			$("#placeType").show();
    			$("#subjectType").show();
    		}
    		else{
    			$("#subjectType").hide();
    			$("#placeType").hide();
    		}
    	});
    </script> -->
 </template>
<!--Category End-->
 <template name="subjectTypeOption">
 	<select name="subjectTypeOption" id="subject">
    <option value="local">Local</option>
    <option value="politics">Politics</option>
    <option value="entertain">Entertainment</option>
    <option value="life">Life</option>
    <option value="sports">Sports</option>
  </select>
 </template>

 <template name="localCategory">
    <select name="localCategory">
        <option value="local">Local</option>
        <!--<option value="dmv">D.C. Area</option>-->
    </select>
 </template>
