<template name="articleHead">
  <div class="row">
    {{#if imglink}}
      <div class="col-sm-4"><a href="/{{subjectType}}/{{_id}}" class="thumbnailHead"><img src="{{imglink}}" class="img-thumbnail"></a>
      </div>
    {{/if}}
    <div class="{{#if imglink}}col-sm-8{{else}}col-sm-12{{/if}}">
      <a href="/{{subjectType}}/{{_id}}">
        <h3 class="title">{{#if shared}}{{{justText title}}} {{else}}{{title}}{{/if}}</h3>
        <p class="text-muted">{{#if shared}} {{{justText subtitle}}} {{else}} {{subtitle}} {{/if}}<span style="font-size:15px">{{#if categoryCheck category}}(News){{else}}(Opinion){{/if}}</span></p>
      </a>
      <p><small>{{{someText sHTML}}} <a href="/{{subjectType}}/{{_id}}">Read More</a></small></p>

      <p class="text-muted"><i>Posted by <a href="/j/{{articleUsername}}" target="_blank">{{author owner}}</a> on {{createdAt.toDateString}} <a href="http://twitter.com/{{twitUser owner}}">{{twitUser owner}}</a></i></p>
      <ul class="list-inline" style="font-family:'Helvetica'">
          <li><i class="fa fa-heart" style="color:orange"></i> {{likes}} Likes</li>
          <li><i class="fa fa-comment" style="color:orange"></i>&nbsp;<a href="/{{category}}/{{_id}}#disqus_thread" onclick="return false;"><span class="disqus-comment-count" data-disqus-url="/{{category}}/{{_id}}#disqus_thread"> Comments</span></a></li>
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://thedigitaltimes.com/{{subjectType}}/{{_id}}" target="_blank" title="Share on Facebook"><i class="fa fa-facebook" style="color:orange"></i></a></li>
          <li><a href="https://twitter.com/share?url=http://thedigitaltimes.com/{{subjectType}}/{{_id}}" target="_blank" title="Share on Twitter"><i class="fa fa-twitter" style="color:orange"></i></a></li>
          <li><a href="https://plus.google.com/share?url=http://thedigitaltimes.com/{{subjectType}}/{{_id}}" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square" style="color:orange"></i></a></li>
          {{#if currentUser}}<li id="reply"><a title="Reply w/Opinion Article"><i class="fa fa-reply" style="color:orange"></i></a></li>{{/if}}
          {{#if shared}}<li><a href="http://{{domain}}"><i class="fa fa-globe" style="color:orange"></i> {{domain}}</a></li>{{/if}}
      </ul>
    </div>
  </div>
  <hr>
</template>

<!-- Old ArticleHead Style -->
<!--
 <template name="articleHead">
   <style>{{> styleRendaPage}}</style>
    <div class="row">
      {{#if imglink}}
      <div class="col-md-2 col-sm-3 text-center">
        <a class="post-image" href="/{{subjectType}}/{{_id}}"><img src="{{imglink}}"></a>
      </div>
      {{/if}}
      <div class="{{#if imglink}}col-md-10 col-sm-9{{else}}col-xs-12{{/if}}">
        <div class="post-preview" style="font-family:'Montserrat'">
            <a href="/{{subjectType}}/{{_id}}">
                <h2 class="post-title">{{title}}</h2>
                <h3 class="post-subtitle">{{subtitle}} <span style="font-size:15px">{{#if categoryCheck category}}(News){{else}}(Opinion){{/if}}</span></h3>
            </a>
            <p class="post-meta">Posted by <a href="/j/{{articleUsername}}" target="_blank">{{author owner}}</a> on {{createdAt.toDateString}} <a href="http://twitter.com/{{twitCheck owner}}">{{twitCheck owner}}</a></p>
        </div>
        <p class="lead"><a href="/{{category}}/{{_id}}"><button class="btn btn-warning">Read More</button></a></p>
        <ul class="list-inline" style="font-family:'Helvetica'">
            <li><i class="fa fa-heart" style="color:orange"></i> {{likes}} Likes</li>
            <li><i class="fa fa-comment" style="color:orange"></i>&nbsp;<a href="/{{category}}/{{_id}}#disqus_thread" onclick="return false;"><span class="disqus-comment-count" data-disqus-url="/{{category}}/{{_id}}#disqus_thread"> Comments</span></a></li>
            <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://thedigitaltimes.com/{{subjectType}}/{{_id}}" target="_blank" title="Share on Facebook"><i class="fa fa-facebook" style="color:orange"></i></a></li>
            <li><a href="https://twitter.com/share?url=http://thedigitaltimes.com/{{subjectType}}/{{_id}}" target="_blank" title="Share on Twitter"><i class="fa fa-twitter" style="color:orange"></i></a></li>
            <li><a href="https://plus.google.com/share?url=http://thedigitaltimes.com/{{subjectType}}/{{_id}}" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square" style="color:orange"></i></a></li>
            {{#if currentUser}}<li id="reply"><a title="Reply w/Opinion Article"><i class="fa fa-reply" style="color:orange"></i></a></li>{{/if}}
        </ul>
      </div>
    </div>
    <hr>
 </template>-->
