<template name="logo">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat">
  <span style="color:darkgray; font-family:'Montserrat';">//the</span><span style="color:orange; font-family:'Montserrat';">digital</span><span style="color:#4099FF; font-family:'Montserrat';">times</span>
</template>

<!--Expanding Logo in Navbar -->
<template name="logoNav">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat">
  <style>
      span {
      display: inline;
      }
      span:after {
      width: 0px;
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      transition: .2s linear;
      }
      span:nth-child(1):after {
      content: '/the';
      }
      span:nth-child(2):after {
      content: 'igital';
      }
      span:nth-child(3):after {
      content: 'imes';
      }
      #logo:hover span:nth-child(1):after {
      width: 41px;
      }
      #logo:hover span:nth-child(2):after {
      width: 45px;
      }
      #logo:hover span:nth-child(3):after {
      width: 50px;
      }
  </style>
	<div id="logo"><span style="color:darkgray; font-family:'Montserrat';">/</span><span style="color:orange; font-family:'Montserrat';">d</span><span style="color:#4099FF; font-family:'Montserrat';">t</span></div>
</template>
