 <template name="asideArticleHead">
   <article class="widget-post">
     {{#if imglink}}
     <div class="post-image">
       <a href="/{{subjectType}}/{{_id}}"><img src="{{imglink}}" alt=""></a>
     </div>
     {{/if}}
     <div class="post-body">
       <h2><a href="/{{subjectType}}/{{_id}}">{{title}}</a></h2>
       <div class="post-meta">
         <span><i class="fa fa-clock-o"></i> {{createdAt.toDateString}}</span> <span><a href="/{{subjectType}}/{{_id}}"><i class="fa fa-heart"></i> {{likes}}</a></span>
       </div>
     </div>
   </article>
 </template>
