
<template name="worldTwitter">
      <!--right-->
      <div>
            <h2>World Feed <a><i class="fa fa-refresh" id="refresh"></i></a></h2>
              <a class="twitter-timeline" href="https://twitter.com/tdtimesnet/lists/world-news" data-widget-id="634520059587768322">Tweets from https://twitter.com/tdtimesnet/lists/world-news</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div><!--/right-->
      <hr>
</template>

<template name="africaTwitter">
    <!--right-->
      <div>
            <h2>Africa Feed <a><i class="fa fa-refresh" id="refresh"></i></a></h2>
            <a class="twitter-timeline"  href="https://twitter.com/tdtimesnet/lists/africa-world-news" data-widget-id="632319570196434944">Tweets from https://twitter.com/tdtimesnet/lists/africa-world-news</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div><!--/right-->
      <hr>
</template>

<template name="americasTwitter">
    <div>
        <h2>Americas Feed <a><i class="fa fa-refresh" id="refresh"></i></a></h2>
        <a class="twitter-timeline" href="https://twitter.com/tdtimesnet/lists/americas-feed" data-widget-id="636380431240294400">Tweets from https://twitter.com/tdtimesnet/lists/americas-feed</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div><!--/right-->
    <hr>
</template>

<template name="asiaTwitter">
    <div>
        <h2>Asia Feed <a><i class="fa fa-refresh" id="refresh"></i></a></h2>
        <a class="twitter-timeline" href="https://twitter.com/tdtimesnet/lists/asia-news" data-widget-id="636382941388644352">Tweets from https://twitter.com/tdtimesnet/lists/asia-news</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div><!--/right-->
    <hr>
</template>

<template name="entertainTwitter">
    <!--right-->
      <div id="twit">
            <h2>E@!# Feed</h2>
            <a class="twitter-timeline" href="https://twitter.com/tdtimesnet/lists/entertainment-news" data-widget-id="632421219787272192">Tweets from https://twitter.com/tdtimesnet/lists/entertainment-news</a>
      </div><!--/right-->
      <hr>
</template>

<template name="techTwitter">
    <!--right-->
      <div class="col-sm-3">
            <h2>Tech Feed <a><i class="fa fa-refresh" id="refresh"></i></a></h2>
            <a class="twitter-timeline" href="https://twitter.com/tdtimesnet/lists/tech-news" data-widget-id="632423977307258880">Tweets from https://twitter.com/tdtimesnet/lists/tech-news</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div><!--/right-->
      <hr>
</template>

<template name="usTwitter">
    <div>
            <h2>U.S. Feed</h2>
            <a class="twitter-timeline" href="https://twitter.com/tdtimesnet/lists/us-news" data-widget-id="637817111675564033">Tweets from https://twitter.com/tdtimesnet/lists/us-news</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <hr>
</template>

<template name="europeTwitter">
    <div>
            <h2>Europe Feed <a><i class="fa fa-refresh" id="refresh"></i></a></h2>
            <a class="twitter-timeline" href="https://twitter.com/tdtimesnet/lists/europe-news" data-widget-id="637853462324248576">Tweets from https://twitter.com/tdtimesnet/lists/europe-news</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <hr>
</template>

<template name="lifeTwitter">
  <div id="twit">
          <h2>Life Feed</h2>
          <a class="twitter-timeline" href="https://twitter.com/tdtimesnet/lists/life" data-widget-id="689930909974450178">Tweets from https://twitter.com/tdtimesnet/lists/life</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <hr>
</template>

<template name="sportsTwitter">
  <div id="twit">
          <h2>Sports Feed</h2>
          <a class="twitter-timeline" href="https://twitter.com/tdtimesnet/lists/sports" data-widget-id="689958824753643520">Tweets from https://twitter.com/tdtimesnet/lists/sports</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <hr>
</template>

<template name="breakingTwitter">
  <div id="twit">
    <a class="twitter-timeline" href="https://twitter.com/tdtimesnet/lists/breaking-news" data-widget-id="694372641298370560">Tweets from https://twitter.com/tdtimesnet/lists/breaking-news</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <hr>
</template>
