<!--
==========Navbars========
In order:
* navCollapse
* constNavFix
* constNavStatic
* constNavLog //basically constNav without Login
=============WORLD================
* newNavWorld
* topNavWorld
* viralNavWorld
* africaNavWorld
* americasNavWorld
* asiaNavWorld
* europeNavWorld
* meastNavWorld
* oceaniaNavWorld
-->

<!-- Navbar fixed top -->
<template name="navCollapse">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat">
    <style>
        @media (min-width: 768px) and (max-width: 991px){
            .navbar-collapse.collapse {
                display: none !important;
            }
            .navbar-collapse.collapse.in {
                display: block !important;
            }
            .navbar-header .collapse, .navbar-toggle {
                display: block !important;
            }
            .navbar-header {
                float: none;
            }
        }
        navbar {
          font-family: "Montserrat";
        }
    </style>
</template>

<template name="constNavFix">
    {{> navCollapse}}
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="font-family:'Montserrat';">
      <div class="navbar-header">
            <a class="navbar-brand" rel="home" href="{{pathFor route='home'}}"><b>{{> logoNav}}</b></a>
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#port-collapse-2">
    		<span class="sr-only">Toggle navigation</span>
    		<span class="icon-bar"></span>
    		<span class="icon-bar"></span>
    		<span class="icon-bar"></span>
    		</button>
    	</div>
    	<div class="collapse navbar-collapse" id="port-collapse-2">
    		<ul class="nav navbar-nav">
	    		<li id="localNav"><a href="/local">Local</a></li>
          <li id="politicsNav"><a href="/politics">Politics</a></li>
          <li id="entertainNav"><a href="/entertain">Entertainment</a></li>
          <!--<li id="worldNav"><a href="{{pathFor route='world'}}">World</a></li>-->
          <li id="lifeNav"><a href="/life">Life</a></li>
          <li id="sportsNav"><a href="/sports">Sports</a></li>
	            <!--<li class="dropdown">
	                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
	                  <ul class="dropdown-menu">
                        <li><a href="#">U.S.</a></li>
                        <li><a href="#">Sports</a></li>
	                    <li><a href="#">Business</a></li>
	                    <li><a href="#">Science</a></li>
	                    <li><a href="#">Health</a></li>
	                    <li><a href="#">India</a></li>
	                  </ul>
	            </li>-->
	            <li id="postNav"><a style="color:orange" href="/postform"><b>Post</b> <i class="fa fa-upload"></i></a></li>
              {{#if currentUser}}{{#if subCount}}<li id="subNav"><a style="color:#4099FF" href="/mysubs"><b>My Subs</b> <i class="fa fa-newspaper-o"></i></a></li>{{/if}}{{/if}}
              {{#if search}}<li><a style="color:#bdc3c7" href="/search"><i class="fa fa-search"></i></a></li>{{/if}}
              <!--<li><input type="text" class="st-default-search-input"></li>
              <div class="col-sm-3 col-md-3">
                  <form class="navbar-form">
                      <input type="text" class="st-default-search-input">
                  </form>
              </div>-->
                <!--<li><a style="color:#4099FF" href="{{pathFor route='chatRoom'}}"><b>Debate</b> <i class="fa fa-language"></i></a></li>-->
    		</ul>
            <ul class="nav navbar-nav navbar-right">
               {{> loginButtons}}
            </ul>
          <div class="pull-right">
            {{#if currentUser.services.twitter}}<img src="{{currentUser.services.twitter.profile_image_url}}">{{/if}}
            {{#if currentUser.services.facebook}}<img src="http://graph.facebook.com/{{currentUser.services.facebook.id}}/picture/?type=small">{{/if}}
            <!--{{#if currentUser}}
                <a href="/dash/{{currentUser.username}}" target="_blank"><i class="fa fa-user fa-fw" style="color:#4099FF"></i></a>
            {{/if}}-->
          </div>
      </div>
    </nav>
</template>
<!-- Navbar static top -->
<template name="constNavStatic">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="font-family:'Montserrat';">
      <div class="navbar-header">
            <a class="navbar-brand" rel="home" href="{{pathFor route='home'}}"><b>{{> logoNav}}</b></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#port-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="port-collapse-2">
          <ul class="nav navbar-nav">
            <li id="localNav"><a href="/local">Local</a></li>
            <li id="politicsNav"><a href="/politics">Politics</a></li>
            <li id="entertainNav"><a href="/entertain">Entertainment</a></li>
            <!--<li id="worldNav"><a href="{{pathFor route='world'}}">World</a></li>-->
            <li id="lifeNav"><a href="/life">Life</a></li>
            <li id="sportsNav"><a href="/sports">Sports</a></li>
  	            <!--<li class="dropdown">
  	                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
  	                  <ul class="dropdown-menu">
                          <li><a href="#">U.S.</a></li>
                          <li><a href="#">Sports</a></li>
  	                    <li><a href="#">Business</a></li>
  	                    <li><a href="#">Science</a></li>
  	                    <li><a href="#">Health</a></li>
  	                    <li><a href="#">India</a></li>
  	                  </ul>
  	            </li>-->
  	            <li id="postNav"><a style="color:orange" href="/postform"><b>Post</b> <i class="fa fa-upload"></i></a></li>
                {{#if currentUser}}{{#if subCount}}<li id="subNav"><a style="color:#4099FF" href="/mysubs"><b>My Subs</b> <i class="fa fa-newspaper-o"></i></a></li>{{/if}}{{/if}}
                <li><a style="color:#bdc3c7" href="/search"><i class="fa fa-search"></i></a></li>
                <!--<li><input type="text" class="st-default-search-input"></li>
                <div class="col-sm-3 col-md-3">
                    <form class="navbar-form">
                        <input type="text" class="st-default-search-input">
                    </form>
                </div>-->
                  <!--<li><a style="color:#4099FF" href="{{pathFor route='chatRoom'}}"><b>Debate</b> <i class="fa fa-language"></i></a></li>-->
          </ul>
            <ul class="nav navbar-nav navbar-right">
               {{> loginButtons}}
            </ul>
            <div class="pull-right">
              {{#if currentUser.services.twitter}}<img src="{{currentUser.services.twitter.profile_image_url}}">{{/if}}
              {{#if currentUser.services.facebook}}<img src="http://graph.facebook.com/{{currentUser.services.facebook.id}}/picture/?type=small">{{/if}}
            </div>
      </div>
    </nav>
</template>
<!-- No Login constNav -->
<template name="constNavLog">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="font-family:'Montserrat';">
      <div class="navbar-header">
            <a class="navbar-brand" rel="home" href="{{pathFor route='home'}}"><b>{{> logoNav}}</b></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#port-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="port-collapse-2">
            <ul class="nav navbar-nav">
              <li id="localNav"><a href="{{pathFor route='local'}}">UMD</a></li>
              <li id="politicsNav"><a href="{{pathFor route='politics'}}">Politics</a></li>
              <li id="entertainNav"><a href="{{pathFor route='entertain'}}">Entertainment</a></li>
              <!--<li id="worldNav"><a href="{{pathFor route='world'}}">World</a></li>-->
              <li id="lifeNav"><a href="{{pathFor route='life'}}">Life</a></li>
              <li id="sportsNav"><a href="{{pathFor route='sports'}}">Sports</a></li>
                <!--<li><a href="#">Sports</a></li>
                <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Health</a></li>
                        <li><a href="#">Other</a></li>
                      </ul>
                </li>-->
                <li><a style="color:orange" href="{{pathFor route='postform'}}"><b>Post</b><i class="fa fa-upload"></i></a></li>
            </ul>
      </div>
    </nav>
</template>
<!-- New World -->
<template name="newNavWorld">
	<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
              <a class="navbar-brand" rel="home" href="{{pathFor route='newWorld'}}">New</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#port-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="port-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{pathFor route='world'}}">Top</a></li>
            <li><a href="{{pathFor route='viralWorld'}}">Viral</a></li>
            <li><a href="{{pathFor route='AfricaWorld'}}">Africa</a></li>
            <li><a href="{{pathFor route='AmericasWorld'}}">Americas</a></li>
            <li><a href="{{pathFor route='AsiaWorld'}}">Asia</a></li>
            <li><a href="{{pathFor route='EuropeWorld'}}">Europe</a></li>
            <li><a href="{{pathFor route='meastWorld'}}">Middle East</a></li>
            <li><a href="{{pathFor route='OceaniaWorld'}}">Oceania</a></li>
          </ul>
        </div>
      </div>
    </nav>
</template>

<!-- Top World -->
<template name="topNavWorld">
	<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
              <a class="navbar-brand" rel="home" href="{{pathFor route='newWorld'}}">New</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#port-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="port-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{pathFor route='world'}}">Top</a></li>
            <li><a href="{{pathFor route='viralWorld'}}">Viral</a></li>
            <li><a href="{{pathFor route='AfricaWorld'}}">Africa</a></li>
            <li><a href="{{pathFor route='AmericasWorld'}}">Americas</a></li>
            <li><a href="{{pathFor route='AsiaWorld'}}">Asia</a></li>
            <li><a href="{{pathFor route='EuropeWorld'}}">Europe</a></li>
            <li><a href="{{pathFor route='meastWorld'}}">Middle East</a></li>
            <li><a href="{{pathFor route='OceaniaWorld'}}">Oceania</a></li>
          </ul>
        </div>
      </div>
    </nav>
</template>

<!-- Viral World -->
<template name="viralNavWorld">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
              <a class="navbar-brand" rel="home" href="{{pathFor route='newWorld'}}">New</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#port-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="port-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{pathFor route='world'}}">Top</a></li>
            <li class="active"><a href="{{pathFor route='viralWorld'}}">Viral</a></li>
            <li><a href="{{pathFor route='AfricaWorld'}}">Africa</a></li>
            <li><a href="{{pathFor route='AmericasWorld'}}">Americas</a></li>
            <li><a href="{{pathFor route='AsiaWorld'}}">Asia</a></li>
            <li><a href="{{pathFor route='EuropeWorld'}}">Europe</a></li>
            <li><a href="{{pathFor route='meastWorld'}}">Middle East</a></li>
            <li><a href="{{pathFor route='OceaniaWorld'}}">Oceania</a></li>
          </ul>
        </div>
      </div>
    </nav>
</template>

<!-- Africa World -->
<template name="africaNavWorld">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
              <a class="navbar-brand" rel="home" href="{{pathFor route='newWorld'}}">New</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#port-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="port-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{pathFor route='world'}}">Top</a></li>
            <li><a href="{{pathFor route='viralWorld'}}">Viral</a></li>
            <li class="active"><a href="{{pathFor route='AfricaWorld'}}">Africa</a></li>
            <li><a href="{{pathFor route='AmericasWorld'}}">Americas</a></li>
            <li><a href="{{pathFor route='AsiaWorld'}}">Asia</a></li>
            <li><a href="{{pathFor route='EuropeWorld'}}">Europe</a></li>
            <li><a href="{{pathFor route='meastWorld'}}">Middle East</a></li>
            <li><a href="{{pathFor route='OceaniaWorld'}}">Oceania</a></li>
          </ul>
        </div>
      </div>
    </nav>
</template>

<!-- Americas World -->
<template name="americasNavWorld">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
              <a class="navbar-brand" rel="home" href="{{pathFor route='newWorld'}}">New</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#port-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="port-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{pathFor route='world'}}">Top</a></li>
            <li><a href="{{pathFor route='viralWorld'}}">Viral</a></li>
            <li><a href="{{pathFor route='AfricaWorld'}}">Africa</a></li>
            <li class="active"><a href="{{pathFor route='AmericasWorld'}}">Americas</a></li>
            <li><a href="{{pathFor route='AsiaWorld'}}">Asia</a></li>
            <li><a href="{{pathFor route='EuropeWorld'}}">Europe</a></li>
            <li><a href="{{pathFor route='meastWorld'}}">Middle East</a></li>
            <li><a href="{{pathFor route='OceaniaWorld'}}">Oceania</a></li>
          </ul>
        </div>
      </div>
    </nav>
</template>

<!-- Asia World -->
<template name="asiaNavWorld">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
              <a class="navbar-brand" rel="home" href="{{pathFor route='newWorld'}}">New</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#port-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="port-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{pathFor route='world'}}">Top</a></li>
            <li><a href="{{pathFor route='viralWorld'}}">Viral</a></li>
            <li><a href="{{pathFor route='AfricaWorld'}}">Africa</a></li>
            <li><a href="{{pathFor route='AmericasWorld'}}">Americas</a></li>
            <li class="active"><a href="{{pathFor route='AsiaWorld'}}">Asia</a></li>
            <li><a href="{{pathFor route='EuropeWorld'}}">Europe</a></li>
            <li><a href="{{pathFor route='meastWorld'}}">Middle East</a></li>
            <li><a href="{{pathFor route='OceaniaWorld'}}">Oceania</a></li>
          </ul>
        </div>
      </div>
    </nav>
</template>

<!-- Europe World -->
<template name="europeNavWorld">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
              <a class="navbar-brand" rel="home" href="{{pathFor route='newWorld'}}">New</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#port-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="port-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{pathFor route='world'}}">Top</a></li>
            <li><a href="{{pathFor route='viralWorld'}}">Viral</a></li>
            <li><a href="{{pathFor route='AfricaWorld'}}">Africa</a></li>
            <li><a href="{{pathFor route='AmericasWorld'}}">Americas</a></li>
            <li><a href="{{pathFor route='AsiaWorld'}}">Asia</a></li>
            <li class="active"><a href="{{pathFor route='EuropeWorld'}}">Europe</a></li>
            <li><a href="{{pathFor route='meastWorld'}}">Middle East</a></li>
            <li><a href="{{pathFor route='OceaniaWorld'}}">Oceania</a></li>
          </ul>
        </div>
      </div>
    </nav>
</template>

<!-- Middle East World -->
<template name="meastNavWorld">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
              <a class="navbar-brand" rel="home" href="{{pathFor route='newWorld'}}">New</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#port-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="port-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{pathFor route='world'}}">Top</a></li>
            <li><a href="{{pathFor route='viralWorld'}}">Viral</a></li>
            <li><a href="{{pathFor route='AfricaWorld'}}">Africa</a></li>
            <li><a href="{{pathFor route='AmericasWorld'}}">Americas</a></li>
            <li><a href="{{pathFor route='AsiaWorld'}}">Asia</a></li>
            <li><a href="{{pathFor route='EuropeWorld'}}">Europe</a></li>
            <li class="active"><a href="{{pathFor route='meastWorld'}}">Middle East</a></li>
            <li><a href="{{pathFor route='OceaniaWorld'}}">Oceania</a></li>
          </ul>
        </div>
      </div>
    </nav>
</template>

<!-- Oceania World -->
<template name="oceaniaNavWorld">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
              <a class="navbar-brand" rel="home" href="{{pathFor route='newWorld'}}">New</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#port-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="port-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{pathFor route='world'}}">Top</a></li>
            <li><a href="{{pathFor route='viralWorld'}}">Viral</a></li>
            <li><a href="{{pathFor route='AfricaWorld'}}">Africa</a></li>
            <li><a href="{{pathFor route='AmericasWorld'}}">Americas</a></li>
            <li><a href="{{pathFor route='AsiaWorld'}}">Asia</a></li>
            <li><a href="{{pathFor route='EuropeWorld'}}">Europe</a></li>
            <li><a href="{{pathFor route='meastWorld'}}">Middle East</a></li>
            <li class="active"><a href="{{pathFor route='OceaniaWorld'}}">Oceania</a></li>
          </ul>
        </div>
      </div>
    </nav>
</template>
 <!-- ~~~~~~~~~~~~~~~~~ -->
