<!--
	Templates:
	* dashboard
	* myLikes
-->
<template name="dashboard">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>{{username}} - The Digital Times Profile</title>
		<meta name="generator" content="The Digital Times" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- <link href="css/styles.css" rel="stylesheet"> -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="icon" href="img/favicon.ico">

    <style>
			{{> navInverse}}
      {{> button}}
      {{> flatBody}}
      body {
        padding-top: 25px;
      }
      a {
	    text-decoration: none !important;
	    }

      @media only screen and (min-width: 768px) {
        .intro-header .site-heading,
        .intro-header .post-heading,
        .intro-header .page-heading {
          padding: 50px 0;
        }
      }
    </style>
  </head>

  <body>
    <!-- Constant Navbar -->
    {{> constNavFix}}

    <!--Header-->
    <header class="intro-header" style="background-image: url('https://images.unsplash.com/7/Top_view.jpg?q=80&fm=jpg&s=4afed7e6e559be491437a10cec9120a8')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-offset-2 col-md-10 col-md-offset-0">
                    <div class="site-heading">
                        <h1>{ {{#if profile.name}}{{profile.name}}{{else}}{{username}}{{/if}} }</h1>
                        <hr class="small">
                        <span class="subheading"><b><a href="{{pathFor route='home'}}">{{> logo}}</a><br>{{profile.quote}}</b></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
      <!--left-->
      <div class="col-sm-3">
        {{#if currentUser}}
					{{#if myPageCheck}}
          <button type="button" id="userSubscribe"></button>
          {{userSubColor}}
					{{/if}}
          {{else}}
          <h4>To Subscribe Sign In!</h4>
        {{/if}}
            <h2>{{#if profile.name}}{{profile.name}} {{profile.lastname}}{{else}}{{username}}{{/if}} {{#if verified}}<i style="color:orange" class="fa fa-check-circle-o" title="Verified"></i>{{/if}}</h2>
          <div class="panel panel-default">
              {{#if services.twitter}}<div class="panel-heading"><a href="http://twitter.com/{{services.twitter.screenName}}">@{{services.twitter.screenName}}</a></div>{{else}}{{#if profile.twitter}}<div class="panel-heading"><a href="http://twitter.com/{{profile.twitter}}">{{profile.twitter}}</a></div>{{/if}}{{/if}}
              {{#if profile.email}}<div class="panel-heading">{{profile.email}}</div>{{/if}}
              {{#if profile.location}}<div class="panel-heading"><a href="http://maps.google.com/?q={{profile.location}}">{{profile.location}}</a></div>{{/if}}
              {{#if profile.website}}<div class="panel-heading"><a href="http://{{profile.website}}">{{profile.website}}</a></div>{{/if}}
              {{#if profile.bio}}<div class="panel-body">{{profile.bio}}</div>{{/if}}
          </div>
          <hr>
          <div class="panel panel-default">
              <div class="panel-heading">Subscribed to</div>
              {{#if profile.users}}<div class="panel-body">{{#each profile.users}}{{> subsList}}{{/each}}</div>{{else}}<div class="panel-body" style="color:darkgrey">No One Yet... Add People By hitting the Subscribe Button</div>{{/if}}
          </div>
            <hr>
      </div><!--/left-->
      <hr>

      <!--center-->
      <div class="col-sm-6">
        {{#each articles _id}}
          {{> articleHead}}
        {{/each}}
				<button class="btn btn-info btn-block" id="loadMore">Load More</button>
      </div><!--/center-->

      <!--right-->
      {{> myLikes}}

    </div><!--/container-fluid-->
	</body>
  {{> footer}}
</template>
