<template name="editProfile">
	<head>
        <!--{{> scrollTop}}-->
        <title>The Digital Times - Edit Profile</title>
        <style>
            {{> button}}
            {{> flatBody}}
            /*.btn {
              font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
              text-transform: uppercase;
              font-size: 14px;
              font-weight: 800;
              letter-spacing: 1px;
              border-radius: 0;
              padding: 10px 15px;
            }*/
        </style>
    </head>
    {{#if currentUser}}
	<body>
	<!-- Constant Navbar -->
	{{> constNavStatic}}
	<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/contact-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>{ {{currentUser.profile.name}} }</h1>
                        <hr class="small">
                        <span class="subheading">Edit your Profile</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>What's on your mind? Edit your profile so when people go to your page they'll get something to see. IMPORTANT: Fill in all the fields so you don't lose any data that you already put before!</p>
                <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                <form id="editProfile">
										<div class="row control-group">
												<div class="form-group col-xs-12 floating-label-form-group controls">
														<label>First name</label>
														<input type="text" class="form-control" placeholder="First name" name="name1" id="firstname" required>
														<p class="help-block text-danger"></p>
												</div>
										</div>
										<div class="row control-group">
												<div class="form-group col-xs-12 floating-label-form-group controls">
														<label>Last name</label>
														<input type="text" class="form-control" placeholder="Last name" name="name2" id="lastname">
														<p class="help-block text-danger"></p>
												</div>
										</div>
										{{#unless currentUser.services.twitter}}
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Twitter</label>
                            <input type="text" class="form-control" placeholder="Twitter" name="twitter" id="twitter">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
										{{/unless}}
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Location</label>
                            <input type="text" class="form-control" placeholder="Location" name="location" id="location">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Public Email Address</label>
                            <input type="text" class="form-control" placeholder="Public Email Address" name="email" id="email">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Quote</label>
                            <input class="form-control" type="text" placeholder="Quote" name="quote" id="quote">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Website</label>
                            <input class="form-control" type="text" placeholder="Website" name="website" id="website">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Biography</label>
                            <textarea rows="5" class="form-control" type="text" placeholder="Enter Bio" name="bio" id="bio"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" id="updateProfileBtn" class="btn btn-success">Update Profile</button>
                        </div>
                    </div>
                </form>
                <script>
                    if (! Meteor.user().profile.name) {}else{document.getElementById('firstname').value = Meteor.user().profile.name;};
										if (! Meteor.user().profile.lastname) {}else{document.getElementById('lastname').value = Meteor.user().profile.lastname;};
                    if (! Meteor.user().services.twitter) {
                    	if (! Meteor.user().profile.twitter) {}else{document.getElementById('twitter').value = Meteor.user().profile.twitter;};
                    };
                    if (! Meteor.user().profile.location) {}else{document.getElementById('location').value = Meteor.user().profile.location;};
                    if (! Meteor.user().profile.email) {}else{document.getElementById('email').value = Meteor.user().profile.email;};
                    if (! Meteor.user().profile.quote) {}else{document.getElementById('quote').value = Meteor.user().profile.quote;};
                    if (! Meteor.user().profile.website) {}else{document.getElementById('website').value = Meteor.user().profile.website;};
                    if (! Meteor.user().profile.bio) {}else{document.getElementById('bio').value = Meteor.user().profile.bio;};
                </script>
            </div>
        </div>
    </div>

    <hr>
    </body>
    {{else}}
		{{> constNavStatic}}
		<br><br>
		<span  style="text-align:center">
			<p><h1>{{> logo}}<br><br>To post, comment, <i>edit Profile</i> or like you need to login </h1><br><br><br><br><br></p>
		</span>
    {{/if}}
    {{> footer}}
</template>
