<template name="articlePage">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{tags}}">
    <meta name="description" content="{{subtitle}}">
    <meta name="author" content="{{author}}">

    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <style>
        {{> styleRendaPage}}
        {{> button}}
        {{> flatBody}}
        a.fa-book {
          position: relative;
          font-size: 1.25em;
          color: orange;
          cursor: pointer;
        }
        span.fa-bookmark {
          position: absolute;
          font-size: 0.6em;
          top: -4px;
          color: #4099FF;
          right: -4px;
        }
        span.num {
          position: absolute;
          font-size: 0.3em;
          top: -1px;
          color: #fff;
          right: -2.5px;
        }
        .modal-header-primary {
        	color:#fff;
          padding:9px 15px;
          border-bottom:1px solid #eee;
          background-color: orange;
          -webkit-border-top-left-radius: 5px;
          -webkit-border-top-right-radius: 5px;
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-topright: 5px;
           border-top-left-radius: 5px;
           border-top-right-radius: 5px;
        }
    </style>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{> logo}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                	  <li>
                        <a style="color:orange" href="/postform">Post <i class="fa fa-upload"></i></a>
                    </li>
                    <li>
                        <a href="/{{subjectType}}">{{subjectType}}</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    {{#if currentUser}}
                        {{> loginButtons}}
                    {{/if}}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header"> <!-- style="background-image: url('{{#if imglink}}{{imglink}}{{else}}{{randImg}}{{/if}}')" -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading strokeme" id="articleTitle">
                        <h1>{{#if shared}}{{{justText title}}} {{else}}{{title}}{{/if}}</h1>
                        <h2 class="subheading">{{#if shared}}{{{justText subtitle}}} {{else}}{{subtitle}}{{/if}}</h2>
                        <span class="meta">Posted by <a href="/j/{{articleUsername}}" target="_blank"><b id="author">{{author owner}}</b></a> on {{#if categoryCheck category}}{{createdAt.toLocaleString}}{{else}}{{createdAt.toDateString}}{{/if}} {{#if twitCheck owner}}<a href="http://twitter.com/{{twitCheck owner}}" id="twitter"><b><i class="fa fa-twitter"></i> {{twitCheck owner}}</b></a>{{/if}} {{#if shared}}<a href="http://{{domain}}"><i class="fa fa-globe"></i> {{domain}}</a>{{/if}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
              {{#if draft}}<h2>This is a draft that only you can see. Copy relevent information to Post!</h2>{{/if}}
                <div class="col-md-8">
                {{#unless draft}}
                <div title="Number of Likes" class="text-center">
            		<h2 style="color:orange; display:inline">{{likes}} <h5 style="display:inline; color:darkgray; font-family:'Montserrat';">Likes</h5> {{#if dislikes}}{{dislikes}} <h5 style="display:inline; color:darkgray; font-family:'Montserrat';">Dislikes</h5>{{/if}} {{#if citationCheck citations}}{{citations}} <h5 style="display:inline; color:darkgray; font-family:'Montserrat';">citations</h5>{{else}}{{/if}}</h2>
            	</div>
                <ul class="list-inline text-center">
                    <li>
                    	{{#if currentUser}}
	                        <a href="#" title="Like This">
	                        	<div class="like" id="like" style="color: orange">
		                            <span class="fa-lg">
		                                <i class="fa fa-heart"></i>
		                            </span>
	                            </div>
	                        </a>
                            {{heartLike _id}}
                        {{else}}
                        	{{> loginButtons}}
                        {{/if}}
                    </li>
                    <li>
                    	{{#if currentUser}}
	                        <a href="#" title="Dislike This" >
	                        	<div class="dislike" id="dislike" style="color: orange">
		                            <span class="fa-lg">
		                                <i class="fa fa-heart-o"></i>
		                            </span>
	                            </div>
	                        </a>
                           <!-- This script runs as soon as the page is loaded -->
                           {{heartDis _id}}
                        {{/if}}
                    </li>
                    <li>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http://thedigitaltimes.com{{thisPage}}" target="_blank" title="Share on Facebook">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-facebook" style="color:orange"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/share?url=http://thedigitaltimes.com{{thisPage}}" target="_blank" title="Share on Twitter">
                            <span class="fa-lg">
                                <i class="fa fa-twitter" style="color:orange"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/share?url=http://thedigitaltimes.com{{thisPage}}" target="_blank" title="Share on Google+">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-google-plus-square" style="color:orange"></i>
                            </span>
                        </a>
                    </li>
                    <li type="button" data-toggle="modal" data-target="#myModal">
                      <span class="fa-stack fa-lg cite">
                        <a class="fa fa-book" title="Cite Article">
                          <span class="fa fa-bookmark"></span> <!--Notice if citationCheck is true nothing is written -->
                          <span class="num">{{#if citationCheck citations}}{{else}}{{citations}}{{/if}}</span>
                        </a>
                      </span>
                    </li>
                    <li id="flag">
                        <a href="#" title="Flag">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-flag" style="color:orange"></i>
                            </span>
                        </a>
                    </li>
                    {{#if currentUser}}
                        <li id="reply">
                            <a href="#" title="Reply w/Opinion Article">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-reply" style="color:orange"></i>
                                </span>
                            </a>
                        </li>
                      {{#if delete owner}}
                      <li>
                          <a href="#" title="Delete Article">
                              <span class="fa-stack fa-lg deleteArticle">
                                  <i class="fa fa-times" style="color:red"></i>
                              </span>
                          </a>
                      </li>
                      {{/if}}
                    {{/if}}
                </ul>
                {{/unless}}

                {{#if draft}}
                  {{#if currentUser}}
                    {{#if delete owner}}
                      <ul class="list-inline text-center">
                            <li>
                                Delete Draft <a target="_blank" title="Delete Draft">
                                    <span class="fa-stack fa-lg deleteArticle">
                                        <i class="fa fa-times" style="color:red"></i>
                                    </span>
                                </a>
                            </li>
                      </ul>
                    {{/if}}
                  {{/if}}
                {{/if}}
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header modal-header-primary">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Sources (MLA)</h4>
                      </div>
                      <div class="modal-body">
                        <p>{{> citation}}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>
                <!--Article -->
                {{#if city}}<b><a href="https://www.google.com/search?q={{city}}" style="color:orange">{{city}}</a> - </b>{{/if}} {{#if shared}} {{{sHTML}}}...<a href="{{sourceUrl}}" style="color:orange" target="_blank">Read More</a> {{else}} {{{sHTML}}} {{/if}}
                <br><br>

                <div class="comment-section">
                    <!--{{> commentsBox id=_id}}-->
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'thedigitaltimes'; // required: replace example with your forum shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                </div>
                </div>
                  <div class="col-md-4 sidebar-gutter">
                    <aside>
                  {{#if sideExists owner _id}}
                    <div class="sidebar-widget">
                      <h3 class="sidebar-title"><i class="fa fa-line-chart"></i> Trending Opinions on this:</h3>
                      <div class="widget-container">
                        {{#each articlesOp _id}}
                          {{> asideArticleHead}}
                        {{/each}}
                      </div>
                    </div>
                  {{/if}}
                  {{#if authorOtherArticles owner}}
                    <div class="sidebar-widget">
                      <h3 class="sidebar-title">Author's Other Articles</h3>
                      <div class="widget-container">
                        {{#each myArticles _id}}
                          {{> asideArticleHead}}
                        {{/each}}
                      </div>
                    </div>
                  {{/if}}
                  <div class="sidebar-widget">
                    <h3 class="sidebar-title">Trending Articles</h3>
                    <div class="widget-container">
                      {{#each articlesTrend}}
                        {{> asideArticleHead}}
                      {{/each}}
                    </div>
                  </div>
                  </aside>
                  </div>
            </div>
        </div>
    </article>
    <hr>

    <!--  -->
    <!-- Footer -->
    {{> footer}}
    {{imgExists imglink}}
     <!-- jQuery
    <script src="assets/js/jquery.js"></script>

     Bootstrap Core JavaScript
    <script src="assets/js/bootstrap.min.js"></script>

     Custom Theme JavaScript
    <script src="assets/js/clean-blog.min.js"></script> -->

</body>
</template>
<!--
<template name="asideArticle">

</template>
-->
